[2019-08-09 02:35] georgefeast opened #408 "`NaN` is an invalid value for the `left` css style property in TooltipArrow"
## 🐛 Bug report

### Current behavior

The following warning appears in the console, generally when moving between mobile and desktop breakpoints but also just in general.

`Warning: `NaN` is an invalid value for the `left` css style property.
    in div (created by ForwardRef(TooltipArrow))`

### Steps to reproduce the bug

https://codesandbox.io/s/reakit-lc5ry

See console logs

### Expected beh

[2019-08-10 21:35] #408 closed

[2019-08-10 22:03] #407 closed

[2019-08-10 22:04] diegohaz commented on #406
It looks good! That's the right approach in my opinion. :)
Will close this for now.

[2019-08-10 22:04] #406 closed

[2019-08-11 00:25] #400 closed

[2019-08-12 16:21] vitordino opened #412 "props to attach functions to events"
## 🚀 Feature request

### Motivation

I’m refactoring a codebase to use `reakit`’s component underneath, and I keep missing some props that are common on controlled components (eg.: form inputs)..

as we have a `visible` "value" prop both on state and components (eg.: [`useHiddenState`](https://github.com/reakit/reakit/blob/master/packages/reakit/src/Hidden/HiddenState.ts#L83) and used on [`<Hidde

[2019-08-12 16:38] vitordino commented on #412
currently i’m dealing with a custom hook on top of `reakit`’s hooks, and it looks like this:

[code]

[2019-08-12 17:19] diegohaz commented on #412
I usually suggest this approach:
[code]
Related: https://spectrum.chat/reakit/general/how-to-react-on-dialog-events~710e0748-288e-4196-a030-2243eede50ca

You can also create something like `useUpdateEffect` to handle only updates.

But, yes, wapping it within an enhanced hook is also a good option.

[2019-08-12 18:21] vitordino commented on #412
nice @diegohaz thanks for your fast reply, it really helped me 🙌 ..

just to be clear, we don’t plan on putting these props on the official API, right?
if so, i think we may tag this as a question and close it

[2019-08-12 22:17] diegohaz commented on #412
Yes, right now I don't think it makes sense including this in the API as this is easily doable in the user land. But I'm glad that you opened the issue so more people can find it if they have a similar need. :)

[2019-08-12 22:17] #412 closed

[2019-08-13 14:20] AndresRodH commented on #350
Hello! I'm following the migration guide and installing `reakit@1.0.0-beta5` as `reakit-next`. I'm running into the following issue:

[code]

[2019-08-13 14:28] diegohaz commented on #350
@AndresRodH Could you please create a new issue? Don't forget to include your TypeScript version and trying `1.0.0-beta.4` just to make sure it's not a problem with the new release. Thanks! :)

[2019-08-13 14:32] AndresRodH commented on #350
@diegohaz sure thing! I'll downgrade and try again.

[2019-08-13 14:39] AndresRodH opened #413 "reakit-system error: Cannot find module 'reakit/Box/Box'"
## 🐛 Bug report

### Current behavior

Following the [migration guide](https://github.com/reakit/reakit/issues/350) from v0 to v1 installing `reakit@1.0.0-beta.5` as `reakit-next`. `reakit-system` throws the following error:

[code]

### Steps to reproduce the bug

1. Follow the [migration guide](https://github.com/reakit/reakit/issues/350) and use v 1.0.0-beta.5 as the version for reakit-next

##

[2019-08-13 14:46] diegohaz commented on #413
Hi @AndresRodH! Thanks for opening the issue.

I'll need some time to dig into this, but for now you can try to play with [Yarn resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/). Maybe the following works:
[code]

You can also rename the old reakit version to something else and keep the new one intact, but this will require more work unfortunately.

[2019-08-13 15:20] AndresRodH commented on #413
@diegohaz Unfortunately yarn resolutions didn't work :( I can always wait until this is resolved to migrate to v1.

[2019-08-18 21:33] #413 closed

[2019-08-21 01:39] ahdinosaur opened #415 "Form: File fields are object-ified on submit"
hi `reakit` folx! :smiley_cat:

## 🐛 Bug report

### Current behavior

If a field contains a value that is any type of object, it will be converted into a plain object by [`filterOnEmpty`](https://github.com/reakit/reakit/blob/master/packages/reakit/src/Form/__utils/filterAllEmpty.ts) as used in [`submit`](https://github.com/reakit/reakit/blob/master/packages/reakit/src/Form/FormState.ts#L364).

F

[2019-08-21 03:42] diegohaz commented on #415
Hi @ahdinosaur!

Thanks for opening the issue and working on a solution. There may be some improvements, but I guess that works. Feel free to open a PR.

[2019-08-21 06:37] rumsky opened #416 "with next.js(server side render) warning: Prop `aria-controls` did not match. Server: "hidden-tt4h6d" Client: "hidden-vlpmbp""
## 🐛 Bug report
with next.js(server side render) warning: Prop `aria-controls` did not match. Server: "hidden-tt4h6d" Client: "hidden-vlpmbp"

### Current behavior
using MenuDisclosure and Menu, there is a warning:Prop `aria-controls` did not match. Server: "hidden-tt4h6d" Client: "hidden-vlpmbp"

### Environment
"next": "^9.0.3",
"reakit": "^1.0.0-beta.5",
"styled-components": "^4.3.2"

[2019-08-21 06:50] rumsky commented on #416
Because I want to tirgger by 'hover', I add  onMouseEnter / onMouseLeave on MenuDisclosure, then the warning occurred. If I remove onMouseEnter / onMouseLeave the warning disappear

`<MenuDisclosure
          {...menu}
          onMouseEnter={() => {
            setVisible(true);
          }}
          onMouseLeave={() => {
            setVisible(false);
          }}>
          Preferences

[2019-08-21 08:57] rumsky commented on #416
on Server console warning :
Warning: useLayoutEffect does nothing on the server, because its effect cannot be encoded into the server renderer's output format. This will lead to a mismatch between the initial, non-hydrated UI and the intended UI. To avoid this, useLayoutEffect should only be used in components that render exclusively on the client. See https://fb.me/react-uselayouteffect-ssr for c

[2019-08-21 16:28] diegohaz commented on #416
Hi @rumsky! Thanks for opening the issue.

Are you using [Provider](https://reakit.io/docs/get-started/#server-side-rendering)?

Regarding the other warning, could you please provide a repository or CodeSandbox with the code?

[2019-08-22 03:48] rumsky commented on #416
here is respo:
https://github.com/rumsky/next-with-reakit
In _app.js I add Provider, but error still have error in both client and server side.

[2019-08-22 10:05] rumsky commented on #416
Update:
I add babel-plugin-styled-components and .babelrc , the client error resolved，but server still error.
`
Warning: useLayoutEffect does nothing on the server, because its effect cannot be encoded into the server renderer's output format. This will lead to a mismatch between the initial, non-hydrated UI and the intended UI. To avoid this, useLayoutEffect should only be used in components that

[2019-08-22 19:32] AndresRodH commented on #413
@diegohaz Thanks for getting into this so quickly! Do you have an estimate for a release that includes this fix? I am getting some work ahead by manually adding the BoxHTMLProps type to reakit-system

[2019-08-22 19:58] diegohaz commented on #413
Next release will be this weekend. Sorry for the delay.

[2019-08-22 20:02] diegohaz commented on #416
@rumsky Thanks for the reproduction!

So, the ID mismatch between server and client has gone?

That one about `useLayoutEffect` is just a warning, but I'm gonna take a better look at it over the next week.

[2019-08-22 21:32] AndresRodH commented on #413
Don't be! Thanks for this great lib :)

[2019-08-23 00:16] #376 closed

[2019-08-23 02:03] rumsky commented on #416
Yup, the ID mismatch between server and client has gone`
useLayoutEffect` still exist

[2019-08-23 18:48] efflam opened #418 "textarea : Can't put caret at a specific position when focusing"
## 🐛 Bug report

### Current behavior
When using `FormInput` as `textarea` and if there is already some text inside the input, it's impossible to put the caret at a specific position on focus.

### Steps to reproduce the bug
The bug can be experienced on the form docs page.
Use `FormInput` as `textarea` as described in the docs
[code]

### Environment
Chrome, Safari at least

[2019-08-23 19:01] diegohaz commented on #418
Thanks for reporting it @efflam!

I believe that we should add `HTMLTextareaElement` here:
https://github.com/reakit/reakit/blob/ee9623e4607ca2331563e2a44cc51ef6a874e438/packages/reakit/src/Tabbable/Tabbable.ts#L80

[2019-08-24 03:07] #393 closed

[2019-08-24 21:43] #418 closed

[2019-08-25 11:05] gurmukhp opened #421 "Tabs auto selects with ChromeVox"
With Chromevox whenever a tab is focused, it is selected. This means that during linear navigation, the last tabs panel will be shown. I would expect that the focus does not activate the tab but 'search + space' would.

[2019-08-25 11:06] #421 closed

[2019-08-28 08:43] rumsky opened #424 "Menu add prop: trigger (hover|click)"
## 🚀 Feature request
add prop 'trigger' on Menu by hover or click

[2019-08-29 07:20] rumsky commented on #424
There are so many warnings ,when use menu like this:
![image](https://user-images.githubusercontent.com/12367395/63919019-76376300-ca70-11e9-9f43-4a655a2f5d58.png)
![image](https://user-images.githubusercontent.com/12367395/63919044-83ece880-ca70-11e9-998a-b9ded938d5b7.png)

[2019-08-29 11:27] diegohaz commented on #424
I'm not seeing the warnings on the sandbox. Could you please post your code here?

[2019-08-30 03:27] rumsky commented on #424
When I add hover animation(like :https://codesandbox.io/s/reakit-animated-mm5u8?from-embed) warning error occur.
My code repos: https://github.com/rumsky/next-with-reakit

[2019-08-30 18:57] stramel opened #425 "Ability to trigger Dialog programmatically"
## 🚀 Feature request

### Motivation

I'm using the `Dialog` to build an AlertDialog that I want to trigger when someone tries to change location or when they are in an "edit" state. Triggering this programmatically would make things easier than trying to wrap a button.

[2019-08-30 19:05] diegohaz commented on #425
Hey @stramel. See if this helps you: https://spectrum.chat/reakit/general/opening-an-alert-programmatically~e4528a6e-8209-4d55-a519-ef2a7a03d77e

[2019-08-30 19:07] stramel commented on #425
@diegohaz That will work, didn't see `show` documented anywhere.

[2019-08-30 19:07] #425 closed

[2019-08-30 22:51] diegohaz commented on #424
Thanks for the code.

So, the problem is that you're using the `as` prop from `styled-components`, not from Reakit. [Styled components have their own `as` prop that might conflict with some libraries](https://github.com/styled-components/styled-components/issues/2183). The component you pass to SC's `as` will replace the one you passed to `styled()`.

[code]

Since you're replacing `Menu`, it does

[2019-08-31 23:38] diegohaz commented on #416
So, I've checked all the uses of `useLayoutEffect` we have in Reakit. None of them is supposed to run on the server, but they do need to run before the next painting, so `useEffect` wouldn't work.

That said, that warning can be ignored.

[2019-08-31 23:38] #416 closed

[2019-09-01 14:52] lxcid opened #428 "Feature request: Exposes Portal Context"
## 🚀 Feature request

### Motivation

I was wondering what do you think about exposing the `PortalContext` so that we can control where portal should live in the DOM. This might be useful if I want to manage the root level DOM elements.

I'm not sure if hiding PortalContext is something you explicitly wanted and have a reason for. If so, could you share your thoughts?

### Example

Using `LayersMa

[2019-09-01 17:49] diegohaz commented on #428
Hi @lxcid! Thanks for opening the issue!

I think the only reason for not exposing this was the lack of use cases. You're bringing one to light right now, so I think we should add that.

Would you like to do that?

[2019-09-02 01:41] lxcid commented on #428
Thanks Haz! I see, I’m not sure yet about my use case, but I believe some people might be concern about where their portal get created inthe DOM tree. If you have no objection I can send a small PR once I get home.

btw, I love your portal implementation. I’ve been looking around and I think yours is the best one. 👍

[2019-09-03 09:58] rumsky commented on #424
Thanks! I solved it as your method.

[2019-09-03 09:58] #424 closed

[2019-09-07 03:08] diegohaz commented on #360
Just to let you guys know that I'm gonna give this issue more attention over the next couple of weeks. Hopefully, we'll have the core library working on IE 11 with automated tests by the end of October.

[2019-09-07 03:27] diegohaz opened #429 "Out of beta roadmap"
Reakit v1 reached to the point that it's pretty stable in terms of functionality and lack of bugs. But there is a few things I'd like to address before getting it out of beta. I'm gonna use this issue to track them:

- [x] **`Menu` components naming**

  `StaticMenu` should become `MenuBar`. And there should be a `useMenuBarState`. `Menu` will compose from `MenuBar` (same as today with `StaticMenu

[2019-09-10 21:58] #428 closed

[2019-09-11 20:42] andycarrell commented on #360
We're using Reakit pretty extensively (Menu, Popover, Tooltip & Dialog) and I was able to get these components functioning on IE pretty well by adding a few polyfills. Could a simple solution be to add a package (`packages/reakit-polyfills`) for the one required? That way it would be opt in if you need to support IE (and other browsers)

[2019-09-11 20:47] diegohaz commented on #360
@andycarrell Yes, that's an option! Can you share the list of polyfills you had to add in order to make it work?

[2019-09-11 23:40] andycarrell commented on #360
I can give a list of polyfills we're using - it'll be more than is needed for reakit (since we depend on other libraries too)

This is the list we use:
[code]
Would highly recommend taking each one out and seeing what fails to check if it's necessary

[2019-09-13 13:10] tom-sherman commented on #360
Here are the polyfills we're using in our app that uses Reakit, all the tests pass in IE.

[code]

[2019-09-14 02:27] folz opened #432 "Button `:active` styles not applied in Firefox"
## 🐛 Bug report

### Current behavior

When clicking on a Button in Firefox, the hover styles are applied on hover but the active styles are not applied on click.

When using Chrome, the active styles are applied correctly on click.

### Steps to reproduce the bug

1. In Firefox, navigate to https://reakit.io/docs/button/
2. Click the Button

### Expected behavior

The active styles should be appl

[2019-09-15 19:24] diegohaz opened #434 "Who is using Reakit?"
Hey! 👋

If you or your company are using Reakit, please leave a comment! Include the website (if public), the repository (if public), a description on how you're using it and any other information you find relevant.

Also, please, let us know if we can put your logo on our site or README.

Thank you! :)

[2019-09-17 04:48] iagobruno opened #435 "Feature Request: Allow to move focus across items of a grid"
### Motivation

I was building an interface with a cards grid and wanted the user to be able to navigate in these cards nonlinearly using the arrow keys. I looked for something to help me in the documentation and here in the repository and even found that in the past Reakit had a [Grid component](https://github.com/reakit/reakit/blob/v0.14.0/src/components/Grid/Grid.js) but it was removed. Anyway,

[2019-09-17 04:57] diegohaz commented on #435
Thank you for opening the issue, @httpiago!

A `Grid` component is planned. It will follow the [WAI-ARIA Grid Pattern](https://www.w3.org/TR/wai-aria-practices/#grid). And the API I'm thinking on is something like this:
[code]

It's open for discussion though. So feel free to suggest a different idea.

cc @Saeris

[2019-09-17 05:24] Saeris commented on #435
Would there be any way we could make this work with CSS Grid? I'm not thrilled about the idea of specifying rows and columns in the HTML markup, because then re-flow logic would have to be calculated as different break-points are reached.

I realize that would be far from simple to implement, I just have to point it out as a major concern of mine for implementing a responsive arrow-key navigable g

[2019-09-17 05:45] diegohaz commented on #435
As per the [spec](https://www.w3.org/TR/wai-aria-1.1/#gridcell), grid cells should be contained within a [row](https://www.w3.org/TR/wai-aria-1.1/#row). This serves as a hint for screen readers announce the exact position of the cell in the grid when it's focused.

But automatically identifying the positions of the elements on the viewport would be cool as well. A solution could be adding the row

[2019-09-17 06:03] httpiago commented on #435
@diegohaz I liked your suggestion of creating new Grid components, it is more elegant than my idea. A real implementation example would be:

[code]

But I agree with @Saeris, it would be interesting to avoid setting breakpoints manually and leave it to CSS to define.

[2019-09-17 08:24] Saeris commented on #434
We're using Reakit at @CodeSandbox in many of our new components and in a lot of refactors to aid us in added keyboard accessibility to our product! Personally I'm a big fan of how easy it's been to use, it's really simple to create highly reusable components using reakit as a base, since it's no problem to add styling on top of it.

You're welcome to add us to your list! If you need any specific

[2019-09-17 09:16] lxcid commented on #434
We at @taskade is integrating Reakit as well to help improve our accessibility (focus and keyboard). Its still a WIP and not live yet. Feel free to add us.

 Thanks for the amazing hard work.

[2019-09-17 23:29] folz opened #437 "FormSubmitButton `disabled` HTML attribute not applied from `disabled` prop."
## 🐛 Bug report

### Current behavior

A `<Button disabled>` React element will produce a `<button disabled="true" aria-disabled="true">` HTML element. However, a `<FormSubmitButton disabled>` React element produces only a `<button aria-disabled="true">`, lacking the `disabled="true"` attribute.

I believe this is a bug because FormSubmitButton, FormPushButton, and FormRemoveButton are all documen

[2019-09-17 23:47] diegohaz commented on #437
Thank you for opening the issue @folz!

It's weird! `...htmlProps` should replace that `disabled` set to `options.submitting` if it receives one. I'm gonna investigate that.

[2019-09-18 02:47] rumsky commented on #416
Could you resolve the warning?If this library support SSR,I think it's better resolve 'useLayoutEffect' warning. There are too many warning in server console, It's hard to find important information，very annoying

[2019-09-18 02:49] rumsky opened #438 "Warning:" useLayoutEffect does nothing on the server" when use with SSR"
## 🐛 Bug report
Warning:" useLayoutEffect does nothing on the server"  when use with SSR
### Current behavior
Warning:" useLayoutEffect does nothing on the server"  when use with SSR

[code]

If this library support SSR,I think it's better resolve 'useLayoutEffect' warning. There are too many warning in server console, It's hard to find important information，very annoying

[2019-09-19 17:27] #437 closed

[2019-09-19 19:12] folz commented on #437
Thank you for looking into this!

[2019-09-21 00:04] Slapbox commented on #350
@diegohaz I just wanted to say that I use Reakit in production, and while a lot of stuff got broken in `.15` to `.16` and now again (and I haven't upgraded yet) - on paper a lot of what you've written out here makes sense and I'm excited to upgrade. Especially ditching `Flex`, `FlexInline`, etc, I see as a great choice. Keep up the great work!

[2019-09-21 22:10] Slapbox commented on #350
Is the `Link` element removed? Is the equivalent `<Box as="a">{children}</Box>` ?

[2019-09-21 23:44] Slapbox opened #441 "PopoverDisclosure could probably have a better name"
Super trivial, but the longer I've coded the more I've found that trivial naming issues from my past later drive me nuts.

I don't know that any of these are better, but I feel certain there's a better name for this out there.

**Possible Alternatives:**

- PopoverIndicator
- PopoverHint
- PopoverTrigger
- PopoverOpener

[2019-09-22 01:12] diegohaz commented on #441
Hi @Slapbox! May I know why you think `Disclosure` is a bad name?

It's based on the [WAI-ARIA Disclosure Pattern](https://www.w3.org/TR/wai-aria-practices/#disclosure):

That's also a standard across the library: [`HiddenDisclosure`](https://reakit.io/docs/hidden/), [`MenuDisclosure`](https://reakit.io/docs/menu/), [`DialogDisclosure`](https://reakit.io/docs/dialog/).

An alternative name could b

[2019-09-22 03:59] diegohaz commented on #350
@Slapbox

Yep! You can use `Box` for this.

They were removed because they relied on styles and the core library doesn't have styles anymore (only the necessary for accessibility).

There's an experimental `unstable_animated` option that you can pass to [`useHiddenState`](https://reakit.io/docs/hidden/#usehiddenstate) (and all its derivative modules, such as `usePopoverState`) in order to produce

[2019-09-22 16:47] Slapbox commented on #441
disagree with their choice in that case, but have no doubt that it was well considered and you're totally right to follow their guidelines.

I think you were right to identify it as most closely fitting the criteria laid out for `Disclosure` and not `Menu Button`.

Keep up the amazing work!

[2019-09-22 16:47] #441 closed

[2019-09-22 16:56] Slapbox commented on #350
Thanks for the reply! I agree it makes sense to move those features off to a secondary package like `reakit-system-palette`, I just hope some portion of the Reakit ecosystem supports them.

Because popovers enter and leave the screen, I feel those options are helpful to providing a system that "just works," even if the implementations are suboptimal or hosted outside of `reakit` core, or whatever

[2019-09-22 20:32] diegohaz commented on #432
Thank you for opening the issue, @folz! :)

I confirm that this is the line that is preventing Firefox from setting the `:active` state on any `Tabbable` component (including `Button`):
https://github.com/reakit/reakit/blob/efaa95e2090853fa70c401487f0173c6cb684738/packages/reakit/src/Tabbable/Tabbable.ts#L98

I'm still not sure how to fix that. That `preventDefault` is necessary so we can consiste

[2019-09-22 22:48] diegohaz commented on #360
Thank you @andycarrell and @tom-sherman for sharing your solutions. From what I tested, these are the required polyfills for `reakit@1.0.0-beta.7` to work on IE11:

[code]

Except for the DOM methods `closest` and `remove`, `@babel/preset-env` automatically adds the needed polyfills in production, so I think we should leave this to the user (either by using `@babel/preset-env` or importing the pol

[2019-09-22 22:54] #360 closed

[2019-09-23 18:10] folz commented on #432
Gotcha, I appreciate the time you spent looking into it.

I came across https://github.com/w3c/csswg-drafts/issues/2262, which links to two other Firefox bugs [[one]](https://bugzilla.mozilla.org/show_bug.cgi?id=1430196) [[two]](https://bugzilla.mozilla.org/show_bug.cgi?id=771241). It appears that, unlike other browsers, Firefox considers the `:active` state finished once `preventDefault()` is cal

[2019-09-23 19:14] Slapbox opened #444 "Recommended pattern for styling active tabs in v1?"
I know the tracker says questions will be closed, but since this is a change from `v0` to` v1` I felt this was still the appropriate place for this question.

In `v0` the selected tab got an `active` class assigned to it in the DOM, which I was using. This was definitely not the best way to do things and I'm grateful for `v1`, but a bit confused about how to replicate that.

In `emotion` without `

[2019-09-23 19:52] diegohaz commented on #444
Hi @Slapbox!

You can rely on aria attributes:
https://github.com/reakit/reakit/blob/8837557636432cd7c6202a67e5d7d2ad5fdd4db6/packages/reakit-system-bootstrap/src/Tab.ts#L27-L30

You can also use [`reakit-system-bootstrap`](https://github.com/reakit/reakit/tree/master/packages/reakit-system-bootstrap/src) implementation as a styling reference. It also uses emotion. :)

[2019-09-23 20:05] Slapbox commented on #444
@diegohaz you're the man! I love that upgrading to `v1` is forcing me to learn new concepts and better patterns. Sure it's a pain, but it's indisputable progress and a better foundation to build an enterprise level application on.

Thanks so much!

[2019-09-23 20:05] #444 closed

[2019-09-23 20:12] diegohaz commented on #444
I'm glad to hear that! :)

And I'm sorry about the migration pain. But, yeah, that's a huge improvement and a lot of effort has been made to make the v1 much more consistent and more likely to be adopted by big enterprise apps (I'm working on one). It shouldn't change too much even on future major versions.

[2019-09-23 21:26] folz commented on #432
I wrote a PR to demonstrate how `data-active` might be applied, as I think that a consistent visual `active` state is closely related to accessibility and is something that Reakit should consider addressing across browser differences.

However, I get that this might be outside the scope of what you want Reakit core to ship with, so please feel free to close the PR and I'll introduce those changes

[2019-09-23 22:59] Slapbox commented on #444
It's totally worth the pain!

[2019-09-24 20:45] Slapbox opened #446 "Popover placement behavior changed from v0 to v1 causing popover to leave viewport"
## 🐛 Bug report

### Current behavior

Popover is always popping down to the right in my configuration, off the screen.

All placement options yield the following identical `transform` on the popover container element:

[code]

### Steps to reproduce the bug

_To be provided later_

### Expected behavior

Popover with `placement: 'left'` should pop left. I tried using `unstable_flip`, expanding th

[2019-09-24 20:53] Slapbox opened #447 "Tippy tooltip (powered by popper.js) teleports to top left of TabList element when changing visible tabs"
## 🐛 Bug report

### Current behavior

When changing tabs, programmatically opened [Tippy](https://github.com/atomiks/tippy.js-react) tooltips are teleported to the very top left of the TabList element briefly before disappearing.

I know Reakit has built in tooltips, but we're already a long ways down this road.

More importantly, `Tippy` uses `popper.js` so presumably this affects any implementa

[2019-09-25 19:03] Slapbox commented on #446
I've been trying to find a way to recreate this all morning both in online sandboxes from scratch and by mangling and reverse engineering my own code, but no luck. All I've got right now is this very demonstration of a `Popover` using `placement: 'left-start'`

https://recordit.co/9X4KpO2Hdm

There's adequate room in all directions around the element for the `Popover` to display. In my environment

[2019-09-25 20:01] Slapbox commented on #446
I'm noticing nothing I do with `unstable_flip` seems to be valid.

I get the following error for every attempt:

[code]

**I've tried each of these with the same results:**
- `unstable_flip`
- `unstable_flip={true}`
- `unstable_flip="true"`

[2019-09-25 21:14] Slapbox opened #448 "Can't select text inside of Rover"
## 🐛 Bug report

### Current behavior

I'm trying to recreate the behavior of `<Step />` but there's an issue with selecting text rendered inside of a `<Rover />`. It can't be selected.

I tried using `as={Box}` to render it as a `div` but text selection is still not allowed. Using devTools to modify the Rover to be a `div` or `span` works, but only if `as` is not used.

The `focusable` property d

[2019-09-25 21:49] diegohaz commented on #448
Good catch @Slapbox! Thanks for that!

This happens because `Tabbable` (used by `Rover`) has an `onMouseDown` handler that calls `event.preventDefault()`:
https://github.com/reakit/reakit/blob/8837557636432cd7c6202a67e5d7d2ad5fdd4db6/packages/reakit/src/Tabbable/Tabbable.ts#L98

This is primarily used to ensure that focus works consistently across browsers (for example, some browsers put focus on

[2019-09-25 22:08] diegohaz commented on #446
I have no idea what it could be. Could you try `reakit@1.0.0-beta.8`? It has a bug fix on `Popover` related to another issue, but there's a chance that it'll work for your issue too.

[2019-09-25 22:16] diegohaz commented on #448
The "best" solution I can think of is rendering `button`s as `div`s by default and remove this whole `onMouseDown` interception.

[2019-09-25 22:51] Slapbox commented on #448
Ahhh I looked through `Rover` for clues, but didn't make it over to `Tabbable`. Good catch by you as well and thank you!

Your solution works great and can actually be simplified down to simply wrapping the children with `{props => ()}`, but I don't understand what's going on. Can you help me understand why this works?

https://codesandbox.io/s/reakit-rover-text-selection-3lr8c

I'm not the best t

[2019-09-25 22:54] diegohaz commented on #448
Your example is not working. You are simply rendering a `span`. You have to pass `props` to it (filtering out `onMouseDown`).

[2019-09-25 23:08] Slapbox commented on #448
Ah yes, I see. I'm using `Rover` as a replacement for `Step` which didn't have hotkey handling, and noticed I had my Rover component wrapped in a custom hotkey handler for arrow-based navigation from back in `v0`.

I technically have my use case working, but I'm trying to move to a 100% Reakit solution so possibly some more questions.

Thanks always @diegohaz!

[2019-09-25 23:31] diegohaz commented on #448
Regarding the issue with `onMouseDown`, I posted a Twitter thread (putting it here for reference): https://twitter.com/diegohaz/status/1176998100495491072

[2019-09-25 23:33] diegohaz commented on #432
I posted a Twitter thread about turning Reakit buttons into divs: https://twitter.com/diegohaz/status/1176998100495491072

Getting rid of this `onMouseDown` will potentially fix this problem and #448

[2019-09-25 23:40] Slapbox commented on #448
Nestable buttons is a compelling reason. My first thought was, "What's the use case for nesting buttons?" - then I realized we have one. Not all of our application is done with Reakit (yet.)

If you're really torn on the matter, I read the thread and think that moving to `div` based buttons sounds preferable.

Your [comment on the downsides](https://twitter.com/diegohaz/status/1177000979704811521)

[2019-09-26 00:01] Slapbox commented on #446
That gets things much closer! I think there's still some discrepancy between `v0` and `v1`, but it could be a configuration issue on my point at this point. Still tinkering.

Are valid placements the same as [used by Popper.js](https://popper.js.org/popper-documentation.html#Popper.placements)?

[2019-09-26 00:13] Slapbox commented on #446
It's fixed!

[2019-09-26 00:13] #446 closed

[2019-09-26 14:08] namjul opened #449 "Remove open Dialog flicker"
## 🚀 Feature request

### Motivation

`body-scroll-lock` has the option `reserveScrollBarGap` the preserve scrollbar-width.
If this gets enabled the dialog would not flicker when opening it.
https://github.com/willmcpo/body-scroll-lock#reservescrollbargap

### Possible implementations

Could be enabled here:
https://github.com/reakit/reakit/blob/master/packages/reakit/src/Dialog/__utils/usePrevent

[2019-09-26 14:10] diegohaz commented on #449
Thank you! Would you like to send a PR for that?

[2019-09-27 22:34] #449 closed

[2019-09-28 00:17] Slapbox opened #451 "Expand usability of primitives in styled-components/emotion"
## 🚀 Feature request

### Motivation

Improve composability of styles for elements. You're no doubt aware that with `emotion` you can do something like below. I don't know if it's possible, but it would be really cool and helpful to be able to use Reakit primitives in these sorts of situations. (Though I'm feeling 50/50 on @diegohaz swooping in and schooling me on why this isn't necessary because

[2019-09-28 19:24] Slapbox opened #452 "Can Emotion's css tool be used in conjunction with string classNames in Reakit?"
Taking this example from the docs:

[code]

Is there some way we can also use string `classNames` in conjunction? Say I had a class called `primaryButton` or something like that that I wanted to use in addition to the `css` shown above. Is that possible?

 I think what I'm asking is not something that conforms with best practices, but it would make it easier to move from SCSS styling to Reakit in

[2019-09-28 19:50] diegohaz commented on #451
I think the easiest way to do that is wrapping Reakit components on your app:
[code]
[code]

[2019-09-28 19:55] diegohaz commented on #452
There's nothing special on Reakit regarding this. So I guess you'll have better answers asking on `emotion` channels.

As far as I know, `css` returns a string, and you can concatenate it with other strings. There's also a `cx` helper:
[code]

[2019-09-28 19:55] #452 closed

[2019-09-28 20:12] Slapbox commented on #452
@diegohaz specifically the reason I asked is because with `emotion` you pass `css` as a prop called `css` which leaves the `className` prop open for use as usual.  That's not the case with `reakit` though.

For example, the [emotion Array example](https://emotion.sh/docs/object-styles):

[code]

Your example is very helpful though. I think what you're saying is that it returns a `className` on the

[2019-09-28 21:06] diegohaz commented on #452
Emotion's css prop should work with Reakit. Isn't it working?

[2019-09-28 21:16] Slapbox commented on #452
@diegohaz It looks like the reason I wasn't seeing changes applied is this bug that I think is in Emotion. Doesn't appear to be anything to do on `reakit`'s size.

That said, I didn't have any luck at all with this pattern in my attempts to get this working:

[code]

[2019-10-03 12:08] SpadarShut opened #454 "PopoverArrow size prop doesn't work"
## 🐛 Bug report

### Current behavior
passing size prop to `PopoverArrow` doesn't work. It just sets the size attribute in the DOM node, but actual size is still 30.

### Steps to reproduce the bug

https://codesandbox.io/s/reakit-sspbs

### Expected behavior

Arrow size should change and the size prop should not be on the DOM node.

[2019-10-04 00:30] #454 closed

[2019-10-04 00:32] diegohaz commented on #454
Thanks for reporting this issue! That will be fixed in the next release! In the meanwhile, you can override `style.fontSize` on the component:
[code]

[2019-10-05 06:43] giuseppeg opened #456 "Support iframes"
## 🚀 Feature request

### Motivation

Hello there, I am evaluating Reakit to figure out if we can use it at work and one constraint we have is that we render our React application inside of an iframe and that when app code uses globals like `document`, these should be the iframe's.

### Example

This is one of the many examples:

https://github.com/reakit/reakit/blob/5f51e395835ae1d1c26fc97699d021

[2019-10-05 21:59] diegohaz commented on #456
I'm not sure how it would be implemented using context? Do you have any CodeSandbox example of that?

[2019-10-06 07:25] giuseppeg commented on #456
Using context is probably the last option I would look at but I'd provide `document` via a top level provider. I would try to avoid this as much as possible though and try to patch the library like in the example above using `ownerDocument`.

Do you have a rough idea about how much it would take to implement this? I could spend half a day at work sometime.

[2019-10-06 08:53] diegohaz commented on #456
The only problem I see is that there are several parts of the code using `document` and `window` without any reference to an element.

I still don't know if I understood it correctly. Are you saying that the value of `window` and `document` when being accessed from within an iframe are actually referencing the parent window? I'm not experienced with iframes, but I'd expect that it worked the same

[2019-10-06 12:15] giuseppeg commented on #456
That is an issue indeed! Maybe functions and components could have arguments or props which default to globals?

Correct, imagine that the library code runs in the the host page (parent window) and creates an `iframe` and renders the React application inside of the iframe.

When you access `document`, `window` or any other global those would be the parent's (host) window.

This is a problem when y

[2019-10-06 17:12] diegohaz commented on #456
The code lives in the parent window. Got it!

I think the first step is to map all the usages of `window` and `document` throughout the codebase and determine their situation, for example:
- works
- doesn't work
- may use an element from the scope
- may receive an element from parameters
- may receive an element from the context
- can't receive element (e.g. [`document.body` being used on the top

[2019-10-07 16:42] #438 closed

[2019-10-08 21:29] jperasmus commented on #448
@diegohaz

I'm not 100% sure about the history and discussions that led to the `onMouseDown` interception in the `Tabbable` component, so excuse if this is not relevant. From what I can gather, this interception was added to ensure cross-browser consistency, specifically for handling the focus state on button clicks (Firefox and Safari). I recently read an article that could offer an alternative s

[2019-10-14 10:46] artalar commented on #353
What is actually a "message" component?
How can I implement notifications, like it https://ant.design/components/message/?
(do I need to create separate issue?)

[2019-10-14 14:48] diegohaz commented on #353
@artalar I think it's better to create a new issue. The pattern you're looking for is [Alert](https://www.w3.org/TR/wai-aria-practices/#alert). We're going to create it at some point once we're out of beta, but it's not a priority of mine right now. If you create an issue, someone can rope in and work on that.

[2019-10-14 15:38] artalar commented on #353
Ok, thx.
By the way: https://inclusive-components.design/notifications/

[2019-10-14 15:43] artalar opened #464 "Notification component"
## 🚀 Feature request

### Motivation

Notification - is a standard pattern to tell a user about some unimportant event, without blocking the interface.

### Example

https://ant.design/components/message/

### Possible implementations

https://inclusive-components.design/notifications/

[2019-10-18 10:41] jole78 opened #465 "Checkbox value <> aria-checked sync issue"
## 🐛 Checkbox value <> aria-checked sync issue
Don't know this is a bug or something I've missed but thought I'd report it anyway.
When checkbox checked is set from outside the onChange handler aria-checked is not in sync any more.

### Current behavior

useCheckbox value is not in sync with aria-checked unless the checkbox is clicked.

### Steps to reproduce the bug
I saw this in an experiment so

[2019-10-20 18:41] Slapbox opened #466 "Warning: React does not recognize the `textOnly` prop on a DOM element"
## 🐛 Bug report

### Current behavior
Passing a prop to a `styled(Box)` for dynamic styling can result in this warning, but does not cause any warning for `styled.div`.

### Steps to reproduce the bug

https://codesandbox.io/s/reakit-f8mhg?fontsize=14

### Expected behavior

Don't pass invalid props to the DOM.

### Possible solutions

This mention of using `shouldForwardProp` over  emotion-js see

[2019-10-21 04:33] diegohaz commented on #466
Reakit used to filter out non-DOM props in the past, but that's not a good solution. Other than the impact on the bundle size, it has also poor performance as you have to compare the props against a huge list of valid props on every render.

That's why Reakit doesn't care about this anymore.

It works with `styled.div` because `styled-components` automatically filters invalid HTML props out for na

[2019-10-21 04:35] #466 closed

[2019-10-21 21:57] Slapbox commented on #466
@diegohaz - fair enough. I can definitely see the performance argument.

In a related question, I'm not really clear on what benefits are offered by using `styled(Box)` vs `styled.div`, if any. I know `Box` has benefits in a standalone usage like `<Box />`, but are there benefits when combining with `styled`?

I've been using Boxes everywhere to try to be consistent, and because they make for clea

[2019-10-22 01:28] diegohaz commented on #466
@Slapbox The only advantage I can think of is that it'll support render props.
[code]
If it's worth it or not, it depends on what you're doing on your app.

[2019-10-28 18:53] rumkin opened #468 "Form onValidation shouldn't throw"
## Enhancement

Current form onValidation property has two design issues: 1. It throws. 2. It throws non-error.

First, validation method shouldn't throw it should return a report/explanation why data is invalid. Programmer should decide what to do with this report and probably throw exception. Validation should throw only when something went wrong like invalid options were passed.

Second, throwi

[2019-10-30 03:33] miketamis opened #469 "Cannot scroll on view in popup"
## 🐛 Bug report
### Current behavior
In a popup even if the the div in the popup is scroll: auto; the content is not scrollable on iOS (tested on iPad- iOS 11.3.1 and iPhone 11 Pro iOS 13.2)

Explain what's happening.

### Steps to reproduce the bug

1. Open sandbox: https://codesandbox.io/s/reakit-sci4x on an iOS device
2. Click Open Dialog
3. attempt to scroll coloured blocks
4. Obverse it is un

[2019-10-30 19:42] #384 closed

[2019-10-30 20:13] btzr-io opened #471 "Inconsistent behavior of tooltip on disabled buttons"
## 🐛 Bug report

### Current behavior

`Tooltip` on disabled buttons  fails to hide properly on chromium based browsers ( chrome, brave...) Tested only on linux.

On Firefox works as expected :+1:

### Steps to reproduce the bug

Provide a repo or sandbox with the bug and describe the steps to reproduce it.

1. Open sandbox: https://codesandbox.io/embed/reakit-menu-with-tooltip-1fvz3
2. Hover `dis

[2019-10-30 20:48] diegohaz commented on #471
Looks like `onMouseEnter` is fired on React disabled buttons, but not `onMouseLeave`:
[code]

`TooltipReference` uses `onMouseEnter` and `onMouseLeave` to show/hide the tooltip:
https://github.com/reakit/reakit/blob/65650b3730a4ebcb6c47280277393cc793d5b44a/packages/reakit/src/Tooltip/TooltipReference.ts#L44-L45

Not sure if it's a bug on React or something. The right behavior is to not fire any of

[2019-10-31 07:02] diegohaz commented on #471
I've opened an issue on React: https://github.com/facebook/react/issues/17229

By the way, temporarily, you can fix it by grabbing the `onMouseEnter` and `onMouseLeave` props and re-assigning them to `onMouseOver` and `onMouseOut`:
[code]

Things to note:
- Put `{...props}` last so, if things change later, your code will not break.
- This will not show the tooltip on `disabled` buttons since they'

[2019-10-31 13:32] thefrontendwizard commented on #434
We just started to use reakit @usabilla for our new components. The clean API and accessibility solutions are really amazing.

You're welcome to add us to the list :)

[2019-10-31 14:58] davidbarker opened #472 "MenuItemCheckbox and MenuItemRadio don't get checked"
## 🐛 Bug report

### Current behavior

MenuItemCheckbox and MenuItemRadio appear in the menu as items, but nothing is checked (no dot or tick), and clicking on any of the items doesn't check any items.

### Steps to reproduce the bug

Bug occurs in the documentation (https://reakit.io/docs/menu/#menu-bar) and also in the sandbox I recreated using the documentation code (https://codesandbox.io/s/re

[2019-10-31 20:02] #472 closed

[2019-10-31 20:20] diegohaz commented on #472
Thanks for reporting it @davidbarker! It'll be fixed in the next version.

As an alternative, it's more verbose, but you can also pass `onChange` and `checked` by yourself:
[code]

[2019-10-31 20:21] davidbarker commented on #472
You’re welcome — thanks for a great library!

[2019-10-31 20:28] diegohaz commented on #448
It has been fixed on #458. Will be available in the next release.

[2019-10-31 20:28] #448 closed

[2019-11-01 01:30] abrahamwilliam commented on #471
@edwincoronado @diegohaz  @btzr-io

I have identified the fix to this issue/Bug, just testing it.I am proceeding to it, please let me know if any issues.

[2019-11-01 04:17] StorytellerCZ commented on #434
Just published a new version of my project: [Literary Universe](https://www.literaryuniverse.com)
I'm not a designer so it doesn't look much. Also I have been implementing Reakit since the early days of 1.0 beta, so I still have to go back and redo some of the older components.

[2019-11-01 21:10] folz opened #475 "Request: Whitelabeled warning messages from reakit-utils/warning"
(As always with my reakit-system-related requests, please feel free to say I should handle this myself for now.)

## 🚀 Feature request

I would like `warning` in reakit-utils to support arbitrary labels and not have `reakit` hardcoded in the label.

### Motivation

For my component library built with reakit and reakit-system, I'd like the ability to throw warnings in development and have them tagg

[2019-11-01 23:37] diegohaz commented on #475
If we're going to make this more generic (which I'm totally open for), I'd go for an API like this:
[code]

[2019-11-01 23:41] diegohaz commented on #475
Also, make sure you're using it together with [`babel-plugin-dev-expression`](https://github.com/4Catalyzer/babel-plugin-dev-expression). Otherwise, your production bundle will end up with a bunch of strings that can't be minified.

[2019-11-02 05:42] diegohaz commented on #469
Looks like `body-scroll-lock` disables all scroll elements except the one it receives as the argument. Not sure if it's a bug or intended behavior. A workaround is to use it on your app and pass your scroll element: https://codesandbox.io/s/reakit-dialog-with-scrollable-content-tx72h

[2019-11-02 07:18] btzr-io commented on #434
I'm using reakit for the toolbar component in my new project: [Villain](https://github.com/btzr-io/Villain), an open source web-based comic book reader. Currently is just a react component but the idea is to have a web app + embed api.

This comic book viewer is also used inside the [`lbry-desktiop`](https://github.com/lbryio/lbry-desktop) project.

[2019-11-03 05:29] artalar commented on #464
More info: https://github.com/jackbsteinberg/std-toast/

[2019-11-04 15:11] stphnnnn opened #477 "'forceFocus' is not exported from 'reakit-utils/tabbable'"
## 🐛 Bug report

### Current behavior
Trying to build a React application which uses the Popover component, the following error is shown:
[code]
### Possible solutions
Dialog is trying to import `forceFocus` which has been renamed to `ensureFocus` since https://github.com/reakit/reakit/pull/458

I think this will need renaming everywhere.

### Environment

[code]

[2019-11-04 18:17] folz commented on #475
Sounds good to me. I'll whip up a PR removing the concept of `label` and converting the existing callsites to include `[reakit/*]`. Should have it over soon.

[2019-11-05 02:26] diegohaz commented on #477
This has been already renamed. I can't reproduce this issue. Could you please provide a CodeSandbox?

[2019-11-05 10:09] thefrontendwizard opened #478 "Can HiddenDisclosure be based on anything other than a button?"
I have a case where I need a slightly more complex component to toggle a popover, can this be achieved currently on reakit?

[2019-11-05 10:27] stphnnnn commented on #477
This seems to be working now. I think I had the latest version of `reakit-utils` but an older version of `reakit` where the export was not renamed.

Sorry for the premature issue, love this library so far!

[2019-11-05 10:27] #477 closed

[2019-11-06 19:10] #475 closed

[2019-11-07 14:37] StorytellerCZ opened #480 "Disabled Button is not clickable after being enabled"
## 🐛 Bug report

### Current behavior

When having a Button with `type="submit"` in a form renders the form unsubmitable. Can't trigger the submit action from input fields nor clicking at the submit button.

### Steps to reproduce the bug
1. Open sandbox: https://codesandbox.io/s/stoic-poitras-1f4or
2. Write something and try to click the button (or hit enter in the input field), nothing happens.

[2019-11-07 16:31] tom-sherman commented on #480
This does seem to be an issue with Reakit's `Button`. The following code (using a  `<button>`) triggers the onsubmit callback.

Codesandbox: https://codesandbox.io/s/festive-rain-soyzl

[code]

[2019-11-07 16:39] tom-sherman commented on #480
This seems to be an issue with using the render prop of `react-final-form` in combination with a Reakit submit button. When using a native form element, Reakit beta 10 works as expected: https://codesandbox.io/s/withered-dust-uf08c

[2019-11-07 18:18] diegohaz commented on #480
It's indeed a bug. Working on a fix.

[2019-11-07 21:02] miketamis commented on #17
@diegohaz why was the table component removed?

[2019-11-07 21:18] #480 closed

[2019-11-07 21:41] diegohaz commented on #17
@miketamis The Table component was pretty much styling stuff. There's no styling in the `reakit` package anymore, so it doesn't make sense to have it.

[2019-11-07 23:07] Slapbox opened #482 "Popovers get blurry when zooming out with browser"
I guess this is just an inevitable fact of using `transform-3d`, but I found it curious that `unstable_portal` actually produces blurrier results, and I wondered if we know why that might be. Other than that one issue I've personally had better luck with `unstable_portal` than without.

I assume there's no good alternative to `transform-3d` here?

### Zoom 100%:
![image](https://user-images.github

[2019-11-08 00:08] StorytellerCZ commented on #480
Thanks for the fix! I found it at 1 in the morning so sorry for the report not being a better quality.
Any chance that this could be released soon?

[2019-11-08 00:19] diegohaz commented on #480
No worries! Thanks for reporting it! I'll cut a release today or tomorrow at the most.
By the way, thanks for the donation! ❤️

[2019-11-08 00:41] StorytellerCZ commented on #480
Thanks! I'm in a pitch, because if I go back to beta.9 I run into another error in my app that has been fixed in beta.10. :sweat_smile:
I wish I could donate more and regularly, but sadly I have been burning through my savings for a while.

[2019-11-08 01:38] folz commented on #434
We’re using reakit and reakit-system at @Nextdoor to build our design system’s component library. You can use our logo to indicate we use reakit, it's at https://about.nextdoor.com/us-media/.

Reakit’s first-principles focus on accessibility is a great foundation to build on top of, and we like reakit-system’s unique approach to behavior composition. All of our component library is implemented usi

[2019-11-08 04:57] diegohaz commented on #480
It's been released as `v1.0.0-beta.11`!

[2019-11-08 05:18] diegohaz commented on #482
It seems to be an issue on `popper.js` (or on the browser itself).

Related:
- https://github.com/FezVrasta/popper.js/issues/764
- https://github.com/FezVrasta/popper.js/issues/682

[2019-11-08 05:18] #482 closed

[2019-11-08 05:20] diegohaz commented on #478
@thefrontendwizard It's hard to answer without an example :(
Gonna close this for now. Please, use [Spectrum](https://spectrum.chat/reakit) or [StackOverflow](https://stackoverflow.com/questions/tagged/reakit) for usage questions.

[2019-11-08 05:20] #478 closed

[2019-11-08 05:50] diegohaz commented on #468
Thank you for opening the issue @rumkin!

I still don't have opinions about this. But researching a bit, I see that Formik also throws: https://github.com/jaredpalmer/formik/blob/5bae8e05f60e1801d8740317a38c2992f7750470/src/Formik.tsx#L722

Just putting here for future reference.

[2019-11-08 07:24] jperasmus commented on #468
+1 for non-throwing validation. API's I've used in the past that I liked is if the validation method returns `undefined`/`null` for no issues and a record of failing fields with their errors (array). Similar to how https://validatejs.org/#validate does it.

[2019-11-08 09:01] tom-sherman opened #484 "Upgrade to Typescript 3.7?"
## 🚀 Feature request

### Motivation

It's released so we should update!

### Example

n/a

### Possible implementations

n/a

[2019-11-08 13:37] rumkin commented on #468
@diegohaz I mean that validator itself shouldn't throw its result. The result of validation method call should be returned. And the error should be thrown only when something unexpected happen. But, when you try to send (or use somehow) the data that hasn't pass the validation, then you should throw.

Throwing non-errors considered as anti-pattern/bad practice anyway. Here are references in eslint

[2019-11-08 15:36] #484 closed

[2019-11-08 20:11] Slapbox commented on #482
Thanks for taking the time to document the suspected underlying cause @diegohaz!

Do you have any idea why `unsafe_portal` makes the issue worse? Is it simply a matter of requiring a "larger" `transform-3d` value to position properly, increasing blurriness? Is it simply a mystery?

The reason I ask is that the default entry motion without `unsafe_portal` is triggering a [Tippy](https://github.com/

[2019-11-08 21:45] diegohaz commented on #482
It’s a mystery for me. I can’t really reproduce it. Not sure if it’s the code (tried with the popover examples on the site), the browser or the MacBook screen, which has high PPI. I can check later with my wife’s PC, but its screen has also high resolution, so I’m afraid I’ll not be able to see this issue.

[2019-11-09 01:23] phil-lgr commented on #256
What about taking inspiration from https://reacttraining.com/reach-ui/combobox

[2019-11-09 01:39] diegohaz opened #487 "RFC: Support controlled state hooks"
## 🚀 Feature request

Please, don't understand this as something I decided to do. This is just a possible idea I'm leaving here to solve a common problem. There may be better ways to approach this problem.

### Motivation

Right now, state hooks only accept an initial state argument, which means it can't be changed on subsequent renders:
[code]
The only way to update `placement` in the example abo

[2019-11-09 15:35] tom-sherman commented on #487
Personally, I don't mind the verboseness, I can always extract the complexity away into my own hook. Having it work differently from `React.useState` would add some magic.

I like the alternative of exposing a `hook.setState` although I do wonder if it will lead to leaky abstractions. Setting some state that was never meant to be changed for example.

My suggestion would be to provide methods for

[2019-11-09 17:34] diegohaz commented on #487
Now that I’m thinking more about that, I agree with you @tom-sherman! So, every initial state property should have its respective `setProperty` function.

So we have to map all the missing ones and add them.

[2019-11-09 17:37] diegohaz commented on #487
On that note, `place` should be `setPlacement` instead.

[2019-11-10 18:45] btzr-io opened #488 "MenuItemRadio component throws warning message on conditional render"
## 🐛 Bug report

### Current behavior
When usign `menuItemRadio` component on conditional render throws warning message:

[code]

### Steps to reproduce the bug

Provide a repo or sandbox with the bug and describe the steps to reproduce it.

1. Open sandbox: https://codesandbox.io/s/reakit-menu-with-tooltip-0f7nw?from-embed
2. Interact with menu to toggle condition rendering.
3. See console logs

[2019-11-14 10:19] artalar opened #490 "Integrate with issuehunt"
## 🚀 Integrate with [issuehunt](https://issuehunt.io)

### Motivation

Support this awesome project

### Example

https://issuehunt.io/r/ant-design/ant-design

### Possible implementations

https://issuehunt.io/r/new

[2019-11-14 10:29] tom-sherman commented on #490
I'm interested if any other projects have combined both Open Collective and IssueHunt, do you know of any?

[2019-11-14 10:41] artalar commented on #490
No :eyes:

[2019-11-14 15:58] diegohaz commented on #490
Thank you for the suggestion. Just added Reakit to IssueHunt: https://issuehunt.io/r/reakit/reakit

[2019-11-14 15:58] #490 closed

[2019-11-15 05:42] btzr-io commented on #488
Anyway to suppress this errors / warnings ?

[2019-11-16 20:38] Slapbox opened #496 "Elaboration of plans for Reakit-integrated animations, if any?"
## 🚀 Feature request

Following up on what @diegohaz mentioned [here](https://github.com/reakit/reakit/issues/350#issuecomment-533847935):

 I was wondering if there's any more information on the roadmap to bring animation features (like `fade` and `slide` for Popovers) back to the Reakit ecosystem. I've long been holding off on choosing an animation library, but I think it's about time I do that,

[2019-11-17 22:51] diegohaz commented on #496
There's no plan yet, but here's an experimentation around how it could look like: https://codesandbox.io/s/reakit-animated-system-t3hxg

[2019-11-19 19:40] btzr-io opened #497 "Interacting with a toolbar item triggers updates for all the other items"
## 🐛 Bug report

### Current behavior

Interacting with a toolbar `item` or menu `item` (also inside toolbar) triggers updates for all the other items.

### Steps to reproduce the bug
1. Open sandbox: https://codesandbox.io/s/reakit-menu-with-tooltip-4wbml?from-embed
2. Remove any line
3. See console logs

### Expected behavior

I'll expect to just update the button that the user is interacting.
S

[2019-11-19 19:53] diegohaz commented on #497
Thanks for opening the issue! That's the intended behavior, but maybe we can trigger updates only on the relevant components (the one that is losing focus and the one that is receiving focus).

But I'm not sure if the added check would be faster than just rendering the component. We need some automated performance test. Related to #429

[2019-11-20 06:19] Intelecis commented on #488
Good of you for opening a question under discussion. We will get back to you as soon as we can.[ Click here](https://www.intelecis.com) for more information about warning message.

[2019-11-20 10:04] SpadarShut opened #498 "Checkbox doesn't get checked if it is passed onChange prop"
## 🐛 Bug report

### Current behavior

Checkbox doesn't get checked after click if it is passed `onChange` prop

### Steps to reproduce the bug

https://codesandbox.io/s/awesome-carson-2lcbi?fontsize=14

### Expected behavior

Clicking checkbox should check it (state is handled externally)

### Possible solutions

Looks like the checkbox gets unchecked during `useDelayedEvent` hook lifetime. This

[2019-11-20 15:25] tom-sherman commented on #498
You can get this working by passing some checkbox state into the Reakit Checkbox component: https://codesandbox.io/s/jolly-cerf-yng3s

You can read up on the "why" of the above here: https://reakit.io/docs/managing-state/

[2019-11-20 16:45] diegohaz commented on #498
@SpadarShut Thanks for opening the issue! It's a little bit tricky to understand it as your CodeSandbox doesn't quite work (even with Material UI Checkbox). You need to spread `Field`'s `{...props.input}` into the checkboxes.

You can solve that my doing either what @tom-sherman proposed or by replacing the internal Reakit Checkbox `onChange` altogether:

[code]

Note that you can do that (replace

[2019-11-20 16:50] diegohaz commented on #415
Hi @ahdinosaur! Are you still willing to work on this? :)

[2019-11-20 16:52] #451 closed

[2019-11-20 16:54] diegohaz commented on #447
Closing this issue as we couldn't reproduce it. Please, if the problem persists and you can find a way to reproduce it, let me know and I'll reopen the issue.

[2019-11-20 16:54] #447 closed

[2019-11-20 17:01] diegohaz commented on #498
This is the `react-final-form` `onChange` implementation: https://github.com/final-form/react-final-form/blob/213a397c9e9f2d3448f0c5457e5f2c9606f6e6cc/src/useField.js#L143-L175

We should be able to reproduce that without `react-final-form` within a test here: https://github.com/reakit/reakit/blob/master/packages/reakit/src/Checkbox/__tests__/index-test.tsx

[2019-11-20 19:49] SpadarShut commented on #498
@diegohaz @tom-sherman Should this be working? I expect it to be, but this actually doesn't work.

https://codesandbox.io/s/fast-leftpad-d6nbd

[code]

[2019-11-20 19:59] Und3Rdo9 commented on #396
@stramel  You could also use the new `forwardedAs` prop added in `styled-components` v4.3. When applied to your codesandbox it seems to properly keep the Button attributes.
See:
https://custom-elements-everywhere.com/ https://www.styled-components.com/docs/api#forwardedas-prop

[2019-11-20 22:29] diegohaz commented on #498
Yep! That should work. We should fix that!

[2019-11-21 03:19] #498 closed

[2019-11-21 03:55] #465 closed

[2019-11-22 10:11] Saeris opened #502 "Form method `reset()` not working, Add FormResetButton"
## 🐛 Bug report

### Current behavior

Currently there isn't a button to use with `useFormState` to reset a form, similar to the existing submit, push and remove buttons. This means if you try to spread the form state on Reakit's `Button` element or a native HTML button element, you'll get numerous invalid prop errors, or you'll have to wire up individual props yourself.

If you manually call `for

[2019-11-22 10:28] tom-sherman commented on #502
For consistency it does make sense to add a `FormResetButton` component but I'm not sure if it offers any benefits over just wiring it up yourself, as you have done.

`FormSubmitButton` has extra state logic so it requires it's own component & hook, I'm not sure that would be the case for a reset button.

[2019-11-22 13:44] diegohaz commented on #502
@Saeris It seems to work as expected to me too! The `Other places` fields aren't working because you're looping through the initial values of `socialLinks`. Changing it to `form.values.socialLinks` works: https://codesandbox.io/s/codesadbox-prototyping-playground-9obwc

Pressing `Cancel` in the sandbox above will reset both the `bio` input and the `socialLinks`. Also, it's fine to use `i` as the `

[2019-11-22 14:01] Saeris commented on #502
@diegohaz thanks for the tips! I've been staring at this component for the past two days so I had an inkling I was missing something obvious.

I thought `reset(0` was broken because the logged object wasn't returning the expected value for `socialLinks`, after hitting cancel it would log an empty string when I removed an item.

@tom-sherman true it might not be all that useful other than to reduce

[2019-11-22 14:08] Saeris commented on #502
So actually @diegohaz I tried the sandbox you linked and the reset problem persists.

Try the following:

1. Click Edit Profile
2. Remove a link by clicking the X button
3. Click Cancel

The expected behavior is that the link which was removed should be back.

[2019-11-22 15:12] diegohaz commented on #502
That was done that way so you can use `i` as `key`. Otherwise, indexes would change when you remove an item, and you would have to create an unique id for each item, which is not convenient. Using the value as the key (`url` in your case) also doesn't work since the whole component would be re-mounted on every change.

When you `form.remove()`, that array item gets `delete`d: https://github.com/re

[2019-11-22 15:53] diegohaz commented on #502
It seems that #503 will fix this. Updated my CodeSandbox with the version published by CodeSandbox CI: https://codesandbox.io/s/codesadbox-prototyping-playground-9obwc?fontsize=14&hidenavigation=1&initialpath=%2Fu&module=%2Fsrc%2Fpages%2FProfile%2FUserInfo%2FUserInfo.tsx&theme=dark

By the way, CodeSandbox CI is amazing! Where can I suggest features? I'd like that the bot had included the querystr

[2019-11-22 16:01] Saeris commented on #502
@diegohaz awesome! Thanks for addressing this so quickly!

We always welcome feature requests via our issue board. I know we've discussed sandboxes in comments before, though I think the conclusion was supporting it would be a bit of a technical challenge and that's why it didn't make the initial release. I would assume it's still under consideration though. Ives would be the one to talk to about

[2019-11-22 16:04] diegohaz commented on #502
Cool!

Regarding the lack of documentation on `form.reset()`. The whole documentation doesn't include the props returned by state hooks, which is something we could improve.

This runs on `npm run docs`. Currently, it only shows the initial state options:
https://github.com/reakit/reakit/blob/bd5390ccaa6209c4fa9193a8673f5b34adc67e7d/scripts/build/utils.js#L585-L586

I guess that's a matter of addi

[2019-11-22 16:20] diegohaz commented on #468
Similar thread on Yup: https://github.com/jquense/yup/issues/144

The only difference is that Yup throws an actual [error object](https://github.com/jquense/yup/blob/1426feceb6c5544c526711bedcf388afaf6115b9/src/ValidationError.js), which is something we could do here as well.

[2019-11-22 16:25] diegohaz commented on #468
@rumkin

You mean something like this?
[code]

[2019-11-22 16:59] #502 closed

[2019-11-24 03:47] btzr-io opened #505 "Dependency error on rollup build"
## 🐛 Bug report

### Current behavior

Rollup trows this error while building a project usign `reakit` as a dependency

https://rollupjs.org/guide/en/#error-name-is-not-exported-by-module
node_modules/reakit/es/Dialog/Dialog.js (19:9)

### Steps to reproduce the bug

Create a project that uses `reakit` as a dependency and build it with `rollup`.

### Expected behavior

Is this expected ?

:informa

[2019-11-24 04:07] btzr-io commented on #505
Closing this for now:

[2019-11-24 04:15] diegohaz commented on #505
I guess that's an issue on `body-scroll-lock`? We use this rollup configuration:
https://github.com/reakit/reakit/blob/4931fef3070e0b56e454ae6c888b5dcf6043916c/scripts/build/rollup.config.js#L50-L55

[2019-11-24 04:16] diegohaz commented on #505
Related: https://github.com/willmcpo/body-scroll-lock/issues/120

[2019-11-24 04:17] diegohaz commented on #505
By the way, I would love to get rid of the `body-scroll-lock` dependency as it looks like they're not actively  maintained anymore.

[2019-11-24 04:20] btzr-io commented on #505
Should I reopen this ?

[2019-11-24 04:22] diegohaz commented on #505
According to the comments on that issue, it seems that it can be fixed if we import it from `body-scroll-lock/lib/bodyScrollLock.es6.js`:
[code]

[2019-11-24 06:46] rumkin commented on #468
@diegohaz I mean something like this:

[code]

[2019-11-24 07:04] diegohaz commented on #468
How would you handle the concept of messages that aren't errors?

For example, when validating an `username` field you could either return `Username already exists` or `Username available`.

[2019-11-24 08:20] rumkin commented on #468
Now I've got what you want. In this case seems logical to return validation messages like this:

[code]

If there is a report with type equal to `error`, then isValid flag became false and form submitting blocks.

But I don't see any reason to stop here. Report's message could support react components. It allows to return controls for fixing the issue: it could be a list of valid values to select,

[2019-11-25 12:35] gabrielreisn commented on #505
Is anyone already started solving it or can I take it?

[2019-11-25 16:28] diegohaz commented on #505
@gabrielreisn Go ahead!

[2019-11-25 18:55] miketamis opened #506 "Dialogs close on a click that starts in the dialog, but ends outside"
## 🐛 Bug report

### Current behavior
When you click and hold within a modal and then drag (while still pressed) outside the modal and release the click, the modal will close.  https://imgur.com/a/XYcKluc

### Steps to reproduce the bug

1. Go on https://reakit.io/docs/dialog/
2. Click open dialog
3. down click within modal (keep mouse click held down)
4. Drag cursor outside of modal
6. Release cu

[2019-11-26 01:57] diegohaz commented on #506
Thanks for opening the issue @miketamis! I'm working on a solution. :)

[2019-12-02 08:29] #506 closed

[2019-12-04 20:56] darekkay commented on #477
I've encountered this issue with `beta-9`, after removing my `node_modules` folder and reinstalling the packages (I have only `reakit` in my package.json, no `reakit-utils`).
My assumption is that a caret version is being used somewhere, so an incompatible version is being installed. This can be solved by either pinning the versions or using semantic versioning correctly, i.e., changing the minor

[2019-12-10 20:44] ItsJonQ opened #511 "Popover: gutter - Accept string value"
## 🚀 Feature request

### Motivation

👋Hallo! First off, thank you for all for creating this magical thing that is Reakit! It's absolutely wonderful, and it's easily become one of my favourite libraries ❤️.

The feature request idea I had to was to enable the `gutter` option for `usePopoverState()` to accept a `string` value.

The underlying library, `popper.js`, accepts a string:
https://popper.j

[2019-12-10 23:43] Slapbox opened #512 "Emulate v0's Popover slide="left""
## 🚀 Feature request

### Motivation

In `v0` the popover flew in horizontally from the `right` for my use case ala 'slide="left"`, but now flies in diagonally from the `bottom-right`.

I understand that animation is no longer within the scope of the core package, but I don't know how I would emulate the `v0` behavior without basically rewriting the show/hide logic of of the whole popover element,

[2019-12-11 02:33] diegohaz commented on #511
That sounds very reasonable to me!

@ItsJonQ Would you like to work on that?

[2019-12-11 05:51] jperasmus commented on #511
Briefly looked and just keep in mind that the string option with values separated by spaces will be deprecated in v2 of `popper.js`. They recommend separate values using a comma, ie. `-10px, 10px` and not `-10px 10px`. From Reakit's point of view, it probably doesn't matter because it will just pass along either the number or string to `popper.js` under the hood.

[2019-12-11 13:37] ItsJonQ commented on #511
@diegohaz Sure thing! I'd love to :)

Oo! Good catch

[2019-12-12 13:32] danielbartsch opened #513 "Portal has null context"
## 🐛 Bug report

### Current behavior

PortalContext is evaluated immediately (eg. when importing from reakit).
This might be before there is even any Dom besides `document`. Thus `document.body` evaluates to `null`, rendering `Portal` useless, as it doesn't render anything.

### Steps to reproduce the bug

https://jsbin.com/xovonepete/1/edit?html,output
Here you  can see that `div` elements are r

[2019-12-12 14:02] diegohaz commented on #513
Thanks! Can you reproduce it with JSBin, maybe? https://jsbin.com/celiwun/edit?html,output

[2019-12-12 14:33] danielbartsch commented on #513
Yes!
https://jsbin.com/xovonepete/1/edit?html,output

[2019-12-12 15:23] FezVrasta commented on #511
Actually, in v2 we are going to accept only a tuple, with `[mainAxis, altAxis]` values.

here you find some documentation, but consider it may change since v2 is still under development.

https://github.com/popperjs/popper.js/blob/next/docs/src/pages/modifiers/offset.mdx

[2019-12-12 16:43] ItsJonQ commented on #511
@FezVrasta Oh! Interesting. That seems like a better API. Thanks for the heads up!

P.S. I'm a big fan fan of Popper.js. Thank you for your amazing work 🎉

[2019-12-13 08:13] diegohaz commented on #511
@FezVrasta Will v1 accept `offset` as a tuple before v2 is out? That would help with the migration I guess.

To be safer here, I'd suggest that we introduce a new `unstable_` property instead of augmenting `gutter`, that is already stable:

[code]

I imagine the implementation being something like this for now:
[code]

[2019-12-13 10:09] danielbartsch commented on #513
I added a PR (https://github.com/reakit/reakit/pull/514) but I'm not sure if this  is a desired solution, as unfortunately I don't have a full picture of reakit just yet.

[2019-12-13 10:28] FezVrasta commented on #511
I don’t plan to backport the API to v1, I’m sorry

[2019-12-13 10:59] jperasmus commented on #511
The fact that Reakit uses Popper.js under the hood should probably be an implementation detail. Maybe Reakit should allow a number and a tuple for the `offset`. While Reakit uses v1 of Popper.js, it can transform the tuple (`[-10, 10]`) to the string (`-10px, 10px`) that Popper.js v1 understands. When v2 is released and Reakit upgrades to it, the transformation can be dropped.

[2019-12-13 11:43] #513 closed

[2019-12-16 22:11] folz opened #516 "Popover - support popper.js `inner` modifier"
## 🚀 Feature request

### Motivation

I am building a [Toast](https://getbootstrap.com/docs/4.2/components/toasts/) component in reakit/reakit-system. My original plan was to reuse Popover similar to how Tooltip does, but set `inner: true` and `reference` to `document.body`. However, PopoverState doesn't seem to expose the `inner` modifier.

### Example

A Toast component, or any other Popover-lik

[2019-12-16 22:15] folz commented on #516
As a side note, I should be able to contribute Toast to reakit once it's complete and made accessible. Is that something you'd consider including as a prebuilt component?

[2019-12-16 23:38] diegohaz commented on #464
My idea for this component is a generic `Alert` component following the respective [WAI-ARIA pattern](https://www.w3.org/TR/wai-aria-practices/#alert).

[2019-12-16 23:42] diegohaz commented on #516
The `Notification`/`Toast` component has been requested on #464

I don't understand why it would compose Popover though. Do you think it would need any feature that only Popover provides? Why not just Portal?

[2019-12-16 23:53] folz commented on #516
This is possibly specific to my use case, but we have Toasts that appear in the top, top-right, and bottom of the screen. I'm considering composing Popover because

1. Popover already comes with a positioning engine. I might as well reuse it instead of trying to recreate the behavior I can get from `{reference: document.body, inner: true}`.
2. Since Toasts can be positioned in various places, I'd

[2019-12-17 00:02] diegohaz commented on #516
I see! An `unstable_inner` option would be cool!

Out of curiosity, how did you set `document.body` as the reference? Did you set `popover.unstable_referenceRef.current`?

[2019-12-17 00:09] folz commented on #516
Yep, that's exactly it. So far, I haven't needed much extra code, although the ref assignment feels quite hacky:

<details>

<summary>WIP</summary>

[code]

</details>

I think I'll move future discussion about Alert/Toast to the issue you linked. In the meantime I'll open a PR with my `unstable_inner` changes.

[2019-12-17 05:45] artalar commented on #464
Note: here https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/alertdialog.html#ex_label if you change the text and click _save_ you can see _notification component_  🤔
![example](https://user-images.githubusercontent.com/27290320/70968164-8455d180-20a9-11ea-9fab-86a14b19d451.png)

[2019-12-17 09:34] namjul opened #518 "Some components don't render the passed id prop"
## 🐛 Bug report

### Current behavior

I used the codesandbox link from https://github.com/reakit/reakit/blob/master/README.md and tested a situation i discovered when using the `id` attribute in combination with components that use the `Hidden` component.

The moment i declare an `id`, it failes to render.

### Steps to reproduce the bug

Provide a repo or sandbox with the bug and describe the st

[2019-12-17 10:14] diegohaz commented on #518
Hi @namjul! I can't reproduce it. If I set `id="test"` on `Dialog`, it properly renders the component with the correct id.
![image](https://user-images.githubusercontent.com/3068563/70986539-da704800-209c-11ea-8085-29622a788aa3.png)

[2019-12-17 10:16] #516 closed

[2019-12-17 10:21] diegohaz commented on #464
Cool! That's a good example! That element is using `role="alert"` too:
![image](https://user-images.githubusercontent.com/3068563/70986998-d0027e00-209d-11ea-8e86-483bb88853aa.png)

[2019-12-17 10:57] artalar commented on #464
@diegohaz have you seen https://inclusive-components.design/notifications/ and https://github.com/jackbsteinberg/std-toast/?

[2019-12-17 13:15] namjul commented on #518
I accidentaly did not provided the correct codesandbox link.
https://codesandbox.io/s/crazy-curran-2x3wc

[2019-12-17 13:46] diegohaz commented on #518
Thanks for the reproduction! The problem there is that you're setting an invalid id (`123`). IDs can't start with numbers.

The code is throwing on this line:
https://github.com/reakit/reakit/blob/d5e1e8f070c435acdbab92a95a938be23e5803ae/packages/reakit/src/Hidden/__utils/useWarningIfMultiple.ts#L12

[2019-12-17 16:20] ynotdraw opened #519 "Feature Request: Tooltip enter delay property"
## 🚀 Feature request

### Motivation

First off, thanks so much for all of these great, a11y components.  This library has been a joy to work with!  Now onto the request...

I don't see a way to add a delay prop to Tooltips, which will wait the specified timeout before displaying the Tooltip content.  If the user moves focus/hover before the timeout has been hit, the Tooltip content never displays

[2019-12-17 16:30] diegohaz commented on #519
I guess we can't leverage popper.js' `delay` option since the visibility of the element is not controlled by popper.js.

But you can achieve something similar by following the approach described here: https://reakit.io/docs/composition/#state-hooks

[2019-12-17 17:37] namjul commented on #518
Ah true :)

To my situation. I have written a custom singel test based on https://github.com/diegohaz/singel.
When i am using the lastest version provided by codesandbox which i got from here https://github.com/reakit/reakit/pull/514 some fail. As you can see here https://codesandbox.io/s/dry-thunder-q52v0 the `id` attribute does land in the dom in all components. In this example it only works for

[2019-12-17 22:11] folz commented on #464
As I'm working on something related to this - @diegohaz do you have thoughts on how opinionated reakit wants to be? That is, do you want to provide a Notification/Toast/Message-style component like the OP is asking about, or do you want people to build their own Notification component with tools that reakit provides?

Some thoughts:

At one end, you could have something like

[code]
With usage lik

[2019-12-18 00:53] diegohaz commented on #464
@folz Thanks for the thoughtful comment! :)

Off the top of my head, I remember seeing a notification pattern where you would have a single live region element on the page (or one for each kind of `aria-live` region - `polite`, `assertive` etc.) and then add/remove messages there as they're dispatched:
[code]

If I recall correctly, the main reason for doing that was so subsequent messages would n

[2019-12-18 01:04] diegohaz commented on #518
Not sure if I got it. Which example you're referring to?

[2019-12-18 08:38] namjul commented on #518
If you open the devtools and check the dom elements of each rendered component. Each one should render the `id` attribute `sdf`. https://q52v0.csb.app/

[2019-12-18 10:32] diegohaz commented on #518
I see! So, what’s the issue?

[2019-12-18 10:49] namjul commented on #518
Shouldn't it output the the `id` i give it? Maybe that is not an important requirement for reakit, so just that you know it does not output the given `id`.

[2019-12-18 11:03] diegohaz commented on #518
Oh, now I get what you're saying! `Tab`, `TabPanel` and `DialogBackdrop` aren't rendering the id you provided.

[2019-12-18 13:12] namjul commented on #518
The #520 works know for us. Thank you!

[2019-12-18 14:07] #518 closed

[2019-12-18 15:08] ynotdraw commented on #519
@diegohaz oh nice, sorry for missing the approach under state hooks!  I'll work on implementing it this way.  Thanks a bunch for your quick response!

[2019-12-18 15:08] #519 closed

[2019-12-18 15:13] idreyn opened #522 "Expose a FocusTrap component"
## 🚀 Feature request

Many Reakit components act as a focus trap, and it looks like there's a lot of complicated and thoughtfully considered logic under the hood for correctly passing focus between these components. I would like to make use of this behavior without the semantics of components like `Dialog` or `Menu`, perhaps with a `<FocusTrap>` component or `useFocusTrap()` hook in the public API

[2019-12-20 22:54] Slapbox commented on #512
@diegohaz is there any way to force/emulate this behavior right now besides to fall back to `v0`?

[2019-12-21 01:12] diegohaz commented on #512
Have you tried a variation of this? https://github.com/reakit/reakit/issues/496#issuecomment-554796933

[2019-12-30 14:11] Grsmto commented on #434
You probably know already but ThemeUI (and by extension, the Gatsby team) [is now using Reakit](https://github.com/system-ui/theme-ui/blob/master/packages/editor/package.json#L16). 👍

[2020-01-01 20:50] Slapbox commented on #512
Apologies @diegohaz . I've got too much I'm juggling and I forgot all about that.

[2020-01-01 20:50] #512 closed

[2020-01-08 00:56] folz commented on #464
Happy new year 🎉 After some exploratory work and talking with my team, we think it makes the most sense for our use case to implement the [Snackbar](https://material.io/components/snackbars/#) pattern.

My read is that this PR is more interested in Growl-style notifications but there are a fair number of accessibility concerns around Snackbars, so it might still be worthwhile to have. I can open a

[2020-01-09 19:55] folz commented on #511
Just ran into this issue myself. @ItsJonQ, how is the PR going? I can make some time to address this today or tomorrow if there's a need.

[2020-01-09 22:30] folz commented on #511
@FezVrasta Will the v2 API continue to support `'%p'`, `'%r'`, and other special strings, or do you intend to deprecate those in favor of the function case?

[2020-01-10 06:17] FezVrasta commented on #511
The function callback will replace them

[2020-01-10 14:37] ItsJonQ commented on #511
@folz Hai there! My apologies! Things have been a bit busy on my end, I haven't gotten around to it yet. You (or anyone else) is more than welcome to submit a PR 🙏

[2020-01-10 14:39] jfhector opened #526 "Radio buttons can't be resized in some browsers"
## 🐛 Bug report

### Current behavior

When I change the `width` and `height` of radio buttons (in Chrome devtools), the actual radio button doesn't change size.

### Possible solutions

https://adrianroselli.com/2017/05/under-engineered-custom-radio-buttons-and-checkboxen.html

[2020-01-10 19:23] folz commented on #511
All good! Just wanted to make sure I wouldn't be clobbering anything you were working on if I started something up. Thanks for getting back to me :) I'll take a crack at this and try to have a PR out by EOD.

[2020-01-15 12:52] danielbartsch opened #528 "Hidden: Add unstable_hiddenClassName prop"
## 🐛 Bug report

Mainly had that issue when using bootstrap css, as seen  in the jsbin.

### Current behavior

https://jsbin.com/zehupeluwo/1/edit?html,output

1. Click on the show dialog button.
2. the dialog contains two buttons. The second one should be focused as per React.useEffect, as seen here: https://reakit.io/docs/dialog/#initial-focus
3. the first one is actually focused

I tracked it d

[2020-01-15 14:58] diegohaz commented on #528
I'm not sure if this should be classified as a bug or just a conflict between Bootstrap and Reakit. One solution is to remove the class name added by Reakit with [render props](https://reakit.io/docs/composition/#render-props):
[code]

[2020-01-15 15:03] #511 closed

[2020-01-15 18:01] nerdyman opened #529 "Parent dialog closes with nested dialog when parent has been opened and closed once"
## 🐛 Bug report

### Current behavior

Parent dialog closes at the same time as the child dialog *after* parent dialog has been opened and closed once.

### Steps to reproduce the bug

1. Open parent dialog
   - Open child dialog
   - Click away from child dialog
    - Parent dialog stays open
1. Close parent dialog and open it again
   - Open child dialog
   - Click away from child dialog
    - P

[2020-01-15 18:43] diegohaz commented on #529
@nerdyman Thanks for opening the issue and for the reproduction! I'll investigate the issue. In the meantime, passing `onMouseDown={event => event.preventDefault()}` to `DialogBackdrop` should fix the issue.

[2020-01-15 18:49] nerdyman commented on #529
@diegohaz Awesome! thanks for the workaround.

Got it working now 🙂 https://codesandbox.io/s/react-reakit-nested-dialog-eko36

[2020-01-16 17:17] diegohaz commented on #496
@gregberge Could you please add your thoughts and/or describe how you make animations with Reakit components? That will help us a lot to improve the API and make it stable. :)

[2020-01-17 13:06] gregberge commented on #496
Hi, I have actually one example:

https://github.com/gregberge/gregberge.com/blob/master/src/components/Navbar.js#L140

[2020-01-21 08:34] namjul commented on #528
@diegohaz is there a good reason why reakit adds the `hidden` class?

[2020-01-21 08:38] namjul commented on #528
We are using the hooks directly and not the components. So if we remove the `className` the way you propose we might also remove others which we need. So would need to remove only `hidden` and leave the rest in place. Do you have any other idea this could be done?

[2020-01-21 23:49] diegohaz commented on #528
@namjul The `hidden` class is removed shortly after `menu.visible` becomes `true`. It's useful for creating animations with CSS: https://codesandbox.io/s/reakit-animated-mm5u8

The whole `animated` feature is still in progress, so there's room to improve it. But for now I'd say that we can add an `unstable_hiddenClassName` prop to the `Hidden` component so people can change the class name.

[2020-01-21 23:53] diegohaz commented on #528
Not sure if that's your question, but the hooks version would be something like this:
[code]

[2020-01-22 08:22] namjul commented on #528
perfect that will work.

[2020-01-22 08:25] namjul commented on #528
The `unstable_hiddenClassName` makes sense because we might want to have animations in the future but need to use a different `className` than `hidden`.

[2020-01-22 08:33] namjul commented on #528
For better understanding.
By using the hooks we are skipping the `createComponent` util and therefore miss certain features.
I can see the following happening in `createComponent`
- splitProps
- wrap
- anything else?
So to make the hooks work without `createComponent` we need to manually apply these. We are doing the splitProps already but not the wrap. Can you explain why it exists?

[2020-01-24 18:40] Grsmto opened #531 "Exit animation spying on wrong transitionEnd event"
## 🐛 Bug report

Hi!

### Current behavior
The exit animation when using `unstable_animated` seems to be listening to the wrong element in the specific scenario of the following CodeSandbox.
Please notice that this only happen when the underlying `MenuItem` is using the `as` prop.

My assumption is that the `unstable_animated` is spying on the wrong `transitionEnd` event. But I'm not sure.

### St

[2020-01-24 22:06] diegohaz commented on #531
Thanks for the reproduction! Maybe checking `event.currentTarget === event.target` inside the internal `onTransitionEnd` handler can solve this issue, but I'm not sure if this could impact other cases where you really want to listen to a transition in a child component.

Another workaround I found is adding `onTransitionEnd={event => event.stopPropagation()}` on your `MenuItem`s.

And I've got no

[2020-01-27 09:17] namjul commented on #528
@diegohaz iMaybe a section in the documentation to explain the differences in usage between the components and their underlining hooks would be a good thing.

[2020-01-30 18:12] atomicpages opened #532 "Ref on child of Portal has no height or width the first render"
## 🐛 Bug report

### Current behavior

Ref on child of `Portal` has no height or width the first render.

[code]

This behavior is not reproducible using `ReactDOM.createPortal`.

### Steps to reproduce the bug

Visit and see output https://codesandbox.io/s/blissful-davinci-crxyu

### Expected behavior

Don't render the portal until the [context element has been appended to the body](https://githu

[2020-01-30 20:09] diegohaz commented on #532
What if you use `React.useRef()` instead of `React.createRef()`?

[2020-01-30 20:19] atomicpages commented on #532
Same behavior ☹️

[2020-01-30 20:41] diegohaz commented on #532
There's a few things we can try here:

https://github.com/reakit/reakit/blob/301fbcadace6c2a472a054ec18198b52df35328d/packages/reakit/src/Portal/Portal.tsx#L34-L40

- Try to use `useLayoutEffect` ([`useIsomorphicEffect`](https://github.com/reakit/reakit/blob/47434b209138e976bb85085726f9867ee130f710/packages/website/src/hooks/useScrolled.ts#L7)) instead of `useEffect` so it appends the portal befor

[2020-01-30 22:33] atomicpages commented on #532
I'll give it a go @diegohaz. Thanks for the suggestions!

[2020-02-03 19:48] tecfu commented on #468
This issue should be labeled as a security flaw, in addition to being labeled as an enhancement.

See here: https://github.com/jquense/yup/issues/144#issuecomment-581583304

[2020-02-04 09:24] SpadarShut opened #536 "HideOnEsc closes dialog even when input is focused"
## 🐛 Bug report
When dialog has `hideOnEsc={true}` prop and an input inside the dialog is focused, pressing esc should only blur input but not close dialog.

### Current behavior

Pressing esc while input is focused closes whole dialog.

### Steps to reproduce the bug

https://codesandbox.io/s/eloquent-paper-c23s8

### Expected behavior

If input is focused Esc should only blur the input.

### Pos

[2020-02-04 10:54] Regaddi opened #537 "isFocusTrap errors in Firefox"
## 🐛 Bug report

### Current behavior

When including a Dialog that should open immediately on page load (without a trigger), Firefox raises an error `element.classList is undefined`.
`isFocusTrap` seems to be called with `document` which is not an [HTMLElement]() in Firefox, therefore does not have the `classList` property set.

### Steps to reproduce the bug

Provide a repo or sandbox with the b

[2020-02-04 18:44] diegohaz commented on #537
Thanks for the report, @Regaddi! Would you like to send a PR?

[2020-02-04 18:46] Regaddi commented on #537
@diegohaz Sure! I'll try to do so this evening or tomorrow morning :+1:

[2020-02-04 20:18] #526 closed

[2020-02-04 20:20] diegohaz commented on #182
Closing due to inactivity.

[2020-02-04 20:20] #182 closed

[2020-02-04 20:22] diegohaz commented on #373
Closing this as it doesn't seem something that we should implement in the library. For people needing this, the CodeSandbox above should help.

[2020-02-04 20:22] #373 closed

[2020-02-04 22:58] #529 closed

[2020-02-05 03:01] #404 closed

[2020-02-05 05:02] #415 closed

[2020-02-05 07:09] Regaddi commented on #537
@diegohaz
I'm having issues with eslint:
[code]
When trying to commit:
[code]
Unfortunately I don't have the time to try and fix this issue.
Here's the change I made:

[code]

[2020-02-05 07:21] diegohaz commented on #537
No idea what this is issue is, but you can commit with the `—no-verify` flag.

[2020-02-05 08:49] #537 closed

[2020-02-05 18:01] darekkay opened #543 "Menu position broken when using a custom MenuDisclosure component"
## 🐛 Bug report

### Current behavior

The `MenuDisclosure` component renders a `<button>` by default, but it offers the `as` prop to use a custom component. When a custom (wrapper) component is being used, the menu position (style prop) is not being passed correctly

### Steps to reproduce the bug

Sandbox repository: https://codesandbox.io/s/peaceful-water-wbk4j

The native button positions the

[2020-02-05 18:06] diegohaz commented on #543
Hi @darekkay! You should pass the `ref` prop to `CustomButton`:
[code]
We could find a way to make it more obvious though. There's a warning in the console, but it's very generic.

[2020-02-05 18:15] darekkay commented on #543
Thank a lot for the really quick response! 😃
Indeed, I did not check the console, shame on me. While I did not know `React.forwardRef` until now, the message would probably have been enough to debug the issue myself.

[2020-02-05 18:15] #543 closed

[2020-02-08 22:25] MortenHofft opened #546 "Support for right to left languages"
## 🚀 Feature request

### Motivation

I've just started experimenting with this library a few days and I love the way it is implemented, the focus on a11y and the unstyled approach 👏 .  But unfortunately support for rtl languages (say arabic) is missing.

### Example
When setting `dir="rtl"` on an element, then actions on children elements should invert the concept of left right (NB: I'm not a rtl

[2020-02-08 23:22] diegohaz commented on #546
Hi @MortenHofft! Thanks for raising this issue.

I have zero experience with RTL. There are plans to replace `rover.next()` and `rover.previous()` by `rover.right()` and `rover.left()` though. Would it solve this problem? What about `rover.first()` and `rover.last()`?

That said, you can also set the initial focus to the last element (although it will remain the last element):

[code]

[2020-02-09 01:53] #429 closed

[2020-02-09 01:57] diegohaz commented on #434
Reakit [is being used by WordPress](https://github.com/WordPress/gutenberg/blob/4857ad58c1241b3d63d21a6880c989b85746c3dc/packages/components/src/toolbar/toolbar-container.js#L4) and other projects at Automattic.

[2020-02-09 03:12] #532 closed

[2020-02-09 03:26] diegohaz commented on #532
It's been *partially* fixed by #547

With those changes you can access the dimensions using `useEffect` or `useLayoutEffect` + `requestAnimationFrame`/`setTimeout`.

The behavior is different with React Portal only because you're putting it into an element that is already in the DOM (`document.body`). If you use the same method as in the [React Portal docs](https://reactjs.org/docs/portals.html),

[2020-02-09 06:26] #488 closed

[2020-02-10 01:13] #471 closed

[2020-02-10 01:19] #531 closed

[2020-02-10 09:51] MortenHofft commented on #546
I would think that first and last would work just the same (pageUp and pageDown). It is simply that moving focus right when pressing left is odd.

instead of `ArrowRight: options.orientation !== "vertical" && options.next` in https://github.com/reakit/reakit/blob/master/packages/reakit/src/Rover/Rover.ts#L113 I would think it needs to evaluate the (current) direction of the target before deciding

[2020-02-12 09:39] Miaxos opened #556 "Broken for IE11"
## 🐛 Bug report

When used with IE11, the build is broken because it uses a function Element.matches not polyfilled for IE11.

### Current behavior

When this
https://github.com/reakit/reakit/blob/592ed0ffca8a2de3aa4c9d88b416c1e41df02c9b/packages/reakit-utils/src/tabbable.ts#L38 is called

### Expected behavior

It should works.

### Possible solutions

https://github.com/reakit/reakit/pull/555

[2020-02-13 06:08] #556 closed

[2020-02-13 20:15] l3tang commented on #546
Another way to do it would be to do the check for RTL inside of previous and next so that it doesn't need to be calculated everywhere.

[2020-02-13 20:26] l3tang opened #558 "High contrast support"
## 🚀 Feature request

### Motivation

Edge supports high contrast and it would be great if this library used CSS styles that comes with the high contrast support by default. When the user turns on high contrast modes, a lot of the selection states/colors disappear because background and text colors get overwritten with the high contrast mode colors. By using/adding other CSS rules, it's possible t

[2020-02-14 15:49] rumkin opened #559 "Rename stopId"
## 🚀 Feature request

Components' property `stopId` should be renamed into something more meaningful and semantically correct.

### Motivation

For me `stopId` is something terminal, inactive or closed. And reading the docs I has been dropping it out of my attention as something secondary or unnecessary.

### Possible implementations

In my opinion there are more suitable names for this property:

[2020-02-14 19:14] rumkin commented on #528
1. In my opinion classes like this should be provided through an OptionsProvider. Animation classes should have more speaking names like `animate-hidden` or so.
2. Using property `unstable_hiddenClassName` seems exhaustive and make component separation senseless due to leakage into application logic just to switch off single conflict behavior. Using property we got in a situation when visual theme

[2020-02-14 20:47] WestonThayer commented on #399
Bump

[2020-02-14 21:50] diegohaz commented on #353
Closing this. Let's discuss about new components in their specific issues.

[2020-02-14 21:50] #353 closed

[2020-02-14 22:06] diegohaz commented on #528
There's a Provider component where this kind of thing could live in. But I wouldn't like to force people to use Provider just to make animations. I'll try to think on a better solution to make animations easier after v1 gets out of beta (very soon). But I'm always accepting suggestions.

[2020-02-16 21:10] diegohaz commented on #559
"Stop" in this context refers to "tab stop", but I agree that it may not be too obvious. And in some components it may not make much sense, such as `TabPanel`.

We're in the process of creating an alternative to `Rover` (which implements the `stopId` prop and is used by the other modules that have the same prop), so we have some opportunity to think about a better prop name. `stopId` won't go away

[2020-02-16 21:12] diegohaz commented on #559
By the way, using just `id` is already supported in all components except `TabPanel`.

[2020-02-17 18:23] rumkin commented on #559
1. Seems like I need to dig into this a little bit deeper, because `stopId` seems overloaded and I'm not sure if I understand all the use-cases. For example tabs have `stopId` which refers to corresponding panel's `stopId`, and the Reakit code makes them work together using tab state. In the same time `stopId` affects regular html id and if I overwrite id with a custom value the Tab component does

[2020-02-17 18:48] rumkin commented on #468
There is another throw-less validation realized in Angular. It has a validator interface which produces an Object with the errors occurred while validation ([Angular's documentation](https://angular.io/guide/form-validation#custom-validators)).

Here is how it looks:
[code]

I don't like the idea to return objects (instead of array of issues), but it illustrates that library developers had chosen

[2020-02-17 20:09] rumkin commented on #528
Ok, could you add an option to switch it off through the global provider? Regular users should to change nothing and others will be able to do what they need. In my opinion it should be a class name property like `hiddenClassName` or so.

[2020-02-17 23:46] AliLynne commented on #351
@diegohaz

I'm happy to take on adding styling sections to the component readme's if you still want that done.

[2020-02-18 01:11] diegohaz commented on #351
@AliLynne Sure! It's all yours! I would only suggest doing a module at a time (one per PR).

---

**The below is what's in my mind and you can use as a starting point if you think it's useful, but feel free to propose anything else:**

If people don't use the experimental system packages like `reakit-system-bootstrap` (and most don't use) they may be curious about how to reproduce the styles prese

[2020-02-18 13:33] c10b10 opened #566 "Accessiblity issue: Portal Popover breaks keyboard navigation"
## 🐛 Bug report

### Current behavior

When you open the portal version of the Popover, and then try to navigate out of it using Tab, that will take you to the beginning of the page instead of to the next element in the document.

### Steps to reproduce the bug

For some reason, I can't reproduce it in CodeSandbox, but it can be reproduced by:

1. Going to https://reakit.io/docs/popover/
2. Modify

[2020-02-18 21:02] diegohaz commented on #566
This is a known issue, but not specific to Reakit, this is just how React Portals work. Since you attach elements into other parts of the DOM (in this case, at the end of the document), they follow the normal tab sequence.

Because of this inconsistency, the `unstable_portal` prop has been removed from `Popover` in the version `1.0.0-beta.15`. So I guess this doesn't apply anymore (I can't even re

[2020-02-19 10:06] c10b10 commented on #566
I guess this explains why I wasn't able to reproduce the issue in CodeSandbox.

I'm going to give Focus Traps a try. Thanks @diegohaz!

[2020-02-19 13:45] tom-sherman commented on #435
I've played around with hacking something together in userspace and you can support a subset of Grid keyboard navigation functionality relatively easily: https://codesandbox.io/s/keen-morse-me8jp

Disclaimer: I hacked this together in a morning and I'm not sure how accessible or performant it is, you probably don't wanna use this in production as-is.

[2020-02-21 20:57] #217 closed

[2020-02-21 20:57] #347 closed

[2020-02-21 20:57] #357 closed

[2020-02-24 08:07] sesam commented on #357
This PR https://github.com/reakit/reakit/pull/359 from a couple of months back (!!) needs some love to move things forward.

[2020-02-24 20:50] #497 closed

[2020-02-25 07:53] gregberge opened #592 "Select Implementation"
Hello, just to let you know a custom Select implementation using Reakit primitives:

[code]

[2020-03-02 19:33] zarabotaet opened #594 "Content don`t scroll inside Dialog component."
## 🐛 Bug report

### Current behavior

Content don`t scroll inside Dialog component, on mobile (IOS, Safari or Chrome), when modal prop is true.

### Steps to reproduce the bug

[work](https://codesandbox.io/s/focused-sun-gmmhq)
[dont](https://codesandbox.io/s/naughty-wilbur-rq9dd)

[2020-03-02 19:44] diegohaz commented on #594
Duplicate of #469

[2020-03-02 19:44] #594 closed

[2020-03-02 19:50] zarabotaet commented on #469
sandbox is broken

[2020-03-02 19:52] diegohaz commented on #469
@zarabotaet Updated it!

[2020-03-02 20:10] zarabotaet commented on #469
Why does no need scroll lock when I use `useDialogState({ modal: false })` ?

[2020-03-02 20:31] diegohaz commented on #469
The issue is that we use `body-scroll-lock` (BSL) internally on the `Dialog` component to disable the document body scroll (i.e. the scrolling behind the modal dialog).

But BSL, on touch devices, disables scrolling on everything except the element that has been passed to the `disableBodyScroll`/`enableBodyScroll` functions. In order to allow other elements, we must call these functions on them as

[2020-03-02 20:33] diegohaz commented on #469
The ideal solution is to get rid of the `body-scroll-lock` dependency and come up with our own solution. This would also fix #505.

[2020-03-02 20:41] diegohaz commented on #256
Reference implementation: #592

[2020-03-02 20:41] diegohaz commented on #592
Thanks @gregberge! I've mentioned this as a reference on #256.

[2020-03-02 20:41] #592 closed

[2020-03-03 11:40] zarabotaet commented on #469
Maybe for now you can provide scrollRef from useDialog ? And use it like this
[code]

[2020-03-12 18:12] folz opened #598 "<DialogDisclosure as="div"> triggers additional event on focused Dialog element"
## 🐛 Bug report

When rendering a `<DialogDisclosure as="div">`, activating it with the Space key seems to cause an event on the first element focused in the Dialog. This does not occur when rendering `<DialogDisclosure as="button">`, or when using activating the `as="div"` with Enter or with a mouse click.

### Current behavior

See above.

### Steps to reproduce the bug

Provide a repo or sandbo

[2020-03-12 18:24] folz commented on #598
To clarify why this is an issue for me, and why I would prefer to keep using `as="div"` instead of using button: our design system supports making any component look like any other component, with an API like

[code]

It supports this by assuming all components are `<div>s` with the correct interaction handlers (e.g. `tabIndex`, supporting enter/space), and providing styles to turn any unstyled di

[2020-03-12 19:16] diegohaz commented on #598
Thanks for reporting it, @folz! I think it has been fixed by #596

See the CodeSandbox created by that PR: https://codesandbox.io/s/morning-butterfly-xv48l

But since that also introduces a breaking change, that will have to wait a little bit to get released.

The issue is probably that on native buttons, <kbd>Space</kbd> only triggers the button on key up. But the current `Tabbable`'s  behavior o

[2020-03-12 22:31] folz commented on #598
I think you're right - I'm not able to trigger that behavior anymore in the sandbox you linked. I look forward to the release!

[2020-03-18 12:59] tom-sherman opened #602 "unstable_animated and measuring DOM nodes"
I'm using untable_animated and react-spring to add animations to a modal, so far it all works pretty great for animations that don't require measuring the size of the modal.

I'm basically trying to slide the modal (variable height) in from the bottom which requires to start the modal with `translateY(n)` where n is the height of the modal and animate it to `translateY(0)`. The exit animation work

[2020-03-18 14:13] diegohaz commented on #602
Does using `translateY(100%)` help?

[2020-03-18 14:29] tom-sherman commented on #602
Wow, TIL that it's a percentage of the height when using translateY - thanks for that it solves my problem perfectly!

[2020-03-18 15:04] #602 closed

[2020-03-19 21:38] zarabotaet opened #603 "Give an opportunity conditionally rendering popover component"
Give an opportunity conditionally rendering popover component as same as
[Disclosure](https://reakit.io/docs/disclosure/#conditionally-rendering)

[2020-03-20 00:53] diegohaz commented on #603
Not sure if I got what you mean, but Popover supports conditional rendering just like Disclosure.

[2020-03-20 00:53] #603 closed

[2020-03-25 01:12] #522 closed

[2020-03-27 12:32] MortenHofft opened #606 "Allow consumer to set (more) popper modifiers"
## 🚀 Feature request

### Motivation

I miss being more in control of my popover. Popper provides a lot of customisation options that would be useful to expose in the popover component.
https://github.com/reakit/reakit/blob/master/packages/reakit/src/Popover/PopoverState.ts

### Example

I could for example set my popover to not overflow the body using [altAxis: true](https://popper.js.org/docs/v2

[2020-03-30 07:21] diegohaz commented on #598
Should be fixed on v1.0.0-rc.0

[2020-03-30 07:22] #598 closed

[2020-03-30 07:25] diegohaz commented on #546
As of `v1.0.0-rc.0`, `useTabState()`, `useMenuState()`, `useToolbarState()` and `useRadioState()` support a boolean `rtl` state.

We can discuss how to detect it automatically in a performant way in the future if needed, but for now I think we can close this.

[2020-03-30 07:25] #546 closed

[2020-03-30 07:27] diegohaz commented on #559
As of `v1.0.0-rc.0`, `stopId` is deprecated in favor of just `id` (or `tabId` on `TabPanel`). Going to close this for now, but we can continue talking about that if needed.

[2020-03-30 07:27] #559 closed

[2020-03-30 07:36] diegohaz commented on #456
Some progress has been made on this. There are still these lines to update:

https://github.com/reakit/reakit/blob/49db6c007ea82fddf959448328b5f5d572defa40/packages/reakit/src/Dialog/__utils/useFocusTrap.ts#L59

https://github.com/reakit/reakit/blob/49db6c007ea82fddf959448328b5f5d572defa40/packages/reakit/src/Disclosure/__utils/useWarningIfMultiple.ts#L12

https://github.com/reakit/reakit/blob/49d

[2020-04-01 05:11] gziolo commented on #434
We want to expand the usage of Reakit in the WordPress components npm package 😃 In fact, Reakit is now part of WordPress core and is bundled in the official distribution. Thanks @diegohaz for all the work to make it happen!

[2020-04-01 05:26] gziolo commented on #464
There is `Snackbar` component in WordPress components and it’s implemented as a div with the role button:

https://github.com/WordPress/gutenberg/blob/34253056f822cf554437d5ad449b033d811e199f/packages/components/src/snackbar/index.js#L78

As Diego mentioned, the content is announced from the single live region using `speak` function from `@wordpress/a11y` package.

[2020-04-01 05:36] gziolo commented on #606
Is there any reason why all existing options from Popper aren’t exposed?

Aside, there is TS support added to Popper so it might be much easier to have it all integrated by re-exporting their types for placement and other options.

[2020-04-01 08:20] diegohaz commented on #606
The problem with re-exporting anything from a third party dependency is that any major version update in the dependency will potentially require a major version update here, which is not ideal.

That could've happened when we upgraded to Popper.js v2. But, since we have full control over the things we expose, that was easier to update and we could keep the Popover/Menu/Tooltip APIs intact.

There'

[2020-04-02 23:58] matthaywardwebdesign opened #607 "Unable to use boolean values for Radio inputs"
## 🐛 Bug report

### Current behavior

Setting the value of a Radio input to `false` (boolean) no longer works as of #599

### Steps to reproduce the bug

Code Sandbox here - https://codesandbox.io/s/crazy-nightingale-xyzq3

Adjust the version of reakit from `1.0.0-rc.0` to `1.0.0-beta.16` to see the different in behaviour.

### Expected behavior

According to the HTML spec for Radio buttons, a st

[2020-04-03 00:22] diegohaz commented on #607
Thanks for opening the issue! As you mentioned, `boolean` values are not supported on HTML, so I think we shouldn't support that.

But `value` may be an empty string or zero. So `options.value && options.state === options.value` should probably be something else. I'd appreciate a PR on that. Also, the types of `value` and `state` (on `RadioState`) should be updated. Right now they're `any`.

[2020-04-03 00:34] matthaywardwebdesign commented on #607
No worries at all and agree with you on that one :)

Might get some time later today to submit that PR!

[2020-04-03 08:16] giuseppeg commented on #456
Thank you a lot @diegohaz!

[2020-04-06 08:45] gziolo commented on #606
I agree with all that. I would probably approach it the same if I were to decide about API for the project I work for 🤣 It's funny how different your thinking is when you comment as the library's consumer. It's a good reminder to think like a maintainer when asking for feature changes.

[2020-04-08 08:51] elitenoire opened #611 "Toolbar Orientation is unable to reach 'undefined' state"
## 🐛 Bug report

### Current behavior

The toolbar orientation has default `horizontal` state which makes the `undefined` state unreachable.
`version: reakit@1.0.0-rc.0`
### Steps to reproduce the bug

[code]

### Expected behavior

Orientation should be able to reach the `undefined` state so that all arrow keys can work as stated in the docs.

### Possible solutions

Remove the default state for

[2020-04-08 16:23] tom-sherman commented on #607
@matthaywardwebdesign Are you ok if I pick this up or have you already made a start?

[2020-04-09 01:37] matthaywardwebdesign commented on #607
@tom-sherman Thanks! I just pushed a PR :)

@diegohaz - I've resolved the issue with falsey values, however as the HTML spec says values must be strings, I've updated the types to reflect this. This will prevent zero being used as a value, do you see this as an issue?

[2020-04-09 04:51] diegohaz commented on #611
Alternatively, we can accept a `both` value.

[2020-04-09 12:37] #607 closed

[2020-04-09 17:41] eduardobento opened #614 "FormMessage dont show in onSubmit event"
Hi,

I´m using reakit default create user form. When the API callback a error, the onsubmit, with axios catch doenst show FormMessage message. Here is the code:
[code]

This ```throw errors``` works perfectly in onValidate code.

[2020-04-09 17:45] diegohaz commented on #614
@eduardobento You have to `return axios.post(...` or use `async/await`.

[2020-04-09 17:48] eduardobento commented on #614
Ow, sorry about noobie question.

Works perfectly !
Thanks.

[2020-04-09 17:48] #614 closed

[2020-04-10 20:45] diegohaz commented on #456
Only `Portal` left now! I'm not sure what to do with that as `document` is assigned at the module's top-level scope.

Maybe just let people use `PortalContext.Provider` and pass their own container element.

[2020-04-11 07:27] giuseppeg commented on #456
yeah that'd work. Here's how I do that at work https://github.com/giuseppeg/react-layers-manager/blob/master/src/LayersManager.js (wrapping the app also allows to stack things properly)

[2020-04-13 01:14] #528 closed

[2020-04-15 08:48] tom-sherman opened #619 "Dialog closes unexpectedly on Firefox when using hideOnClickOutside"
## 🐛 Bug report

### Current behavior

If focus leaves the Firefox window, any action inside of the window afterwards causes the modal to close - even if this action is clicking inside the modal itself.

### Steps to reproduce the bug

Provide a repo or sandbox with the bug and describe the steps to reproduce it.

1. Open sandbox: https://codesandbox.io/s/reakit-firefox-hideonclickoutside-bug-3lm0

[2020-04-15 11:57] diegohaz commented on #619
Thanks @tom-sherman!

Maybe checking [`document.hasFocus()`](https://developer.mozilla.org/en-US/docs/Web/API/Document/hasFocus) inside `useEventListenerOutside`?

[2020-04-15 14:00] tom-sherman commented on #619
That seems to have done the job!

[2020-04-15 15:01] tom-sherman commented on #619
Explanation as to why this bug exists: https://github.com/reakit/reakit/pull/620#issuecomment-614073432

[2020-04-15 15:40] #619 closed

[2020-04-16 15:02] tom-sherman commented on #496
FYI, the animation API for Disclosure (and components composed on top of Disclosure) is now table. For Popover specifically see: https://reakit.io/docs/popover/#animating

[2020-04-17 10:47] tom-sherman commented on #368
Looks like this bug is back on Firefox. Sandbox with latest reakit version here: https://codesandbox.io/s/reakit-checkbox-space-q82kg?file=/index.js

[2020-04-17 11:03] tom-sherman opened #624 "Cross browser testing"
Opened after #368 reappeared on Firefox, something that wouldn't have happened with some cross browser testing.

There was also a mention of performance testing too in https://github.com/reakit/reakit/issues/429#issue-490585539. This would be nice to have IMO but isn't as crucial as testing functionality testing in real browsers.

I've seen BrowserStack mentioned before, is this a good avenue to g

[2020-04-17 11:34] diegohaz commented on #624
Definitely! I think we have an open source account on BrowserStack. We just need to re-add their attribution in the readme.

Unfortunately, I haven’t had time to explore this.

[2020-04-17 13:55] tom-sherman commented on #624
Ok great, I'll take a look at BrowserStack. I've also applied for a Cypress license, I'll evaluate that too - I've heard great things about Cypress in this space.

[2020-04-17 15:58] diegohaz commented on #624
One thing I've been trying to do is concentrate test cases, stories and, in the future, website live examples in [`__examples__`](https://github.com/reakit/reakit/tree/master/packages/reakit/src/Composite/__examples__) folders. Right now they have a few tests (in a `__tests__` folder inside) and are being used for storybook. Maybe we could use them for browser testing as well.

[2020-04-17 16:05] #368 closed

[2020-04-17 16:22] diegohaz opened #626 "Examples"
Opening this issue in case anyone wants to help. Recently, we've configured Storybook to import files from [`__examples__`](https://github.com/reakit/reakit/tree/master/packages/reakit/src/Composite/__examples__) folders inside Reakit component folders. This is how we're doing it:

https://github.com/reakit/reakit/blob/0b70f435673db13b75f82d69ac2760b485879674/.storybook/preview.js#L7-L22

Those fi

[2020-04-17 17:34] leonardoelias commented on #626
Vou escrever alguns hoje.

Teria alguma observação sobre o que seria melhor para cada component ?

[2020-04-17 17:34] leonardoelias commented on #626
I will write some today.

Do you have any observations about what would be best for each component?

[2020-04-17 17:48] diegohaz commented on #626
I've been mostly focusing on how they compose with other components (like `CompositeWithTooltip` or `TooltipWithToolbar`), but I guess anything that could be in the docs could be in examples. `Toolbar` with `Menu`, `Toolbar` with `Popover` etc.

[2020-04-17 20:47] frassinier commented on #626
Is there any reason not importing a relative path in the examples? 🤔

[2020-04-17 20:56] diegohaz commented on #626
@frassinier Some of those examples will be eventually shown on the website.

![image](https://user-images.githubusercontent.com/3068563/79613310-a94c6680-80d4-11ea-8e5a-3cdb2a204d1c.png)

It would lose a lot of context if it was `import { Button } from "../../Button";`.

[2020-04-18 04:51] jsomsanith commented on #626
Hello @diegohaz,
That’s a great initiative. Just a question, why Don’t you put stories files next to the components files ? This would scale better and it’s like tests files, while working on a component you have everything related next to it.

[2020-04-18 08:16] jsomsanith-tlnd commented on #626
Nevermind, I misunderstood, I thought you were putting all the stories files in a unique example folder. @frassinier told me my mistake.

[2020-04-18 09:15] tom-sherman commented on #624
After some initial investigation Cypress looks much more suited to the task of functionality testing than BrowserStack, the official [GitHub action](https://github.com/cypress-io/github-action) looks great.

Here's the plan I'm currently exploring:

Create a simple dev server that will serve all of the examples in the `__examples__` folders. We could use Storybook here, but Storybook has a very lo

[2020-04-20 08:16] tom-sherman opened #634 "Should [data] attributes be prefixed with "reakit-"?"
`data-enter` and `data-leave` are currently unprefixed which is supprising to me because all libraries I've worked with have these kinds of props prefixed under some namespace, presumable to prevent collisions.

What do we think about prefixing these props with `reakit-`?

[2020-04-20 16:47] diegohaz commented on #634
Those attributes are part of the component API. My understanding is that, the same way we don't prefix component props, we shouldn't prefix those `data-*` attributes.

If it causes name collisions, users can change them:
[code]

Also, for other component libraries or design systems using Reakit as an implementation detail, I wouldn't like to pollute the API with more `reakit` (by default as they c

[2020-04-23 14:38] FezVrasta commented on #606
I suppose Reakit could make an exception and warn users that the `popperOptions` property is an escape hatch that is not guaranteed to follow semver.

[2020-04-24 09:11] tom-sherman opened #636 "Passing undefined to Dialog's tabIndex removed the tabIndex on the element"
## 🐛 Bug report

### Current behavior

When passing `undefined` to tabIndex on the Dialog component, the tabIndex is removed from the DOM element. This can lead to the focus "leaking" out of the focus trap, causing features such as hideOnEsc not to work.

### Steps to reproduce the bug

1. Open sandbox: https://codesandbox.io/s/reakit-tabindex-undefined-v9stm
2. Open the dialog
3. Observe there is

[2020-04-24 09:24] tom-sherman commented on #636
I've added the potential bug label because my assumption of the expected behaviour could be incorrect. If we do agree that my expectations are correct, I can go ahead and add a quick fix.

[2020-04-24 09:41] tom-sherman commented on #636
Hmmm, there's a test that looks to be relying on the current behaviour when using undefined so I'm not sure if my suggested solution is correct.

https://github.com/reakit/reakit/blob/master/packages/reakit/src/Dialog/__tests__/index-test.tsx#L799-L830

[2020-04-24 10:38] tom-sherman commented on #469
That's an interesting idea, although would only support one scrollable element. It may be better to pass the ref in as an option:

[code]

[2020-04-24 12:31] diegohaz commented on #636
I think you’re correct! That test shouldn’t be there. The Dialog container should behave as the `document.body` for the dialog contents.

[2020-04-24 12:52] tom-sherman opened #637 "Build scripts don't work on windows"
clean, build, and docs npm scripts don't work on Windows in cmd/poweshell because they rely on shebangs to run.

I'd suggest changing these like so:

[code]

[2020-04-24 15:28] diegohaz commented on #469
That could be a temporary solution, but I still think that we should get rid of the dependency altogether. I would consider this a bug on `body-scroll-lock` as it only happens on iOS, [but they don't seem to think this way](https://github.com/willmcpo/body-scroll-lock/issues/102). You don't need those additional refs to make it work on desktop browsers, for example.

[2020-04-24 15:30] #636 closed

[2020-04-24 16:23] #637 closed

[2020-04-24 17:00] zarabotaet commented on #469
our IOS client is about 50% of total (=

[2020-04-29 15:16] christiankaindl commented on #434
Hi there, we at @quantargo are using Reakit for our website and online course platform (free coding courses). Currently we are using Tooltips, Popovers, Dialogs, Checkboxes and Radios - And we will keep migrating more components to improve a11y of our site. I gotta say, we very much enjoy the API decisions the Reakit team has made! Really, big thanks ❤️

Our site is https://quantargo.com, feel fre

[2020-04-30 12:19] lennartbuit opened #640 "Form fields are only considered touched when they were blurred (at least) once"
## 🐛 Bug report

### Current behavior

There is a difference in behaviour of validations between fields that have been blurred, and fields that have not. Validations do run on fields that haven't been blurred yet, but the field is only marked touched when the field loses focus, leading errors to only show up for fields that were blurred at least once.

### Steps to reproduce the bug

(Not providin

[2020-04-30 12:21] lennartbuit commented on #640
FWIW: [this is where fields are marked touched](https://github.com/reakit/reakit/blob/0c51c4f3dc1ec9a83b9d915039ad8167f4e4217b/packages/reakit/src/Form/FormState.ts#L250), which indeed only runs on blur.

Also; if we reach some consensus on how this should work, I would also like to offer to implement a solution myself. Reakit is of great help to me, so I'd like to contribute where I can!

[2020-04-30 13:51] diegohaz commented on #640
Hi @lennartbuit! Thanks for opening the issue.

This is working as intended, and the way it works is the same as in other libraries, like Formik.

However, we can think on an option to mark fields as touched when they're updated, for example. Or something else. If you describe your use case, it may help us find a better API.

[2020-04-30 17:43] lennartbuit commented on #640
Hey there, thank you for your (swift!) response. The reason I am asking is because I abstracted the form state away (like suggested in the docs) and have sub components that use a shared context. One of these components is a submit button, I use the form state to determine whether the form can be submitted and thus enabling the submit button. However, as far as I can tell, validations only run whe

[2020-04-30 23:56] diegohaz commented on #640
So, just to avoid confusion, there are two concepts here: running the validation and actually showing the errors.

By default, validations run on change and on blur, and you can configure it by passing `validateOnChange` and `validateOnBlur` to `useFormState()`. They're `true` by default:
https://github.com/reakit/reakit/blob/0c51c4f3dc1ec9a83b9d915039ad8167f4e4217b/packages/reakit/src/Form/FormSt

[2020-05-01 11:02] lennartbuit commented on #640
Hey, thank you for your suggestion, works perfectly :). Here are some things I noticed while integrating them. I hope that they help in determining what to include in Reakit!

1. I did not end up needing dirty tracking

The reason being, a 'create' like form is (usually) not valid from the get-go. For 'update' forms, I thought it would be confusing to users that a perfectly valid form could not be

[2020-05-01 11:12] diegohaz commented on #640
I guess you can get rid of that flash if you replace `React.useEffect` by `React.useLayoutEffect`.

[2020-05-07 14:46] lluia commented on #626
@diegohaz happy to help with this, it's been a while since I contributed to **Reakit**, would you like me to rescue https://github.com/reakit/reakit/pull/402 as well? ( _it was close due to inactivity but have quite some free time now_ 👍🏻 )

[2020-05-07 15:02] diegohaz commented on #626
@lluia Please! 😊I re-opened the PR and I'll comment there.

[2020-05-11 01:48] #432 closed

[2020-05-12 11:21] #536 closed

[2020-05-12 15:21] Grsmto commented on #624
@tom-sherman I had a go on my own project with Browserstack Automate. If you plan to migrate your Cypress setup to it, ping me if you need help.
All my setup does right now is [renderring my example.html page](https://github.com/Grsmto/simplebar/blob/master/packages/simplebar/tests/simplebar.test.func.js) on Safari/IE/Chrome/FF.
Right now it's using [Intern](https://theintern.io/) to run the test

[2020-05-12 15:47] tom-sherman commented on #624
Tha KS @Grsmto, this is really helpful.

I've had less time than I'd like to work on this recently so I've unassigned myself, if anyone else wants to pick this up then feel free!

[2020-05-12 20:38] Grsmto opened #643 "Dialog "enter" animation doesn't work since new animate API"
## 🐛 Bug report

### Current behavior

The "enter" animation used on a Dialog component does not work with the new API.

### Steps to reproduce the bug

Provide a repo or sandbox with the bug and describe the steps to reproduce it.

1. Open sandbox: https://codesandbox.io/s/reakit-enterleave-animation-jyti1
2. Click on open/close

Note: this can also be reproduced on the [Reakit website](https://r

[2020-05-12 20:57] diegohaz commented on #643
Thanks for reporting it, @Grsmto!

Do you know if it works on `1.0.0-rc.2`?

[2020-05-12 21:02] Grsmto commented on #643
Seems to be working fine on `1.0.0-rc.2`! 😮

[2020-05-12 21:25] diegohaz commented on #643
I'm not sure what's happening, but may we will have to use double `requestAnimationFrame` here: https://github.com/reakit/reakit/blob/a17f5115fde786e22681fdfa2368f8c91980e59c/packages/reakit/src/Disclosure/DisclosureContent.ts#L48-L57

Possibly related to https://stackoverflow.com/questions/44145740/how-does-double-requestanimationframe-work

I just don't know if we can cancel the nested animation

[2020-05-12 21:55] Grsmto commented on #643
Right. I would have guess that code to be enough to "wait for the next render" before adding the `enter` class...but seems like it's not. Not sure how, maybe renders get batched since RAF is being used?!

About the cleaning, maybe this would be enough?:

[code]

I'm not sure `setTimeout` needs cleaning since it's 0.

I think this would be the exact same thing as the double RAF trick.
I would say a

[2020-05-13 04:01] #643 closed

[2020-05-14 21:13] WestonThayer commented on #399
Bump

[2020-05-18 13:13] lluia commented on #399
I'm happy to help with this one 👍🏻

As far as I saw components on this library are tested through [**RTL**](https://github.com/testing-library/react-testing-library/) ( Node ) simulating keyboard interactions there ... ⌨️ , and I feel that's probably enough?

For what I can see **Reach UI** [does the same](https://github.com/reach/reach-ui/blob/master/packages/combobox/__tests__/combobox.test.tsx)

[2020-05-18 13:19] lluia commented on #351
@diegohaz how are we with this? Any feature, in particular, you would like me to start with? 🙇🏻‍♂️

I'm happy to jump on some other issue as well, as I see there's quite a few with the **help wanted** label 👍🏻

[2020-05-18 15:52] diegohaz commented on #399
jest-axe would be a nice addition! 👍

I manually test components on Safari with VoiceOver and on Windows Firefox/Chrome with NVDA and JAWS. And this represents about 74% of usage according to the most recent survey from WebAIM: https://webaim.org/projects/screenreadersurvey8/#browsercombos

IE 11 is tested and it works with polyfills (that are added automatically by babel). But I usually don't tes

[2020-05-18 16:00] diegohaz commented on #351
@lluia The styling sections that I was discussing with @AliLynne above is a good one as there's a lot of pages needing it (right now I think only `Button` has this section: https://reakit.io/docs/button/#styling). 😊

[2020-05-18 17:35] giladgray opened #648 "browser support?"
## 🚀 Feature request

### Motivation

First, hi! 👋 This library looks awesome, very excited that it exists!

Quick question, should be simple. What is the browser support story for Reakit? Does it rely on modern ES features that must be polyfilled for older browsers?

I'm sure you have an answer ready for this, just a matter of supplying it on the docs site 😄

### Example

https://reactjs.org/docs

[2020-05-18 18:49] tiagoengel opened #649 "Typescript helpers/documentation to extend components and maintain "as" types."
## 🚀 Feature request

### Motivation

Following up on this discussion: https://spectrum.chat/reakit/general/typescript-utilities-to-extend-components~b9825325-4345-4082-b266-b14523ca2a99

One of the most interesting features of Reakit is the ability to compose functionality using the `as` prop.

It's not uncommon for me to want to extend a component to add some small extra functionality, but to ke

[2020-05-18 19:57] diegohaz commented on #649
Thanks! I think we can start with some docs maybe. You've mentioned that you have problems with `React.forwardRef` as well, right? I imagine that it's because `React.forwardRef` doesn't keep the generics from the passed component.

[2020-05-18 20:06] diegohaz commented on #648
It would be nice to have automated tests to enforce this as mentioned in #624

But we support all the modern browsers plus IE 11.

[2020-05-19 10:07] tiagoengel commented on #649
Yeah `forwardRef` also fails but I think that is not as important considering it's only one prop, in the worst case scenario it can be set to `any`, whereas `as` affects a few more props the component accepts.

I agree docs is a good start, maybe a new entry in the `Guide` section called `Typescript`?

Do you think is best to suggest something similar to what you've suggested to me on spectrum? E.

[2020-05-19 10:28] lluia commented on #649
We had a similar issue on the company I work for when using [`as` from Styled Components](https://styled-components.com/docs/api#as-polymorphic-prop).

Given you can use `as` to render almost anything, it becomes so unpredictable to type 😕
I wonder if you could you use generics to work-around this 🤔

The solution we took was to limit for each component what can `as` be ( _not ideal though_ )
[code

[2020-05-19 10:47] lluia commented on #399
Coolios, I see two pieces of work from this?

### Task 1

Explain this in the documentation, maybe in the[ homepage at the bottom](https://reakit.io/) or in the [troubleshooting](https://reakit.io/docs/troubleshooting/) page?

### Task 2

Open a PR adding axe verifications for each component, in the lines of...
[code]

[2020-05-19 10:49] tiagoengel commented on #649
It can be done with generics @lluia, I believe is what Reakit is doing, but as you mentioned it's not straightforward. That's why I think some utility types and/or docs will be very helpful.

[2020-05-19 11:28] tom-sherman commented on #399
@lluia It probably makes sense to also run the examples through jest-axe. Related to #626 and #624

[2020-05-19 14:05] youknowriad opened #650 "Potential React warning triggered by useToolbarState"
On Gutenberg when doing:

- Type `* ` on an empty paragraph
 - Click "cmd + z" to undo

It triggers a React warning with the following stack trace

<img width="1424" alt="Capture d’écran 2020-05-19 à 3 02 45 PM" src="https://user-images.githubusercontent.com/272444/82336087-1019b400-99e2-11ea-9734-1d360b16f270.png">

And if I'm reading right, this is the only place where this could be triggered ri

[2020-05-19 16:14] tom-sherman commented on #650
Hi @youknowriad, thanks for this! Do you think you could create a minimal CodeSandbox demonstraighting this error?

[2020-05-19 20:36] diegohaz commented on #650
Looks like it only happens in the context of Gutenberg, and I suspect it's somehow related to https://github.com/WordPress/gutenberg/issues/17355#issuecomment-629934483

I'll try to put together a minimal reproduction and see if there's something we can do on Reakit to prevent it.

[2020-05-20 08:42] youknowriad commented on #650
@diegohaz That's great, thanks for your help. I admit I don't know enough knowledge in this area of our codebase to be able to create a minimal reproduction CodeSanbox.

[2020-05-20 08:54] lluia commented on #429
@diegohaz what type of performance issue you refer to? ( _scrolling?_ )

I think we could use **Storybooks** for it having a story that renders a very large menu, or an example on the website 🤔

[2020-05-20 10:01] diegohaz commented on #429
It's mostly when you keep arrow keys pressed. A big improvement has been made on f5546009dd3f64dbc327a89fd4a391061514b6da, and #615 has more improvements and a story with a large menu bar. I think there's nothing else actionable here.

![May-20-2020 07-00-27](https://user-images.githubusercontent.com/3068563/82433294-9f1cdf80-9a67-11ea-83b1-8d3937aac0c6.gif)

[2020-05-21 00:43] dipunm opened #653 "More configurability for tooltip"
## 🚀 Feature request

### Motivation
This is kinda a couple of features/bugs.

#### Bug 1:
As per https://www.w3.org/WAI/WCAG21/Understanding/content-on-hover-or-focus.html.

In some cases, it is important to allow the tooltip to be hovered over without it being dismissed. I found that the tooltip cannot overlap the target element even with offset:
[code]
and that even when close, the tooltip cann

[2020-05-21 01:59] diegohaz commented on #649
Another thing we can do to help people extending Reakit components is to accept a generic `as` type on the `ComponentProps` types:

[code]

[2020-05-21 02:05] diegohaz commented on #653
I think I agree with this. I'm pretty sure this can be done in user land by using the [composition patterns](https://reakit.io/docs/composition/) on Reakit. But that would be good if we had this behavior built into the library as well.

But, what if the user mouses over another element that triggers another tooltip? What would happen?

[2020-05-21 21:51] #558 closed

[2020-05-22 00:05] WestonThayer commented on #399
Thanks for tackling this y'all! Great to hear you've already been testing in different ATs (assistive technologies, like screen readers) @diegohaz. You might consider adding iOS VoiceOver + iOS Safari to that list, as it's a different codebase than MacOS VoiceOver with different bugs.

@lluia here's where Reach UI mentions it: https://reacttraining.com/reach-ui/

I agree more detail would be welco

[2020-05-23 22:43] diegohaz commented on #399
Ah yeah! Forgot to mention that one. I do test on VoiceOver on iOS.

[2020-05-24 20:40] lluia commented on #399
@diegohaz should we add that text in the homepage then? 🧐

[2020-05-25 14:06] yeungc opened #656 "Warning message outputted while using tooltip with nextjs"
## 🐛 Bug report

### Current behavior
Console outputted below warning message when using tooltip in nextjs:
![1](https://user-images.githubusercontent.com/7931068/82819914-ce9e7280-9ed3-11ea-8cdb-5a55b2a58354.png)

### Steps to reproduce the bug
1. Open sandbox: https://codesandbox.io/s/red-hill-xtu43
2. See console logs

[2020-05-26 10:25] #566 closed

[2020-05-27 13:21] lluia commented on #656
I was checking, _it might happen_ because we try to render the [**Portal Tooltip**](https://github.com/reakit/reakit/blob/master/packages/reakit/src/Tooltip/Tooltip.tsx#L64-L66) ( given `unstable_portal = true` ). In theory `<Portal />` should be just rendering `null` on the server though 🤔 , maybe lifting the `document` guard up might help?
[code]

[2020-05-28 10:45] dipunm commented on #653
I had a similar thought, I think it could be solved by having a tooltip context designed to coordinate the closing of the tooltip, but I'm not entirely sure of the accessibility concerns with auto closing.

I think allowing tooltips to live in a named pool should be plenty flexible. Tooltips can either be part of the default pool and close when a peer tooltip opens, or be part of its own pool and

[2020-05-29 00:14] folz opened #657 "Dialog's click trap blocks Google Maps SDK autocomplete dropdown."
## 🐛 Bug report

We want to render the Google Maps SDK inside a Dialog. `Dialog` has a click trap to prevent clicks outside the DOM tree of the Dialog. Unfortunately, the Maps SDK always inserts the autocomplete dropdown just before `<body>`, meaning it's always outside of the Dialog's DOM tree, then positions it absolutely with CSS.

As a result, the autocomplete dropdown appears visually inside

[2020-05-29 08:29] tom-sherman commented on #657
This sounds like a similar solution to something I suggested for scrollable elements inside of a Dialog: https://github.com/reakit/reakit/issues/469#issuecomment-618936539

I don't know if it's relevant but I thought I'd surface the similarity!

[2020-05-29 11:03] tom-sherman commented on #657
Here's a sandbox for what I think you are describing: https://codesandbox.io/s/reakit-gh-657-x92zy

The button is still clickable on v1.0.0-beta.16 and v1.0.0 though. Maybe I'm missing a trick?

[2020-05-29 13:30] diegohaz commented on #657
Is there any option on the Maps SDK to change the dropdown's container target? Ideally, the dialog portal element should be considered the `document.body` for all elements inside it.

How are you working around that in the code? If you're able to, at least, move the dropdown element into the dialog portal element, I'd say that this is the best solution.

[2020-05-30 22:49] TheSisb opened #659 "Tab component not passing through `disabled` prop"
## 🐛 Bug report

Passing a `disabled` prop through the Tab component down to the (i.e.: `as={Button}`) component doesn't work.

### Current behavior

I'm using the Tab component like so:
[code]
and the disabled prop is being stripped before being passed down to my Button component, so it isn't styling it correctly.

### Steps to reproduce the bug

https://codesandbox.io/s/ecstatic-cloud-sbwv4?file

[2020-05-31 00:17] folz commented on #657
We're working around it currently by moving the element into the Dialog. This has worked so far, but I don't know if we're quietly breaking something else in the Maps SDK that we aren't using or haven't tested yet. I was able to write a sandbox demonstrating the issue, using approximately the same code we're running in prod: https://codesandbox.io/s/reakit-gh-657-qgsvr.

The first instance does no

[2020-05-31 00:26] folz commented on #657
@tom-sherman you know, I also would have thought your example would have behaved like what I'm seeing with the Maps SDK. Whatever the reason, I'm missing it too.

[2020-05-31 05:12] diegohaz commented on #659
Hey @TheSisb!

The `Tab` component has the `focusable` prop set to `true` by default, which means that even when you mark it as `disabled`, it'll not pass the `disabled` prop to the underlying element. Instead, it passes `aria-disabled`. This is so the tab element remains focusable even though it's disabled.

So, you have some options:
 - In the `Button` component, check the `aria-disabled` prop i

[2020-05-31 05:12] #659 closed

[2020-05-31 19:19] TheSisb commented on #659
Thank you!

[2020-05-31 20:57] Guria commented on #256
Does it makes sense to combine Downshift with Reakit promitives for this?

[2020-05-31 21:03] diegohaz commented on #256
I don't think so. It overlaps a lot with [Composite](https://reakit.io/docs/composite/). It's probably better to create something out of `Composite` instead. That's probably how we're gonna make it. There are some examples here: https://codesandbox.io/s/composite-gcqs2

[2020-05-31 21:06] Guria commented on #374
Any ongoing work here? Can I help somehow?
I'd be happy to have this task as my "pet-project", but would be glad to have some directions first.

[2020-05-31 21:14] diegohaz commented on #374
@Guria The calendar is a `Grid` component. We're going to have grid soon (I'm working on it). But this can be already made on top of [Composite](https://reakit.io/docs/composite). There are some examples here: https://codesandbox.io/s/composite-gcqs2

[2020-06-01 11:02] Guria opened #661 "introduce Error class for throwing in form onValidate"
## 🚀 Feature request

### Motivation

https://eslint.org/docs/rules/no-throw-literal

### Example

[code]

[2020-06-01 13:58] diegohaz commented on #661
This somehow overlaps with #468

It seems that having this kind of validation error object would be the best solution.

[2020-06-01 14:11] Guria commented on #661
@diegohaz
I do agree with no throwing API proposed there. So I think we can close this issue in favor of referenced one.

[2020-06-01 14:36] Guria commented on #468
Follow up from #661
I do agree with no throw API proposed here, just because we have a big confusion by treating Validation Error as Runtime Error. But semantically it is just a state (even might be a derived state) of the form. And using throw here is just like using `goto` operator.

One possible option I was thought about is to return instance of either `FormErrors` or `FormMessages`. Than call

[2020-06-01 17:47] yeungc commented on #656
Thank you, but I have checked again, even if I set unstable_portal to true or false, the warning message is still here.

[2020-06-01 19:46] Guria commented on #468
Can I take this issue for myself?

[2020-06-01 19:46] #661 closed

[2020-06-01 19:55] diegohaz commented on #468
@Guria Sure!

[2020-06-01 20:01] Guria commented on #468
Should we discuss a direction/target API first?
What about moving to a separate package?

I have also a question, why there is no Input primitive outside Forms. Is it intentional?

[2020-06-02 16:11] diegohaz commented on #468
Why do you think it should be a separate package? (I’m not against it, just trying to understand the reasoning)

It’s not intentional that there’s no Input primitive. There should be one eventually. It’s just not one of my priorities right now, but I will review and accept PRs on it.

Regarding the API, I tend to prefer throwing an error class like you suggested in the other issue, but I’m all ope

[2020-06-03 08:52] Guria commented on #468
Form management may be built on top of the base reakit primitives very differently. Consumer might prefer to use any 3rd party for bunch of reasons (some company standard, api doesn't fit needs, etc).
Reakit may (should) provide own opinionated way to manage forms still, but moving it as separate package allows to have own versioning and continue exploring and experimenting without affecting base

[2020-06-03 15:46] julienemo opened #664 "Feature request: A "password" field with option to hide and show password input"
## 🚀 Feature request

A "password" field with option to hide and show password input

### Motivation

In a sign in form, a password field is often in need. By default, password is always hidden as little black dots and it would be nice if we could have an option to see the exact input (for example with a little eye icon)

### Example

Here is an example from [antd](https://ant.design/components/fo

[2020-06-03 16:24] diegohaz commented on #468
Reakit may (should) provide own opinionated way to manage forms still, but moving it as separate package allows to have own versioning and continue exploring and experimenting without affecting base library.

Got it! The base library (`reakit`) has been designed so modules don't affect each other. Everything is treeshakeable, and you can always import individual modules like `reakit/Form` (or even

[2020-06-03 19:38] Guria commented on #468
I see your point here, but my point was more about versioning. With separate package you can introduce a breaking change into forms (experimetal and opinionated) part and bump major only for this exact package without affecting base package which is tend to be much more stable.

[2020-06-03 19:40] Guria opened #665 "Introduce Input primitive as base for FormInput"
_Originally posted by @diegohaz in https://github.com/reakit/reakit/issues/468#issuecomment-638306619_

[2020-06-03 19:59] Guria commented on #665
@diegohaz
I would reverse a question: "what would that simple <input> will not have that FormInput does?"
It wouldn't have dependency on useFormState, first of all.

On the other side it would still can be [styled](https://github.com/reakit/reakit/blob/master/packages/reakit-system-bootstrap/src/Form.ts#L78) as Input using `useInputProps` hook.

[2020-06-03 21:05] diegohaz commented on #468
Oh yeah! Right now it's being "solved" by prefixing the module with `unstable_`. And I think it's a matter of how many subjetive decisions we want to make.

With this naming approach, we can say that every new module should start as unstable/experimental, so there's no hard decision to make here.

But we do have one subjective decision to make: when will this module become stable? For [Composite](

[2020-06-03 23:31] StephaneP commented on #664
wouldn't mind working on this one

[2020-06-04 03:34] diegohaz commented on #664
This seems too specific to be a component. Maybe just an [example](https://github.com/reakit/reakit/issues/626) would be enough?

[2020-06-04 03:44] Grsmto commented on #256
Hey guys,
I've been playing with the `Composite` examples you just sent Diego and I tried to rewrite the implementation from #592 by Greg using it: [https://codesandbox.io/s/composite-k68fs?file=/index.js)](https://codesandbox.io/s/composite-k68fs?file=/index.js)

It's just a small basic example but a Select component is one of the top most complex UI components and can do millions of things...(se

[2020-06-04 07:31] Guria commented on #468
Totally valid points. Completely agree with your criteria, that is what I thought too. And I do agree about forms that it is subjective on whether it should be extracted or not. So if you feel that it is better,  lets keep it as is for now.

[2020-06-04 21:31] Guria commented on #665
@diegohaz so do you agree with this suggestion?

[2020-06-04 22:21] diegohaz commented on #665
Yeah! I think that's a good start. :)

[2020-06-06 04:48] diegohaz commented on #256
Thank you for the example @Grsmto! That's really helpful!

Regarding the name, my only concern about naming it `Select` is that there's an abstract ARIA role with the same name (https://www.w3.org/TR/wai-aria-1.1/#select), which is the base for widgets like `combobox`, `listbox` and `menu`.

At first, I thought about having a `Select` component that would take care of item selection (including mul

[2020-06-08 05:17] #665 closed

[2020-06-08 09:07] diegohaz commented on #650
Here's a reproduction of the problem: https://codesandbox.io/s/wordpress-slotfill-reakit-toolbar-nw01x

Working on a fix.

[2020-06-08 15:31] youknowriad commented on #650
Thanks for the fix @diegohaz

[2020-06-14 09:23] salper opened #677 "useEventListenerOutside and focus loss"
## 🐛 Bug report

### Current behavior

When a nested dialog is `modal: false`, and there's a focus loss, the focus is given to an element outside of the nested modal, calling hide [here](https://github.com/reakit/reakit/blob/239eb5622a1a02cd6f69c857bb725c8250dad155/packages/reakit/src/Dialog/__utils/useHideOnClickOutside.ts#L61). It's probably due to the fact that for the browser, the parent dialo

[2020-06-15 12:24] Guria commented on #677
@salper tried to debug your example a bit.
Should I set a breakpoint on a [line that checks whether container contains target](https://github.com/reakit/reakit/blob/b3a20149338149257cebf63964d9b23eb3dbae57/packages/reakit/src/Dialog/__utils/useEventListenerOutside.ts#L60) it stops reproducing. Looks like the `target` of `focus` event is changing if there were a stop in a debugger in a `click` even

[2020-06-15 15:49] salper commented on #677
@Guria Yeah, we can solve that programmatically, either skipping a tick or setting the focus. First time I've encountered the problem, I used `setTimeouts`, but it didn't always work (depending on the DOM context). If possible, the library should handle this case, but I have no idea how it could do.

[2020-06-19 08:40] MortenHofft commented on #606
This shows my issue and motivation:
https://codesandbox.io/s/reakit-popover-overflow-8mleu?file=/index.js

The popover overflows in body bottom. And setting preventOverflow doesn't help as it only deals with horisontal overflow (vertical is a setting that defaults to false).

I'm simply not sure how to handle this within Reakit. Am I missing something? I could set placement to `auto` of course, bu

[2020-06-19 12:40] liegeandlief opened #680 "Menu positioning breaks with custom button element"
## 🐛 Bug report

### Current behavior

When I use a custom button element for `MenuButton` the automatic positioning of the menu ceases to work. Looking at the menu's `div` element the `style` attribute toggles between `display: none` when the menu is closed and empty when the menu is open.

The custom button element I am using just renders an HTML button and it also maps all passed in props on to

[2020-06-19 13:10] diegohaz commented on #680
Hi @liegeandlief! You have to `forwardRef` on your custom Button component. You should've seen a console warning about that.

[2020-06-19 13:15] diegohaz commented on #606
@MortenHofft What's the option on Popper.js that would solve that?

[2020-06-19 13:21] liegeandlief commented on #680
Thanks @diegohaz! Are you able to provide an example of what you mean? Thanks :)

[2020-06-19 13:23] diegohaz commented on #680
Sure:
[code]

[2020-06-19 13:46] liegeandlief commented on #680
That worked a treat. Thanks!

[2020-06-19 13:46] #680 closed

[2020-06-19 15:16] frassinier opened #681 "Radio state with Safari and Firefox"
## 🐛 Bug report

Radio state with Safari and Firefox is not really updated

### Current behavior

I try to lean on the Radio state using `<RadioGroup>` and `<Radio/>`
If I use Chrome or Edge, its `currentId` will change, not with Safari or Firefox :(

### Steps to reproduce the bug

Provide a repo or sandbox with the bug and describe the steps to reproduce it.
https://codesandbox.io/s/fancy-fog-wf

[2020-06-19 15:30] diegohaz commented on #681
Thanks for reporting it @frassinier!

I believe it has to do with the fact that Firefox (on MacOS) and Safari don't move focus to native radio elements when you click on them. And since `currentId` tracks only focus, it's not updated. You could even add an `onFocus` handler to the radio element, and it wouldn't be executed at all. `radio.state` is correctly updated though.

We do have a mechanism

[2020-06-19 15:38] frassinier commented on #681
Thank you @diegohaz!

I want to create a switch with a sliding indicator
![Jun-19-2020 17-34-55](https://user-images.githubusercontent.com/18534166/85150844-579a9680-b253-11ea-9d1e-b91d28556af7.gif)

So I have set up a hook to adapt its width and its position regarding the current selection.

[2020-06-19 15:50] diegohaz commented on #681
Got it! Thanks!

I know that @itsjonq has worked on a very similar component in the past. And it seems to work great on Safari: https://react-viewport-frame.netlify.app/?path=/story/segmentcontrol--default

You can see the code [here](https://github.com/ItsJonQ/react-viewport-frame/blob/8a35e974d5e1847ced20552f39246a1fe66cf4b2/src/components/SegmentControl/SegmentControl.js). I guess it's not rely

[2020-06-22 12:36] frassinier commented on #681
Ok, kudos for @ItsJonQ's workaround.

The trick is to use `unstable_virtual` option with the radioState in addition to using data attribute on the main element representing the Radio.

Now, it works with webkit on my side too but keyboard gestures are still broken with Firefox.

Can I suggest a PR for fixing this:

[2020-06-22 12:49] diegohaz commented on #681
Sure!

[2020-06-22 21:21] diegohaz commented on #681
I'm anticipating that #683 will get quite complex. I wonder if just turning `Radio`s into buttons wouldn't be enough for your use case:
[code]

[2020-06-22 23:15] folz commented on #606
I was about to open an issue about this as well. I'd also appreciate an API for customizing or creating arbitrary popper.js modifiers for Popover and related components.

My specific use case - we have new Tooltip designs that call for rounded borders. The TooltipArrow is placed such that it starts to diverge from the Tooltip:

<img width="221" alt="Screen Shot 2020-06-22 at 4 06 18 PM" src="https

[2020-06-22 23:40] diegohaz commented on #606
Thanks for the feedback @folz! It's very important!

Have you tried to replace the `PopoverArrow` children with another SVG or even use another element as the arrow that would adapt better to your tooltip design? Looks like it could work.

[2020-06-23 00:23] folz commented on #606
So the TooltipArrow's SVG works for me when I forked reakit locally and edited the `arrow` modifier to move it a little closer to the center, and the `offset` to counterbalance:

<img width="216" alt="Screen Shot 2020-06-22 at 5 06 15 PM" src="https://user-images.githubusercontent.com/299281/85346561-b017a100-b4aa-11ea-8516-5ba7d1291d4f.png">

I've tried using other SVGs from our icon library and

[2020-06-23 01:17] diegohaz commented on #606
Adding individual options for common needs is the best solution I can think of right now. Popper.js is an implementation detail, and exposing something such as `popperOptions`, even if it's marked as experimental, will create more frustration in the future.

The ideal solution is to make it easier for people to extend or replace `usePopoverState`/`useTooltipState` with their own state hook, so the

[2020-06-23 19:13] frassinier commented on #681
It works like a charm using buttons, but I will still try to fix that as expected.

[2020-06-25 12:37] MortenHofft commented on #606
[altAxis: true](https://popper.js.org/docs/v2/modifiers/prevent-overflow/#altaxis) in my case.

I like the ideal solution 😄  of making it easy to extend `usePopoverState`, but currently I wouldn't know how to without writing my component from scratch. That might well be my lack og imagination though.

[2020-06-30 08:16] namjul opened #686 "htmlWrapElement before portal wrap"
## 🚀 Feature request

### Motivation

Currently all `wrapElement` prop calls like the following are called after a component typically wraps its content into a portal. https://github.com/reakit/reakit/blob/ce766d57b97e6b081a41504e8676e5d47e23e9cd/packages/reakit/src/Dialog/DialogBackdrop.tsx#L37-L43

[code]

### Example

In my case i am using the hooks only and want use `wrapElement` prop to wrap

[2020-07-09 20:17] TheSisb commented on #434
[Twilio](https://twilio.com)'s [Paste design system](https://paste.twilio.design) is using Reakit. It has been excellent to work with so far. Our [repository](https://github.com/twilio-labs/paste) is open source.

Thank you for an excellent library! <3

[2020-07-11 15:40] diegohaz commented on #686
@namjul Could you please create a CodeSandbox demonstrating the current behavior with the issue (so we can compare after opening a PR)? With that, I would accept a PR on that if you're willing to work on this. :)

[2020-07-14 19:44] diegohaz commented on #487
I've been trying to think on a solution for this issue. I've been seeing more and more people trying to create controlled components at the same time they want to use Reakit state hooks. And I agree that sometimes you really need both.

### The problem

For example, the component below will only consider the initial value passed to the `visible` prop:
[code]

We can't update the internal visible s

[2020-07-14 20:05] ItsJonQ commented on #487
oOoOOoo... I really like the derived state second argument 👏 !
It feels like a seamless addition to the existing Reakit API.
Also, very easy to reason about and use ❤️

[2020-07-18 07:52] #677 closed

[2020-07-18 11:08] diegohaz commented on #677
Should be fixed in `v1.1.2`

[2020-07-22 12:49] ezhikov commented on #656
Hi. I had same error with modal Popover. I found workaround in [next.js examples](https://github.com/vercel/next.js/tree/canary/examples/with-portals) - creating component which renders not just on client, but _after hydration_ and passing it into `as` property of `PopoverBackdrop`. [Same works for tooltip](https://codesandbox.io/s/friendly-shamir-gs9wl?file=/components/tooltip.js).

I'd like to l

[2020-07-22 17:15] #496 closed

[2020-07-23 15:49] #505 closed

[2020-07-26 18:22] #634 closed

[2020-07-30 16:59] strass opened #698 "Animated disclosures warning if stopAnimation never called"
See this twitter thread: https://twitter.com/ZakStrassberg/status/1288854665581473792

If a disclosure with animated: true doesn't have a transition attached to it, stopAnimation is never called and focus management breaks. I thought it was a ref issue until I looked into source.

[Diego proposed:](https://twitter.com/diegohaz/status/1288880616109465601)

[2020-08-06 17:06] #640 closed

[2020-08-08 19:06] #698 closed

[2020-08-12 07:40] navin-moorthy opened #702 "[Radio] Tab moves focus to body instead of next tabbable item in the dom"
## 🐛 Bug report

### Current behavior

Hitting `Tab` from the <Radio/> moves the focus to body instead of the next focusable element in the DOM.

### Steps to reproduce the bug

https://codesandbox.io/s/useradio-reakit-issue-xu62i

1. Click on top of the body.
2. Hit `Tab` to move the focus to the 1st <Radio /> within 2st <RadioGroup />
3. Hit `Tab` moves the focus to the body

### Expected behavi

[2020-08-12 08:27] tom-sherman commented on #702
This is intentional behaviour for radio groups I believe. From the [WAI-ARIA docs](https://www.w3.org/TR/wai-aria-practices/#radiobutton):

The radio group is a single tab stop in the document to allow for fast navigation for keyboard users within the page. You can then use the arrow keys to move between radio elements.

To get the behaviour you're after, you would likely need to compose your own

[2020-08-12 08:51] navin-moorthy commented on #702
Thanks, @tom-sherman for answering, but I understand how Radio work according to the link you attached but my point is traversing from one Radio group to another.

I think you mis-understood OR I did not convey it much clear earlier.

Let me show you what I mean

![reakit-tab-focus](https://user-images.githubusercontent.com/39694575/89994807-3def5b80-dca6-11ea-8396-11a0ff65664a.gif)

But I am expe

[2020-08-12 08:55] tom-sherman commented on #702
Oh, ok sorry! I'm not seeing that behaviour on either Chrome or Firefox on my machine so assumed you were asking about different behaviour, entirely my fault.

What browser are you seeing this in?

[2020-08-12 08:57] navin-moorthy commented on #702
I am using Chrome 84, let me check in other browsers as-well and will let you my results.

[2020-08-12 08:58] navin-moorthy commented on #702
But I get the expected behaviour with React Aria - https://codesandbox.io/s/useradio-spectrum-rl7hj?file=/src/App.js.
Just in case you need.

[2020-08-12 09:04] navin-moorthy commented on #702
I am getting the expected behaviour in Firefox Developer Edition v80.

[2020-08-12 09:04] tom-sherman commented on #702
What OS and version?

[2020-08-12 09:07] navin-moorthy commented on #702
I think, I should have posted these details when raising the issue, but I did not it was necessary before.
Sorry for that.

"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36"

[2020-08-12 09:10] tom-sherman commented on #702
I am now seeing your described behaviour as well on Chrome 84.0.4147.125 on Windows. Thanks for this Navin, looks like a bug to me!

[2020-08-12 09:14] navin-moorthy commented on #702
Got it, thanks. So, you were using an older version of Chrome and it works as expected before?
If so please add that Chrome Version.

[2020-08-12 09:21] navin-moorthy commented on #469
I was going through React-Aria's codebase on how they have approached the body scroll lock, seems they are using thier own hook - `usePreventScroll` - https://github.com/adobe/react-spectrum/blob/c700898916bbd076bcc63e49d77c16d80623a8e7/packages/%40react-aria/overlays/src/usePreventScroll.ts

I hope this helps you if incase haven't looked at this before.

[2020-08-12 10:05] tom-sherman commented on #702
I've downloaded Chromium 83 and the bug still exists, so I must have had open the wrong sandbox at the time!

[2020-08-12 13:30] diegohaz commented on #702
Thanks for reporting @navin-moorthy! The issue, I guess, is that we aren't including the `name` attribute on the radio elements (radios in the same group should have the same name).

You can work around it by manually adding the name. But that's something we should fix here as well. In case you want to contribute, I think you can just add `name` prop here as `options.baseId` (generated automatical

[2020-08-12 13:36] navin-moorthy commented on #702
OH!! Adding name attribute fixed it. I did not think that would cause an issue 😑

Good to know @diegohaz , I will take it up and raise a PR for this fix.

Cheers 🎉

[2020-08-12 13:56] navin-moorthy commented on #702
I hope the above PR is sufficient. Also, shouldn't we add a note or something like that anywhere so others don't report this in future.

Since, in the docs I don't see a name prop and I just tried copy pasted the example. So got the bug.

Is it a good idea to send out a auto generated `name` prop by default(not onlyi if it's a `isNativeRadio` ? and the when there's a `name` prop provided for <Radi

[2020-08-13 02:32] #702 closed

[2020-08-13 02:43] navin-moorthy commented on #702
Any thoughts on this @diegohaz ?

[2020-08-13 02:56] diegohaz commented on #702
Do you still think it's necessary to explain about the `name` prop in the docs now that it's fixed? People who want to use a custom `name` prop can do it by just passing the prop to the element. Non-native radio elements don't suffer from this issue.

[2020-08-13 03:05] navin-moorthy commented on #702
Okay !! I understand now. I am still looking into the Radio Component Source code to understand.

I don't think it's necessary now. Thanks !!

[2020-08-13 15:54] DoneDeal0 opened #705 "Automatically invert tooltip's position if there is not enough space"
## 🚀 Feature request
Automatically invert tooltip's position if there is not enough space to display its content. The popover already does it.

### Motivation
Never let the browser's edges hide the tooltip.

### Example
const reakitTooltip = useTooltipState({placement: top});
=> placement automatically switches to bottom if there is not enough space.

[2020-08-13 16:04] diegohaz commented on #705
Hi @DoneDeal0! It already does that, doesn't it?

If it's not working for you, could you please provide a CodeSandbox reproduction?

[2020-08-13 22:33] tom-sherman opened #706 "React 17 support"
Thought I'd open this issue to track bugs related to React 17.

You can view the most recent CI run on `react@next` here: https://github.com/reakit/reakit/actions?query=workflow%3Areact-next+

There is some change in focus behaviour, see https://github.com/facebook/react/issues/19606

[2020-08-13 23:24] tom-sherman commented on #706
Docs preview build: https://deploy-preview-707--reakit.netlify.app/

[2020-08-14 00:05] diegohaz commented on #469
@navin-moorthy Thanks! I think we can do something like that if that works well on mobile.

[2020-08-14 08:10] DoneDeal0 commented on #705
Hello @diegohaz , thanks for your answer! Right now, the automatic position only works for small content. For large texts (for example a list of countries chosen in a filter), the behaviour is broken. I have reproduced the issue in this sandbox:
https://codesandbox.io/s/react-hooks-usestate-forked-45t06?file=/src/index.js

I you remove some lorem ipsum, it will work again as expected. I suspect th

[2020-08-14 08:20] tom-sherman commented on #705
In your example, it's showing at the top when there is not enough space to show the content at the bottom. Open the preview fullscreen and zoom out a bit if you have to, the tooltip will appear at the bottom if there is enough room, otherwise it'll default to show at the position you told it to show at.

I'm not sure how best to solve your problem, but I'd suggest that a tooltip isn't the right co

[2020-08-14 08:31] DoneDeal0 commented on #705
Ok, my bad, it makes sense. I close the issue then. Thanks for your time!

[2020-08-14 08:31] #705 closed

[2020-08-14 18:33] diegohaz commented on #705
Yeah, you'll be probably better using a Popover with a scrollable area inside. There are some discussions around hover popovers on #633. Any feedback there is highly appreciated!

[2020-08-17 03:53] #706 closed

[2020-08-18 01:10] diegohaz commented on #435
Ah, missed this one. This is actually supported now with [Composite](https://reakit.io/docs/composite/#two-dimensional-navigation) and, more specifically, the experimental [Grid](https://reakit.io/docs/grid/) module.

[2020-08-18 01:10] #435 closed

[2020-08-18 12:06] tolunayakbulut commented on #434
Hey there, we are using Reakit on [radity.com](https://radity.com/). Thanks for developing Reakit.

[2020-08-19 21:51] diegohaz commented on #374
I started working on an API based on @jtmthf's ideas:

[code]

https://twitter.com/diegohaz/status/1295513457001988096

It's a lot simpler and probably doesn't address all the use cases brought up by @jtmthf (at least, not directly, but the user could probably achieve them with some customization), but I think it's a good start.

It would use the [Grid](https://reakit.io/docs/grid/) component unde

[2020-08-20 12:29] MirzayevFarid commented on #434
We’re using reakit on [globalctoforum.org](globalctoforum.org) in many of our new components.

Thanks for such an amazing work!
You can add us to the list.

[2020-08-22 07:03] navin-moorthy opened #721 "[Separator] Return role and aria-orientation when the element is not `hr`"
## 🚀 Feature request

Only return `Role: seperator` when the element is not `hr` tag and `Orientation: vertical` when the orientation is vertical.

Adding them when the tag is `hr` and in horizontal orientation is redundant IMO.

### Motivation

Seperator `<hr />` by default has `Role: seperator` and `Orientation: horizontal`.

![Resizer](https://user-images.githubusercontent.com/39694575/90950806

[2020-08-23 17:10] #351 closed

[2020-08-23 17:18] hc-codersatlas commented on #664
Instead of just password, the option to add a component at the start and end of an input would be good. Seems to common in other ui frameworks.

[2020-08-23 20:10] #648 closed

[2020-08-24 13:27] vvo commented on #256
Hey there @diegohaz, I am trying to use the "Combobox (aria-activedescendant)" example from this codesandbox. Only difference being that I'd like the listbox to show only when input has focus, how would you do that with Reakit? Thanks!

[2020-08-24 13:58] diegohaz commented on #256
@vvo You would have to play with the input's `onFocus` and `onBlur` props.

There's a Combobox component in the works on #688 (example: https://deploy-preview-688--reakit.netlify.app/storybook/iframe.html?id=examples--accessible-combobox&viewMode=story)

[2020-08-24 14:27] navin-moorthy opened #722 "[Button] As 'a' with disabled prop focuses on `tab`"
## 🐛 Bug report

### Current behavior

![image](https://user-images.githubusercontent.com/39694575/91055069-c88a7000-e641-11ea-9425-b0575dba309e.png)

### Steps to reproduce the bug

1. Open sandbox: https://codesandbox.io/s/button-with-a-disabled-bug-7znw8
2. Press Tab on the preview to see the button focus when keyboard press but not on pointer press.
3. Expect to see the button getting focused.

[2020-08-24 14:43] tom-sherman commented on #722
It's worth noting that there is potentially another expected behavior. Because `<a>` tags don't have a disabled property (and therefore no native disabled focus semantics) you may expect that clicking the anchor focuses the button.

Your solution looks good and easily achievable in userland. I'd vote to add this as a section to the Button docs instead of adding it as new default behavior.

[2020-08-24 15:14] navin-moorthy commented on #722
Got Got !! Thanks for the clarification !!

I will just use the solution for my use-case.

[2020-08-24 15:15] vvo commented on #256
Ok thanks, the Combobox is coming up nicely, good luck for the release of it.

For now I am trying to combine your codesandbox example with a popover but not so easy!

[2020-08-24 16:09] diegohaz commented on #722
I would say it's a bug that we're passing `disabled` to `a` elements.

We pass the `disabled` prop to all native tabbable elements from this list: https://github.com/reakit/reakit/blob/365f1583633e2c6ffbda4fb4ec46d74a7c63e9d8/packages/reakit/src/Tabbable/Tabbable.ts#L111-L121

https://github.com/reakit/reakit/blob/365f1583633e2c6ffbda4fb4ec46d74a7c63e9d8/packages/reakit/src/Tabbable/Tabbable.ts#L1

[2020-08-24 19:06] isaacs opened #723 "Conflicting peer dependency, project not installable with npm v7"
## 🐛 Bug report

Conflicting `peerDependencies` that are not resolvable properly.

### Current behavior

npm v7 now automatically resolves `peerDependencies` so that packages can be fully and correctly installed in most cases, and incompatible behavior can be detected and fixed earlier in the development process.  However, in the current npm v7 beta, the error message it presents in unresolvable c

[2020-08-24 19:08] isaacs commented on #723
Excuse me, the root dependency on `eslint-config-react-app` is a `dev` dependency, not a `prod` dependency.  So, follow-up question: if it _was_ a prod dep, would that change any of your answers?

[2020-08-24 19:17] isaacs commented on #723
Alternative styling, terser, maybe easier to scan?  Feedback very much welcome!

[code]

[2020-08-24 21:27] diegohaz commented on #723
The project uses lerna and yarn workspaces. It works well. I remember seeing some errors when running `yarn upgrade-interactive`, but it doesn't always happen, and it's usually fixed by removing `yarn.lock` and letting yarn generate it again. I'm not sure if it's related though.

I just removed the `eslint-config-react-app` dependency as it seems that we're not using it anywhere.

I get this error

[2020-08-24 22:01] isaacs commented on #723
Cool, that seems like a valid problem to raise then!

Yes, yes, this was all just a very elaborate ploy to get you to find this bug for me 😈  Thanks, I'll dig into that one :)

I was running `npm install` on a different commit than the latest, so this is a great find.  I can reproduce on your master branch.

[2020-08-25 02:50] navin-moorthy commented on #722
So, you mean this can be fixed in `Tabbable` by returning `tabIndex={-1}` to `<a>`, `<audio>` and `<video>` instead of `disabled`.

Am I correct ?

[2020-08-25 05:59] diegohaz commented on #722
Haven't tested it, but in theory yes!

[2020-08-25 10:12] diegohaz commented on #722
@navin-moorthy Do you want to work on this? Otherwise, I can do it later this week. :)

[2020-08-25 10:21] navin-moorthy commented on #722
@diegohaz thanks, I will work on this on my free time.

[2020-08-25 12:49] vvo opened #724 "Input inside Composite receives blur/focus on CompositeItem click"
## 🐛 Bug report

### Current behavior

- When using an input inside Composite, just like this isolated example does: https://codesandbox.io/s/composite-forked-xleis?file=/index.js
- trying to listen for input focus/blur to be able to show/hide CompositeItem list
- When you click on input: focus is received
- When you click outside of input: blur is received
- When input is focused
- When you click

[2020-08-25 13:37] diegohaz commented on #724
Hey @vvo! This behavior is better explained here (more at the end of the thread): https://twitter.com/diegohaz/status/1291005921712275456

When you use render props and you pass props like `onFocus` and `onBlur` directly to the underlying element (`input`), you're overriding the internal component `htmlProps` that might contain them as well. That's okay if you really intend to do it.

Since that d

[2020-08-25 14:17] vvo commented on #724
Thanks for this! It worked to pass onFocus/onBlur directly on the Composite.

[2020-08-25 14:17] #724 closed

[2020-08-26 05:34] #649 closed

[2020-08-26 09:43] diegohaz commented on #649
For people coming to this issue in the future, here's something that might help you: https://twitter.com/diegohaz/status/1297886375941873664

[2020-08-28 19:45] beaussan commented on #464
Any update on this ?

[2020-08-31 07:22] jxom opened #730 "Menu performance (delay when initially rendering many Menu's)"
## 🐛 Bug report

### Current behavior

For a component which consists of many `Menu` components (in the below example, there are 20 menus w/ 10 items in each). There seems to be a bit of a delay when initially rendering the menus.

### Steps to reproduce the bug

Provide a repo or sandbox with the bug and describe the steps to reproduce it.

1. Open sandbox: https://codesandbox.io/s/billowing-moun

[2020-08-31 13:41] diegohaz commented on #730
Thanks for investigating it @jxom! ❤️

It's mostly due to `reakit-system-bootstrap` and its use of CSS-in-JS. This is a known issue, but since `reakit-system-*` packages aren't production ready, it's not really a priority right now. Actually, since there hasn't been any meaningful progress on the `reakit-system-*` packages so far,  I'm thinking about giving up on that experiment altogether and pro

[2020-09-01 07:45] navin-moorthy commented on #721
@diegohaz Can I work on this changes, if you think we can do these checks ?

[2020-09-01 15:45] diegohaz commented on #721
@navin-moorthy Sure! I think we could set the initial value based on the `as` prop and then check the element ref on the effect. But this would probably require some change on the `createHook` util as I think the `as` prop is not passed to the hook (not sure though).

[2020-09-02 01:01] isaacs commented on #723
https://github.com/npm/arborist/pull/118 <-- In the next npm v7 beta (not the one just shipped today), the `Maximum call stack size exceeded` and `cannot read property 'name' of null` errors will be fixed, the error reported will be actually helpful, and this project will be installable with `--force` (albeit with conflicting peer deps due to https://github.com/gatsbyjs/gatsby/pull/26689).

Thanks

[2020-09-02 04:21] navin-moorthy commented on #721
Thanks @diegohaz , I will look into it.

[2020-09-07 02:07] #722 closed

[2020-09-08 10:00] tom-sherman opened #734 "Migrate to GitHub discussions beta from Spectrum?"
It looks as though it's [possible to apply](https://github.community/t/can-one-apply-for-github-discussions-beta/121120/16) to join the GitHub Discussions beta.

Examples:

https://github.com/githubevents/satellite2020/discussions

https://github.com/vercel/vercel/discussions

[2020-09-08 11:06] namjul commented on #532
I came across this issue by using the `autoFocus` attribute and it would not work with reakit's `Portal` but with `react-portal`.

There seems to be two approaches where in the one taken by [`react-portal`](https://github.com/tajo/react-portal/blob/master/src/Portal.js#L20) you add the container first and then use `createPortal` to render the tree into it. The other, and taken by reakit, you first

[2020-09-08 19:04] diegohaz commented on #734
Thanks Tom! I just commented on that thread requesting access.

[2020-09-08 19:36] diegohaz commented on #734
YAAY!

https://github.com/reakit/reakit/discussions

[2020-09-08 19:36] #734 closed

[2020-09-08 20:47] diegohaz commented on #532
Thanks for the info @namjul!

I think the difference is that `react-portal` creates and appends the container element into the DOM synchronously in the render phase, whereas we do this in a `useLayoutEffect` callback.

Their approach is really interesting, and we can look into doing something similar here. But I'm not sure how safe is it, given that's not [what the React docs recommend](https://re

[2020-09-09 13:52] #468 closed

[2020-09-09 17:43] namjul commented on #532
Ah, did not catch that comment in the docs. Yea they are kind of implicitly recommending that approach. Wondering why that is necessary because at a first glance it does not seem to effect the bubbling. And they even reference the `autoFocus` attribute..

I created an example based on the react docs example https://codesandbox.io/s/dry-sky-tizqz and solved it with state like they suggest.

For thi

[2020-09-09 21:13] diegohaz commented on #532
I don't think a custom prop is needed in this case as you could solve it with a simple `useLayoutEffect`: https://codesandbox.io/s/reakit-portal-with-autofocus-fdjw5

[code]

[2020-09-09 21:15] diegohaz commented on #532
My first guess is that it may not be safe for concurrent mode.

[2020-09-10 09:13] namjul commented on #532
thank you @diegohaz. My sense for now is that your proposed way with using `useLayoutHook` is the way to handle that and it works perfectly fine in our case.

[2020-09-14 18:22] diegohaz opened #737 "Tabbable onFocusVisible prop"
## 🚀 Feature request

### Motivation

There are cases where we want to perform actions on focus, but not when focus is triggered by a pointer event.

For example: https://github.com/reakit/reakit/pull/633#discussion_r488117927

### Example

[code]

### Possible implementations

Maybe checking mouse and keyboard events before focus and only triggering `onFocusVisible` when it's preceded by a keyboa

[2020-09-14 20:32] frassinier commented on #434
Reakit is proudly used for [Talend](https://talend.com) [design system](https://github.com/Talend/design-system)

[2020-09-14 20:38] frassinier commented on #256
Not sure that a Combobox will fit for a Select, maybe for replacing a <datalist />.
@diegohaz What do you think about implementing a Listbox, in addition?

[2020-09-15 13:22] anuraghazra opened #739 "[RFC] Select Component"
## The Goal:

Build a select component which follows the aria best practices. Select component
should be composable, flexible, accessible & renderless.

The single select will follow WAI-ARIA specs for the list box pattern. These are
the key resources we need to create this Select.

- https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-scrollable.html
- https://www.w3.org/TR/wai-aria

[2020-09-15 14:05] navin-moorthy opened #740 "[RFC] Link Component"
## The Goal

Create a Link component to properly apply aria attributes and keyboard
navigation for the elements other than html `a` tag.

By Default, Link component renders an `a` tag which uses [`useClickable`](https://reakit.io/docs/clickable/) hook. As
per the nature of [`useClickable`](https://reakit.io/docs/clickable/), it doesn't change the native link `a` tags
behaviour.

## Key Features

-

[2020-09-16 11:25] anuraghazra opened #741 "Show typescript autocompletion for `role` prop in components"
I was thinking that since we are showing warnings for invalid `role` prop in the Composite component we can also enforce the types as well, this way users would get autocompletion for the valid role values.

https://github.com/reakit/reakit/blob/6f6d1ad9177156cafa4adf9c987a43c79a1bbb90/packages/reakit/src/Composite/Composite.ts#L47-L58

We can change it so that users would get the autocompletion

[2020-09-16 11:40] diegohaz commented on #741
That's a great idea @anuraghazra! Thanks!

Would you like to work on that?

[2020-09-16 11:41] anuraghazra commented on #741
Yes i can open a PR for this :)

[2020-09-16 11:50] StorytellerCZ commented on #740
Would be nice to take into account integration with popular React routing libraries like `react-router`.

[2020-09-16 12:01] navin-moorthy commented on #740
I will experiment with routing libraries and let know the results here. Thanks.

[2020-09-17 00:25] Weffe commented on #737
Can probably reference the work done on the [focus-visible polyfill](https://github.com/wicg/focus-visible) as it's pretty well documented.

I use it in my company's project and have no issues with it. Extracting out the javascript code into a hook might not be that bad.

[2020-09-17 02:43] #657 closed

[2020-09-18 23:00] diegohaz commented on #487
# State hooks v3

Here's another proposal based on https://github.com/reakit/reakit/issues/487#issuecomment-658376872, that will be fully possible in Reakit v3: a single parameter that can receive both uncontrolled and controlled state.

## Initial state

To be fully clear and prevent people from thinking they can change their value between renders, all uncontrolled state should be prefixed with `

[2020-09-19 12:03] diegohaz opened #744 "RFC: Replace state spreading by single state prop"
Currently, this is the API for all the components which depend on a state hook. You should spread the state object onto the components:

[code]

In this issue, I'm proposing to change it so there's a single state prop:

[code]

## The problem

The biggest problem in spreading the state onto the components is that it can easily cause name conflicts. For example, we can't use the name `value` on the

[2020-09-19 19:00] diegohaz opened #745 "RFC: Hybrid implicit/explicit state"
I'm creating this issue to propose an enhancement over how we pass state to components. Instead of having to pass it for all components, we would only need to pass it to the top-level ones.

For example, currently we have to pass the state to all instances of `MenuItem` inside `Menu`:

[code]

I'm proposing that we improve this so we don't *need* to explicitly pass state to `MenuItem` instances an

[2020-09-19 22:14] tom-sherman commented on #745
I like this for the simple fact that it's non obvious how to create this in userland in a maintainable way at the moment. More specifically I don't think it's intuitive which props would need to be put into context. I guess you could read _keys but that seems hacky?

I find it interesting how this proposal interacts with #744. On one hand #744 makes it easier to accomplish this RFC in userland, bu

[2020-09-19 22:20] tom-sherman commented on #745
Forgetting #744 for now, would this proposal support passing some state values as props and grabbing some from context? Which one takes priority?

I have concerns about how this could be implemented in a performant way, although I'm not 100% sure how valid these concerns are. Right now the state props are memoized, so don't cause a rerender of the component when they are the same. How is this poss

[2020-09-19 22:22] tom-sherman commented on #744
Just to be clear I'm understanding, does this require duck typing the value?

[2020-09-19 23:04] diegohaz commented on #744
I imagine something like this:
[code]

`state.state` is not the best name, but we could change it to `value`/`checked` in v2.

[2020-09-20 00:05] diegohaz commented on #745
I don't think it should be supported. This would make the implementation a lot more complex and if we go for #744 this wouldn't work at all.

[2020-09-20 00:09] diegohaz commented on #745
There are two situations where I think the state props would still be used on inner components:

1. When you can't access the context because components are in different subtrees (like in [the WordPress SlotFill case](https://twitter.com/diegohaz/status/1229499932505264136)).
2. When you want to benefit from [types based on the state](https://twitter.com/diegohaz/status/1128547623684726784).

The

[2020-09-20 17:02] navin-moorthy commented on #744
RFC looks cool.

But in my opinion, I think the general mindset would be to just spread the props from useHooks is easier than wanting them to use `state={state} ` in user land.

Especially for the library, this API will be very useful.

So, making move to this API in v2 means we won't be needing `useOptions` and `KEYS` to filter  anymore within the library?

[2020-09-20 17:43] diegohaz commented on #744
Yeah! I'm pretty sure we can get rid of `KEYS`, `__keys`, and all those things with this change.

I'm not sure about `useOptions` though. It's useful so we can get options at the beginning of the hooks.

For example, `useOptions` in `useCompositeItem` automatically generates an `id` prop. We wouldn't be able to access this prop without a separate `useOptions` hook:

[code]

This is fixed with the

[2020-09-20 18:07] navin-moorthy commented on #744
Exactly, I understood your point.

Thanks for the explanation.

I forgot that we need `useOptions` to interact with other hooks options.

[2020-09-20 21:00] Slapbox commented on #659
@diegohaz shouldn't `focusable={false}` on a `<Tab />` imply that the tab will not focus itself when programmatically activated with `tab.next()` and `tab.previous()`?

We're upgrading from `beta.14` and previously we were able to prevent the tab from becoming focused, but now nothing seems capable of preventing the tab from focusing itself.

Even trying to select the tab's contents instead like t

[2020-09-20 21:37] diegohaz commented on #659
It seems to work fine here. Could you provide a CodeSandbox?

I think you can do something like this:
[code]

[2020-09-20 22:10] Slapbox commented on #659
@diegohaz first, your speedy replies around the clock marvel me! Thanks for the reply!

Here's a repro for the issue with preventing the Tab component from taking focus. https://codesandbox.io/s/gallant-shaw-6uuwc?file=/index.js - you can use <kbd>z</kbd> for previous tab and <kbd>.</kbd> for next tab. I didn't include any of our additional logic for trying to recapture focus, since I think the ta

[2020-09-20 22:56] diegohaz commented on #659
Got it now! That's not what `focusable` does. The fact that it's working as you described on `beta.14` is unintentional.

When `focusable` is `true`, it enables `disabled` items to receive focus. If the item is not `disabled`, it has no effect.

State functions that don't start with `set` usually have side effects. `tab.next` and `tab.previous` will call `tab.setSelectedId` underneath and move foc

[2020-09-21 00:30] Slapbox commented on #659
@diegohaz that works great! Makes sense about the side effects. That's really useful to know about functions that start with `set`. Thanks a lot for your help!

[2020-09-21 20:06] guillaumewuip opened #747 "Infinite Toolbar/Composite rendering loop on Firefox"
## 🐛 Bug report

### Current behavior

I'm in the process of debugging a strange performance issue with Firefox in the old and big app I'm in charge of.

The app uses multiple `Toolbar`s inside a big component. This component is rendered in different ReactDOM tree (new React UIs attached to legacy views) at different moment.

First, there is only one `Toolbar`. Then, the user click somewhere and t

[2020-09-21 20:27] tom-sherman commented on #747
Your reproduction seems to rely on HMR, is that the case? Is it possible to repro without HMR, say in a production version of create-react-app?

[2020-09-21 21:21] diegohaz commented on #747
Based on the implementation you provided, I think `reduce` is not needed (which is good, because it's super slow). We can set `isOrderDiffefent` inside the `sort` function by comparing `a` and `b` indexes. If `a` preceds `b`, `isOrderDifferent` will be `true` only if `indexA > indexB`, right?

Maybe something like this (didn't test)?

[code]

[2020-09-22 06:17] guillaumewuip commented on #747
@tom-sherman I'm not sure about HMR. It seems to be the cause of the bug for the sandbox but not for my app that doesn't have HMR. Haven't found a way to reproduce properly in a sandbox without HMR for now :/

@diegohaz I will test your implementation and post the result here

[2020-09-22 06:38] guillaumewuip commented on #747
[code]

seems to work well @diegohaz 👍 Do you want a PR ?

[2020-09-22 11:36] diegohaz commented on #747
Awesome!

Sure! Thanks for catching this!

[2020-09-22 14:47] #747 closed

[2020-09-23 12:10] R-Oscar commented on #464
Hey there!

I would agree with @folz that `role: status` is more suitable for Notification component than `role: alert`. Although there is a suggestion in an [research](https://github.com/jackbsteinberg/std-toast) @artalar provided:

Maybe we should go after this? We could include two live regions, one for error notifications, and `polite` for others. Also maybe user would like to have the ability

[2020-09-24 01:23] FezVrasta commented on #606
Don't close this issue. This is an automatic message by [Fresh](https://github.com/c-hive/fresh) - a bot against stale bots.

[2020-09-24 07:51] tom-sherman commented on #606
This seems like a good feature to have at some point, even if we're not sure of the details yet. I've marked it as not-stale for this reason so that the bot doesn't bother us any more 😂

[2020-09-24 18:53] Slapbox commented on #659
Hey @diegohaz I just noticed that actually the `state.items` array is consistently empty. As a result the example code actually only toggles between two tabs and can't work with a third. Also, it seems that that method would not be able to support looping through tabs, right?

[2020-09-24 19:10] diegohaz commented on #659
`state.items` is not empty. The issue was that `tab.setCurrentId` should've been called as well: https://codesandbox.io/s/sad-curie-hjvlw

You would have to implement your own logic for that.

[2020-09-24 19:12] diegohaz commented on #659
Depending on what you're doing, it's probably better to just recapture focus.

[2020-09-24 20:21] agriffis commented on #745
Interesting. I've been wrapping Reakit components for my own internal projects, effectively #744 and #745 combined:

[code]

[2020-09-24 20:29] Slapbox commented on #659
Whoops, I see now that the `state.items` being empty was due to how I was invoking the methods. Unfortunately, after correcting this, it's again become apparent that changing tabs is preventing me from managing the focus with my own logic.

----

The trouble with simply recapturing focus hasn't been something I can get to work consistently since upgrading. That's what I was previously doing in `be

[2020-09-24 22:01] tom-sherman commented on #745
@agriffis out of interest, how are you currently seperating props and state?

[2020-09-24 22:08] tom-sherman commented on #659
If you want to select a new tab but move the focus elsewhere you can use `setCurrentId` (which will just change the active tab) and then handle the focus yourself - right now it looks like you're fighting against Reakit's internal handling of focus due to the use of next/previous.

[2020-09-24 22:11] agriffis commented on #745
@tom-sherman I'm not sure I understand the question. With my wrappers, only `<Menu />` receives the state prop, i.e. the result of `useMenuState`. The sub-components generally don't receive a state prop, so they fall back to the menu state in context. But since these are just wrappers, I still have to spread that into the wrapped components for now.

[2020-09-26 03:04] diegohaz opened #750 "Do not show tooltips after closing dialogs"
## 🚀 Feature request

### Motivation

The reason for this question is better expressed via a short screen recording:

![CleanShot 2020-09-23 at 23 15 07](https://user-images.githubusercontent.com/15199/94093060-adeb1880-fdf2-11ea-9dd6-0a2f3cd2e1d9.gif)

I open a menu. However, when I click outside the menu the focus is automatically set back to the `MenuButton`. This then triggers the tooltip to a

[2020-09-27 13:15] harshilparmar opened #751 "Click on menu,Screen scrolled upwards automatically"
## 🐛 Bug report
This is not a bug in library,but when I visited home page https://reakit.io and after first load of page clicking on menu button of `TabsModalMenu.js` and `TabsModalMenuMenu.js` ,it automatically scrolled upward.
### Current behavior

### Steps to reproduce the bug
1. Open new tab
2. Go to reakit.io
3. Click on menu of two tabs mentioned above

### Possible solutions
I think we hav

[2020-09-27 17:36] diegohaz commented on #751
Thanks for reporting @harshilparmar! I can reproduce it. It's weird that it only happens on the home page. Not sure what's happening, but I remember it was working well the last time I used it.

This is the file that renders that part of the UI: https://github.com/reakit/reakit/blob/master/packages/website/src/components/HomePlayground.tsx

[2020-09-27 18:14] harshilparmar commented on #751
@diegohaz ohh thanks,I will let you know If I find something.

[2020-09-28 09:20] tom-sherman commented on #751
This is intermittent for me in Chrome on Windows, I haven't managed to repro at all in Firefox.

[2020-09-28 22:33] #681 closed

[2020-09-29 02:50] navin-moorthy commented on #751
Like @tom-sherman said, buggy behaviour is intermittent in "Firefox/82.0"
Not reproducable after restarting the browser 😕

I couldn't reproduce it in "Chrome/85.0.4183.121"

[2020-09-29 10:32] artalar commented on #464
@diegohaz do you follow the thread?  👀

[2020-09-29 10:53] diegohaz commented on #464
@artalar Yeah! I don't have time to dig into this myself right now. But, please, keep going.

[2020-10-02 10:48] ezhikov opened #754 "Modal dialog shifts content, but fixed parts stay in place"
## 🐛 Bug report

### Current behavior

When we open modal dialog there is padding applied to body to compensate missing scroll. In our case, we have header with `position: fixed` which doesn't shifts with the rest of content and it creates odd 17px  gap on the right. Sadly, we can't change this header markup and behavior since it's third party and used not only on our site, but on many others. It

[2020-10-02 14:07] tom-sherman commented on #754
Slightly different solution; instead of having the ability to configure the padding, if reakit added a known attribute to the body along with the style eg. `data-reakit-scroll-lock`, could you use that to override the styles of the header container to counteract the padding?

[2020-10-02 14:13] tom-sherman commented on #754
In fact, you should be able to accomplish on your end as a temporary workaround: https://codesandbox.io/s/elastic-dijkstra-y2hn9?file=/src/App.tsx

[2020-10-02 15:37] ezhikov commented on #754
I did almost that as temporary workaround, but I have no guarantee that header won't change it's markup in the future, meaning that at some point in future it might break. I spoke to team responsible for that and they will consider adding API for such cases. If they will, this wouldn't be an issue anymore, but until then ability to prevent padding is more preferable.

I also thought about possibil

[2020-10-02 17:14] tom-sherman commented on #754
That was going to be my next suggestion, it's something I've done to work around issues with the body-scroll-lock dependency that Reakit uses. There are conversations in #469 around solutions to this problem.

I think that may be your best option for now, then when Reakit exposes an API for scroll locking you can migrate over.

[2020-10-02 19:04] mattrothenberg commented on #664
I think this is closed by #753?

[2020-10-02 19:09] #664 closed

[2020-10-04 13:39] ezhikov commented on #754
Since there is probable plans to replace `body-scroll-lock` with internal solution, we can possibly close this in favor of #469 ?

[2020-10-04 17:42] tom-sherman commented on #754
I would personally keep this issue open as well if you don't mind as it describes a slightly different problem.

[2020-10-06 13:34] diegohaz commented on #469
Another reference: https://github.com/adobe/react-spectrum/blob/0ac271ac5508fc6b03e0bd416142aba02546164a/packages/%40react-aria/overlays/src/usePreventScroll.ts

[2020-10-07 07:07] anuraghazra opened #758 "Add ability to customize popperjs options in usePopover"
## 🚀 Feature request

Currently usePopover hook only exposes the `placement`, `fixed`, `flip`, `offset` options to customize the Popperjs, but it would be useful if reakit allows us to add user defined modifiers & let us customize all the popperjs options.

### Motivation

We are currently building a datepicker component  at work where we wanted to have "center" placement on mobile devices for the

[2020-10-07 07:45] tom-sherman commented on #758
I believe this is a duplicate of #606

[2020-10-07 21:59] #758 closed

[2020-10-08 18:48] TheSisb commented on #751
Browsers scroll to view the newly focused element. My wild guess is that the `transform: translate3d()` applied to the hidden menu is not updating before the focus is granted and so the browser jumps to where it previously was before opening. Could be a race where sometimes it jumps before updating and other times it updates correctly before focusing and jumping.

[2020-10-08 19:23] diegohaz commented on #751
I can reproduce it on https://deploy-preview-694--reakit.netlify.app

But I can't on https://deploy-preview-693--reakit.netlify.app

So I believe it has something to do with these changes where we're calling `menu.move(null)` to focus on the menu container at the same time we call `menu.show()`:

https://github.com/reakit/reakit/blob/bf9a795921d07c4a39e7c8a9ca67c879441d69d2/packages/reakit/src/Men

[2020-10-09 04:58] harshilparmar commented on #751
@diegohaz  Perfect 😃 ,Can't reproduce on https://deploy-preview-693--reakit.netlify.app 👍

[2020-10-10 14:48] tom-sherman commented on #750
Something that I've been doing that I first saw in [Braid](https://github.com/seek-oss/braid-design-system) is to globally track if the user is a keyboard user. I've been doing this to only show focus styles on buttons for mouse users, as soon as the user is detected to be navigating by the keyboard we show the focus rings. This can be seen in Braid in their [`hideFocusRings` module](https://githu

[2020-10-10 14:53] tom-sherman commented on #740
This is a good article about "block links" which describe an issue with using `<a>` elements around a large block of content: https://css-tricks.com/block-links-are-a-pain-and-maybe-just-a-bad-idea/

[2020-10-10 14:58] tom-sherman commented on #740
@StorytellerCZ I believe this would be achievable with [composition patterns already available in Reakit](https://reakit.io/docs/composition/), no extra stuff needed for Link specifically.

[2020-10-10 18:24] tom-sherman commented on #740
The one draw back I see with a custom link component when you start rendering them as non `<a>` elements is that you lose browser context menu behaviour - this is definitely not an ideal UX and good be a footgun for a lot of users.

[2020-10-13 07:54] prbxr opened #764 "Icon svg button"
I would like to request Icon svg  button
Similar to
https://chakra-ui.com/iconbutton

[2020-10-13 08:55] tom-sherman commented on #764
I've marked this as a question as I don't believe that Reakit should provide a specific component for this. Reakit provides low level primitives and an `IconButton` can be easily accomplished in userland.

By the way, if you have general questions about how to use Reakit then you can ask in [GitHub discussions](https://github.com/reakit/reakit/discussions)

[2020-10-15 16:41] tom-sherman opened #767 "Treeview component"
## 🚀 Feature request

### Motivation

I'm mainly opening this issue as a tracking issue as I'm pretty sure that I've read discussions of implementing a Treeview in Reakit.

### Example

https://www.w3.org/TR/wai-aria-practices-1.1/examples/treeview/treeview-2/treeview-2a.html

https://gist.github.com/diegohaz/c7855a2d96ec7faa27738bef6fa28867

Reakit API TBD

### Possible implementations

It would