[2018-01-23 00:59] diegohaz opened #1 "Overlay component"
Probably something using React Portals.

[2018-01-23 01:05] diegohaz opened #2 "Improve docs"
Any help with docs would be very welcome.

And, since I'm not a native English speaker, I could have made some mistakes. If you find an error, please do submit a PR with the correction.

Thank you, guys.

[2018-01-23 01:09] diegohaz opened #3 "Customize docs website"
- [x] add link to the GitHub repository (#4);
- [x] style inline code;
- [x] add logo.

[2018-01-23 15:42] lluia commented on #2
Hey @diegohaz, **Reas** looks cool!

Really like:

- all components are stateless
- bound with styled components 💅🏻
- the concept of `as` to make `render` flexible everywhere 😍
- [behaviours](https://diegohaz.github.io/reas/#styling) looks quite declarative ❤️
- [state](https://diegohaz.github.io/reas/#state) seems quite pluggable

I'm not contributing much to open-source right now but I would be

[2018-01-23 16:54] diegohaz commented on #2
Hey, @lluia

Thank you for the words.

The component stack is due to how we make composition here. Currently, each component in `reas` is made of at least 8 components:

#### `button`
  The html element
[code]
#### [`Reas`](https://github.com/diegohaz/reas/blob/e76ac8cafdc856c2a4af48a9a840b8de1822008c/src/enhancers/as.js#L12-L38)
  Wrapper around `button` so it has the benefits of a `reas` compone

[2018-01-23 17:03] diegohaz opened #5 "Use jsx for all code blocks in documentation"
Currently, we are rendering code blocks with ```js

It looks good in the website, but in GitHub markdown it loses markup highlight.

Example: https://github.com/diegohaz/reas/blob/master/docs/state.md

[2018-01-23 18:18] diegohaz opened #6 "Add examples"
With create-react-app, razzle etc.

[2018-01-24 02:35] diegohaz opened #7 "Add tests for state enhancers"

[2018-01-24 02:35] diegohaz opened #8 "Add redux state enhancers"
`withHiddenReducer`, for example.

[2018-01-26 14:43] romainquellec opened #11 "Comparison with Rebass and others"
Hello.
I love styled components, and use mainly my components and sometimes Rebass.
I think an article or something to talk about reas in comparison with Rebass can be usefull.

Thank you for the work on reas !

[2018-01-27 14:19] diegohaz commented on #11
Hi, @romainquellec. I can write a more detailed article, but here are some thoughts:

- `reas` can be amazing in the future, but right now it's an experimental project (hence v0.0.x). Rebass seems to be more consolidated, ready to use in production;

- Probably, Rebass is more performatic than `reas`. I'm not sure about that because I still didn't measure perfomance here (any help is welcome 😁);

[2018-01-31 02:45] #3 closed

[2018-01-31 02:47] diegohaz opened #13 "Adjust mobile version of docs website"
We should hide menu and display a button to open it.
![image](https://user-images.githubusercontent.com/3068563/35602611-518c8b04-0620-11e8-8f1c-646048827a36.png)

[2018-01-31 12:02] #13 closed

[2018-01-31 12:36] diegohaz opened #15 "Add a Get Started section with create-react-app example"

[2018-02-03 02:52] diegohaz opened #16 "Grid component"
Similar to [`Block`](https://github.com/diegohaz/reas/blob/master/src/components/Block/Block.js), but with `display: grid`.

[2018-02-04 23:58] diegohaz opened #17 "Table component"

[2018-02-05 00:58] #16 closed

[2018-02-05 02:39] #17 closed

[2018-02-05 22:50] mgmgpyaesonewin commented on #15
Is this issue for documentation only? How may I help?

[2018-02-06 00:15] diegohaz commented on #15
@mgmgpyaesonewin Yes, I'm thinking about a short walkthrough with `create-react-app`. Similar to this: https://ant.design/docs/react/use-with-create-react-app

[2018-02-06 15:05] jxnblk commented on #11
Definitely intrigued by this library, but I'll chime in to how I see these as being different concepts.

- First and foremost, Rebass is built with design systems in mind and allows a ton of customization – more so than what I've seen in other UI component libraries like Material UI, React Bootstrap, et al.
- Rebass is built with styled-system, a low-level set of utilities that can let you build y

[2018-02-06 20:47] nathanforce opened #20 "Input in Docs sidebar links to Field"
Field renders and input with `id="input"` which leaves two html elements with the same `id` on the page.  The anchor chooses the first one, so it scrolls to Field.

[2018-02-06 20:47] nathanforce commented on #20
I browsed quickly but didn't see where props like id are passed to the examples rendered in the docs page.

[2018-02-06 21:21] diegohaz commented on #20
Good catch, @nathanforce. Thank you.

Since that's a very easy change, I'll mark it as `good first issue`. Would you like to work on this?

Instructions:

1. fork the repo;
2. change `id` prop on the first example: https://github.com/diegohaz/reas/blob/master/src/components/Field/Field.md;
3. `yarn install && yarn docs:build`;
4. open a Pull Request.

[2018-02-06 21:40] nathanforce commented on #20
@diegohaz sure!

[2018-02-06 21:58] diegohaz commented on #11
Thank you for commenting, @jxnblk.

Documentation should be improved for sure. `as` is inspired by [Semantic-UI's augmentation feature](https://react.semantic-ui.com/introduction#augmentation), which is very similar to Rebass `is`. In `reas`, it does the same thing, except that it also accepts an array of components.

Besides that, it can be used in different ways, for example:
- `Component.as(str

[2018-02-07 17:25] #20 closed

[2018-02-08 19:58] #5 closed

[2018-02-09 17:02] lluia commented on #2
@diegohaz thanks for the explanation ❤️

Have you thought to follow an approach similar to [recompact](https://github.com/neoziro/recompact) and squash all the _HOCs_ into a single one?

Not sure how it's implemented there but it looks they solved a very similar problem as the presented here 😉

[2018-02-10 23:58] #15 closed

[2018-02-11 01:56] mgmgpyaesonewin commented on #6
Can I do this? What kinds of example, can I submit? Can I have any suggestion ? Thanks alot.

[2018-02-11 02:18] diegohaz commented on #6
Sure, @mgmgpyaesonewin. It can be small projects using `reas` components. You can find some ideas for those projects searching by "react examples" on Google. These are good ones I found: https://dev.to/drminnaar/11-react-examples-2e6d

Here are some examples from other similar libraries:
- [Material-UI examples](https://github.com/mui-org/material-ui/tree/v1-beta/examples)
- [Semantic-UI examples]

[2018-02-13 19:05] diegohaz opened #26 "Add prop types table to components docs"
Currently, we are not documenting prop types except those added to examples. That's because `react-styleguidist`, which uses `react-docgen` under the hood, can't identify our components due to the way we declare it.

[2018-02-15 14:17] diegohaz opened #27 "Card component"
References:
- http://nikgraf.github.io/belle/#/component/card?_k=zc4tyc
- http://jxnblk.com/rebass/components/Card
- https://react.semantic-ui.com/views/card
- http://www.material-ui.com/#/components/card

[2018-02-15 14:18] diegohaz opened #28 "Image component"
References:
- https://react.semantic-ui.com/elements/image
- http://jxnblk.com/rebass/components/Image

[2018-02-15 14:18] diegohaz opened #29 "List component"
References:
- https://react.semantic-ui.com/elements/list
- http://www.material-ui.com/#/components/list

[2018-02-16 03:30] diegohaz opened #31 "Add prettier"
`prettier`, `eslint-config-prettier`, `eslint-plugin-prettier`

[2018-02-17 02:57] diegohaz opened #33 "Divider component"
[code]

[2018-02-17 03:11] #31 closed

[2018-02-18 04:40] diegohaz opened #34 "Add order prop to Step component"

[2018-02-18 15:29] #7 closed

[2018-02-18 22:38] diegohaz commented on #2
With #36, component stack was reduced a little. Now we can see it within snaphots:
- [stack array](https://github.com/diegohaz/reas/blob/89c7c2d7a1e885029350997579f7d3650bb92fd8/src/enhancers/__tests__/__snapshots__/as-test.js.snap#L4-L12);
- [full component stack](https://github.com/diegohaz/reas/blob/89c7c2d7a1e885029350997579f7d3650bb92fd8/src/enhancers/__tests__/__snapshots__/as-test.js.snap#L

[2018-02-19 04:28] #34 closed

[2018-02-19 21:50] diegohaz opened #39 "Add context state enhancers"
I know very few about the new React Context API. But I wonder if we can make something like `withStepContext`, with the same interface as `withStepState`, but providing global state. It would be an alternative to `withStepReducer` (planned on #8):

[code]

UPDATE:

Since we've replaced state enhancers HOCs with render props in #47, this is the new way I'm planning to have global state:
[code]

[2018-02-20 01:07] diegohaz commented on #39
Created a list of resources related to the new context API: https://github.com/diegohaz/awesome-react-context

[2018-02-21 00:25] diegohaz opened #40 "Pronunciation of reas"
Yeah, I created this library and gave it a name that I don't even know how to pronounce.

I tend to call it `re-as`, but it's very hard to me to say `as` without sounding like `ass`. Because of that, it has a (no more) secret nickname: `rebunda` (`bunda` is `ass` in Portuguese), which leads to some nice verbs:

I'm creating this issue to see how people read it and finally learn how to pronounce it

[2018-02-25 00:28] diegohaz opened #41 "Use styled instead of .extend in docs"
According to https://github.com/styled-components/styled-components/issues/1546, `.extend` will probably be deprecated in the next minor and removed in the next major release of styled-components.

[2018-02-25 01:15] diegohaz opened #42 "Pass innerRef to components"

[2018-02-25 02:13] #42 closed

[2018-02-25 02:13] diegohaz commented on #42
Fixed in 3161bdf2546f28655c83ab6bec82b1a3e0166d90

[2018-02-25 02:14] diegohaz commented on #41
Fixed in 3161bdf2546f28655c83ab6bec82b1a3e0166d90

[2018-02-25 02:14] #41 closed

[2018-03-05 16:01] diegohaz commented on #33
Closed in #45 thanks to @BoyWithSilverWings.

[2018-03-05 16:01] #33 closed

[2018-03-15 00:13] bfillmer commented on #40
Around here we call it `ray-ass` so, there's that.

[2018-03-23 11:35] diegohaz opened #46 "State enhancers: use render props instead of hocs"
[code]

[2018-03-28 01:16] #46 closed

[2018-03-28 14:42] #8 closed

[2018-03-31 20:22] diegohaz commented on #39
Closed in #48

[2018-03-31 20:22] #39 closed

[2018-04-05 03:56] diegohaz opened #51 "Link component"
Nothing fancy, just a link.

[2018-04-06 15:37] joao-alberto commented on #51
Hey, nice project! I want to help.

Do you follow some style guide?

[2018-04-06 15:56] diegohaz commented on #51
Hi, @joao-alberto

You can use the same styles as links on GitHub.

[Link](https://google.com)

[2018-04-07 14:44] #51 closed

[2018-04-09 15:32] diegohaz opened #54 "Use new forwardRef instead of elementRef"
https://reactjs.org/docs/forwarding-refs.html

[2018-04-09 16:44] diegohaz commented on #2
With #55, component stack will be hugely reduced, even compared to changes in #36:

Before:
![image](https://user-images.githubusercontent.com/3068563/38510320-09f72fd6-3bfb-11e8-8d10-45bb9723dc2f.png)

After:
![image](https://user-images.githubusercontent.com/3068563/38510312-029520a4-3bfb-11e8-814a-941342701216.png)

[2018-04-09 20:31] diegohaz commented on #54
We need to wait for https://github.com/styled-components/styled-components/pull/1658 before implementing this.

[2018-04-10 03:37] diegohaz commented on #11
FYI, I've added some benchmarks comparing `reas` with other libs: https://github.com/diegohaz/reas#performance

[2018-04-10 03:37] #11 closed

[2018-04-12 18:38] diegohaz opened #57 "Make it easier to "fade" Hidden component"
Currently, if we want to "fade" or apply another transitions to `Hidden` and derivate components, we have to do this:
[code]

We need a nicer way to do that, without having to put that `!important`.

[2018-04-12 18:53] diegohaz opened #58 "Layout component"
We need a `Layout` component where we can define `Slot`s where other components can be placed.

I'm thinking in something like this:
[code]

Probably, `Layout.Fill` should use something like `React.createPortal`.

[2018-04-12 22:51] diegohaz opened #59 "Add angle prop to Arrow"
[code]

[2018-04-15 05:03] #59 closed

[2018-04-19 02:06] #29 closed

[2018-04-19 05:22] diegohaz opened #65 "Rename Base to Reas and make it default export"
[code]

[2018-04-21 01:01] #65 closed

[2018-04-21 05:44] diegohaz commented on #2
With #66 🎉
![image](https://user-images.githubusercontent.com/3068563/39080901-eaa581d4-450d-11e8-9044-a27ad91c444e.png)

[2018-05-07 08:55] Gi972 opened #69 "Group List"
Hi @diegohaz ,

I just discover Reas an I love the concept to create component like Lego.
The goal of this it's create components with the minimun styles to add,  is not it?

I was play with it and I saw the Group component  with the button component.
I try the List component with group  like this

[code]

 I was thinking see the list with border like the group buttons example, but It does'nt work

[2018-05-08 09:19] klimcode commented on #40
[Google Translate](https://translate.google.com/) reads this word very close to "**reez**", and it sounds distant from "ass" which is read like "us".

I also have a proposal: you may add an article before "reas" and get the interesting effect:
"the reas" sounds like "**there us**"
"a reas" sounds like "**areas**" which is a completely safe name for a UI library.

[2018-05-08 09:34] klimcode commented on #28
Hi. I wanna try to do it. Do you have an instruction which can help me to start?

[2018-05-08 17:15] diegohaz commented on #28
Sure, @klimcode:

1. Fork, clone the repository in your local machine and install dependencies (`yarn` or `npm install`);
2. Run `yarn docs` or `npm run docs` and open http://localhost:6060 in your browser;
3. Duplicate any simple component inside `src/components` (e.g. `Block`) naming it `Image` ([generact](https://github.com/diegohaz/generact) can help you with that);
4. Update `Image.js` to cre

[2018-05-09 06:12] Gi972 commented on #69
Hey @diegohaz,

Thanks for your answer, for the sandbox you have It on your site with the documentation of each components. Just reuse It for the user with maybe à submission system. Or like the  foundation.zurb.com, show many components simple and complex. For Start begins with simple form and transform It step by step to a complex form.

Voilà voilà, but don't worry this come with the time ;-)

[2018-05-09 06:12] Gi972 commented on #69
Hey @diegohaz,

Thanks for your answer, for the sandbox you have It on your site with the documentation of each components. Just reuse It for the user with maybe à submission system. Or like the  foundation.zurb.com, show many components simple and complex. For Start begins with simple form and transform It step by step to a complex form.

Voilà voilà, but don't worry this come with the time ;-)

[2018-05-23 03:26] wordofchristian commented on #2
## Group components in the sidebar navigation

I think a great first step to improve the docs would be to group the components in the sidebar navigation. I found myself wanting to see all the components that have `State` components, or maybe this group would be called "Behavior Components" I'm extremely new to this project so I'm still figuring out what good groupings would be. Here's what I have

[2018-05-23 04:33] diegohaz commented on #2
Hi, @wordofchristian. Thank you so much for your feedback.

I agree with all your points. I still don't know how we should group components in docs, but I agree that it should be revisited.

I'm gonna send you an invite to be a collaborator on the project so you'll have more power on reviewing PRs and other things.

@Thomazella and I are actively working (on our free time) on new docs on the featu

[2018-05-23 12:45] Thomazella commented on #2
Nice. I agree too. Let's make these docs better! 🚀🚀⭐️🌈

[2018-05-30 21:39] #28 closed

[2018-05-30 22:57] diegohaz commented on #28
Closed in #84

[2018-06-16 08:15] #58 closed

[2018-06-16 17:15] diegohaz opened #88 "Navigation"
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav

[2018-06-16 17:19] jyash97 commented on #88
Hey,
I liked the Project. How should I help in this, any style guide to follow?

[2018-06-16 17:30] jyash97 commented on #88
cool! Will get it up and running. :+1:

[2018-06-16 17:40] #69 closed

[2018-06-17 12:46] diegohaz opened #89 "Theming"
[code]

We're already exporting `ThemeProvider` from styled-components. To make that work, we need to add theme in all components. For example, in [`Button`](https://github.com/diegohaz/reas/blob/master/src/components/Button/Button.js):

[code]

[2018-06-18 11:17] diegohaz opened #90 "Menu"
http://blueprintjs.com/docs/#core/components/menu
https://material-ui.com/demos/menus/
https://react.semantic-ui.com/collections/menu
http://adrianroselli.com/2017/10/dont-use-aria-menu-roles-for-site-nav.html
https://www.smashingmagazine.com/2017/11/building-accessible-menu-systems/
https://stackoverflow.com/questions/41141247/aria-role-menuitem-for-a-or-li

[code]

[2018-06-18 11:17] diegohaz opened #91 "Sidebar/Drawer"
https://react.semantic-ui.com/modules/sidebar
https://material-ui.com/demos/drawers/

[2018-06-18 15:30] #88 closed

[2018-06-18 15:48] jyash97 commented on #27
Can i take this it it's competed?

[2018-06-18 15:50] diegohaz commented on #27
Go ahead, @jyash97. Tell me if you need any help.

[2018-06-18 19:36] #27 closed

[2018-06-18 19:41] jyash97 commented on #91
Will love to take this issue.

[2018-06-18 19:47] diegohaz commented on #91
@jyash97 Great. I'm gonna add you as a collaborator in this project so it'll be easier for you to do stuff.

Besides the component itself, we'll need a `Drawer.Container` to reveal/hide the sidebar, possibly leveraging `Hidden.Container`. Take a look at other containers, such as `Popover.Container` and `Tabs.Container` to understand how that works.

[2018-06-19 04:11] jyash97 commented on #91
Thanks, will have a look at it and try fixing all the possible issues and grow this project.

[2018-06-19 05:01] wordofchristian commented on #57
What would be the preference here? A prop on Hidden that specifies transition time? Or maybe a separate `<Fade />` component [similar to material-ui](https://material-ui.com/utils/transitions/).

[2018-06-19 13:21] diegohaz commented on #57
I'm not sure about what approach to take here.

This is the current Hidden style:
https://github.com/diegohaz/reas/blob/019b901fa934a3c599d1a5b70772db760a40d46a/src/components/Hidden/Hidden.js#L43-L49

I was thinking about some prop that, instead of applying `display: none;`, just modified `opacity`, like the styles I posted.
[code]

[2018-06-19 14:38] diegohaz opened #94 "<Future />"
**Status**

- [x] Move to @reakit organization.
- [x] Change the package name to `reakit`.
- [x] Add a deprecate warning on `reas` package.
- [x] Launch new website.

Branch: [reakit](https://github.com/diegohaz/reas/tree/reakit)

---

I'm really impressed how this project, which started as something highly experimental, has evolved so much. And this is certainly due to the fact that so many peopl

[2018-06-19 14:40] Thomazella commented on #94
🚀💫🎉🎉 Great.

[2018-06-19 14:47] jyash97 commented on #94
Hey,
The new site looks **awesome**. **Reakit** sounds good. Would surely contribute.

Please send me an invite to `jyash97@gmail.com` .

[2018-06-19 14:57] Thomazella commented on #40
My take on Reakit: ree - ACK - it

[2018-06-19 15:33] joao-alberto commented on #94
Awesome!

I'm glad to participate in this project and anxious to contribute more. 🤘

[2018-06-19 17:06] wordofchristian commented on #57
That looks good.

My only concern is what the escape hatch would be for extensibility. I think the ability to hide/show something is universally useful but animation timings can be very personal and different in every app.

I would hate for people to be in the position where they have to give up on using the built in fade because it doesn't quite match the look/feel they want.

[2018-06-19 17:20] diegohaz commented on #57
I agree. I wasn't thinking about dealing with transitions, just `opacity`.

[code]

That would cover the three most common techniques to hide an element.

`fade` might be a bad name since it can infer animation, but I can't think any better. Maybe an antonym of `opaque`.

[2018-06-19 17:33] diegohaz commented on #57
I was able to make some fancy stuff with `Step`, which uses `Hidden` underneath, playing around with `opacity`: https://codesandbox.io/s/4090w91mq0

[2018-06-19 17:45] wordofchristian commented on #57
Ah! thank you for clarifying. That makes more sense now.

I would say the best word to use would `invisible` or `transparent`.

We also might want to consider using `visibility: hidden` for the implementation rather than `opacity: 0`. The main difference being that an element with `opacity: 0` will still intercept click events whereas an element with `visibility: hidden` will not.  See [chart](htt

[2018-06-19 17:58] diegohaz commented on #57
I've completely forgotten `visibility: hidden`. You're right.

However, it doesn't look good hahah
[code]

This conversation makes me think that if we need to read comments to understand what a prop does, we should find better names. So probably something more concrete:
[code]

[2018-06-19 18:20] wordofchristian commented on #57
I think this is the right direction, but I think `useDOM` is still somewhat unclear. Maybe it should be something like `useRemoval` or `useConditionalRendering`? I'm still not sure, but I think the name should imply something about what will actually happen to the DOM.

[2018-06-19 18:32] renatorib commented on #94
🚀

[2018-06-19 19:49] Andarist commented on #94
Do u plan any API changes (or additions)? Would love to see a draft of what you have in mind.

[2018-06-19 20:49] diegohaz opened #96 "Automatic changelog"
We should use a tool to generate changelogs. It should support "beta" versions like `v0.10.0`.

[2018-06-19 20:53] joao-alberto commented on #96
[Maybe this](https://conventionalcommits.org/)

[2018-06-19 21:04] #89 closed

[2018-06-20 11:35] diegohaz opened #98 "Hidden unmount"
Following #57 and #97, I think we should rename `destroy` prop to `unmount` on `Hidden`.

There are other components setting `destroy`. A global search and replace should do the job.

I'm opening a separate issue for that because it would be a breaking change. A PR should target the `next` branch.

EDIT: I'm also thinking about `styleProp`. Maybe it should be `hiddenStyle` and `visibleStyle` with

[2018-06-20 17:03] wordofchristian commented on #98
Agreed, I didn't rename it in #97 for that reason

[2018-06-22 07:31] nickisaacs commented on #94
I would like to contribute as well. This looks interesting

[2018-06-22 20:31] joao-alberto commented on #96
[Or this](https://github.com/github-changelog-generator/github-changelog-generator)

[2018-06-23 18:50] diegohaz commented on #96
Will take a look at them. Thank you, @joao-alberto .

[2018-06-23 19:02] diegohaz opened #100 "Change Popover.Arrow and Tooltip.Arrow position according to parent position"
Currently, if we pass a different `pos` to `Tooltip` or `Popover`, we also need to change the `pos` prop on the `Arrow` component.

[code]

That's kind of annoying. **Setting `pos="bottom"` on `Tooltip` should automatically and correctly position `Tooltip.Arrow`.**

We can't reliably set props on `Arrow` from `Tooltip`. The best option we have, I guess, is to change the styles. Something like this

[2018-06-23 21:21] joao-alberto commented on #96
@diegohaz I'll make tests with both of them to verify what fit best to our necessities

[2018-06-25 13:16] mrpsiho opened #101 "<Navigation> is missing"
Hi!

First, thanks for such a cool lib!
Unfortunately, I have got this: `'reas' does not contain an export named 'Navigation'.` I am using `reas` NPM package (0.10.2), just checked it - it really does not have such component :(

[2018-06-25 13:20] Thomazella commented on #101
Hi mrpsiho! Thanks for reporting it. We'll have it fixed soon.

[2018-06-25 14:08] diegohaz commented on #101
Hey, @mrpsiho. I just released a new version ([`v0.10.3`](https://github.com/diegohaz/reas/releases/tag/v0.10.3)). Please, run `npm update reas` or `yarn upgrade reas`.

[2018-06-25 14:08] #101 closed

[2018-06-25 14:42] mrpsiho commented on #101
Awesome! Thanks again for the great tool! 🥇

[2018-06-27 18:57] diegohaz commented on #100
Besides being too hidden magic, it'll require a lot of work and ugly code to happen. Closing for now.

[2018-06-29 16:52] diegohaz opened #104 "Add animated examples of Overlay and Sidebar"

[2018-06-30 12:35] diegohaz opened #106 "Reorganize dist folder"
I'm thinking about splitting it into `lib`, `es` and `umd` in the root directory.

Also, we should be able to import components and other modules this way:
[code]

[2018-06-30 13:27] diegohaz opened #107 "Blockquote"
Instructions:

1. Fork, clone the repository in your local machine and install dependencies (`yarn` or `npm install`);
2. Run `yarn docs` or `npm run docs` and open http://localhost:6060 in your browser;
3. Duplicate any simple component inside `src/components` (e.g. `Block`) naming it `Blockquote` ([generact](https://github.com/diegohaz/generact) can help you with that);
4. Update `Blockquote.js`

[2018-07-02 21:35] diegohaz opened #109 "Perpendicular: angle instead of reverse"
Currently, we have a `reverse` prop on `Perpendicular` which rotates the component by 180 degrees. We should rename that prop to `angle` and accept a number so it'll be consistent with the `angle` prop on `Arrow`:

https://github.com/diegohaz/reakit/blob/4523918e64ee73ab5c9b87deb08b29eddd9af95c/src/components/Arrow/Arrow.js#L39-L45

`reverse` is used by two other components: `PopoverArrow` and `To

[2018-07-04 13:34] #107 closed

[2018-07-06 00:49] diegohaz opened #112 "Sections should have a "Improve this page" button"

[2018-07-06 00:50] diegohaz opened #113 "Header should display the current version"

[2018-07-06 00:51] diegohaz opened #114 "Container pages should display the Container API"
A table with `initialState`, `selectors` and `actions`.

[2018-07-06 00:52] diegohaz opened #115 "Google Analytics"

[2018-07-06 00:53] diegohaz opened #116 "Scroll to the top when switching between pages"

[2018-07-06 02:29] diegohaz opened #117 "Open graph metatags"
http://ogp.me/

[2018-07-06 02:42] Thomazella commented on #117
Can you elaborate a bit more?

[2018-07-06 03:43] wordofchristian commented on #112
Would this link to the markdown file on github in edit mode?

[2018-07-06 03:49] diegohaz commented on #112
@wordofchristian Not in edit mode. Just a link to the file.

[2018-07-06 03:58] diegohaz opened #118 "Show previous/next section link"
In the bottom of each section, it should display a link to the previous and to the next section for ease navigation (specially in mobile).

[2018-07-06 04:11] wordofchristian opened #119 "Link to source code for each component in docs"
Each component page in the docs should have link to the source for that component on github.

[2018-07-06 05:11] #119 closed

[2018-07-06 13:52] diegohaz opened #122 "Refreshing inner pages shows 404"
We should copy `index.html` and rename it to `404.html` when building the website.

[2018-07-06 16:00] #96 closed

[2018-07-06 16:40] diegohaz commented on #98
More random thoughts:

[code]

[2018-07-06 17:44] Thomazella commented on #98
`fade` -> `hiddenTransition` maybe? aligns with `hiddenStyle` and `visibleStyle`, plus resembles css more. `unmount={500}` is hot, I like it! `slideUp` is a timing function that makes the component visually slide up? If so, we'd be hard coding this timing function into a custom prop we decided to call `slideUp`? If we need this type of behavior in other components maybe it should be encapsulated i

[2018-07-06 17:51] Thomazella commented on #122
Can you give me some instructions to replicate it? I tried F5 on firefox and shift+F5 to override cache, but it doesn't show a 404 page.

[2018-07-06 17:54] diegohaz commented on #98
@Thomazella I think this is how we could apply `slideUp` manually (didn't test it though):
[code]

I think that's a good one to become a custom prop.

If people want to use it in other components, they could just use `<Foo as={Hidden} slideUp />`. It's hard to abstract animations too much because they usually depend on *at least* two states (0% and 100%, hidden and visible etc.). `Hidden` already

[2018-07-06 17:55] diegohaz commented on #122
@Thomazella You have to do that in one of the inner pages.

[2018-07-06 18:00] diegohaz commented on #122
This looks like an overkill, but redirecting could be better than just using 404.html as index.html
https://github.com/rafrex/spa-github-pages

[2018-07-06 18:38] Thomazella commented on #122
Ok. But to actually test a solution we'd need to deploy to gh right? I can probably do that with my fork...

[2018-07-07 00:47] IniZio commented on #122
Maybe could use netilfy instead with _redirects config?

[2018-07-07 01:33] wordofchristian commented on #98
Maybe the name of the component should be re-thought as well. Hidden implies that it will not be visible when what we want is something that switches between visible and invisible I'm wondering if maybe it would be more intuitive with a name like `<Visibility />` or `<Switch />`.

Here's what that would look like:

[code]

[2018-07-07 02:56] #118 closed

[2018-07-07 03:01] #116 closed

[2018-07-07 20:11] #122 closed

[2018-07-07 21:10] #117 closed

[2018-07-09 06:34] #40 closed

[2018-07-09 19:20] diegohaz opened #128 "Update website title"
`Foo | ReaKit` -> `Foo - ReaKit`

Instructions:

1. Go to https://github.com/diegohaz/reakit/blob/master/website/src/pages/Section.js

2. Click on the pencil icon to fork and edit the file:
    <img src="https://user-images.githubusercontent.com/3068563/42471092-e93d149c-8392-11e8-8fa9-ef93715de6f1.png" width="350">

3. Find `| ReaKit` and replace `|` by `-`;

4. At the bottom of the page, click o

[2018-07-09 19:33] diegohaz opened #129 ""Tookit" to "Toolkit""
Change `Tookit` to `Toolkit` in the website description:

Instructions:

1. Go to https://github.com/diegohaz/reakit/blob/master/styleguide.config.js

2. Click on the pencil icon to fork and edit the file:
    <img src="https://user-images.githubusercontent.com/3068563/42471092-e93d149c-8392-11e8-8fa9-ef93715de6f1.png" width="350">

3. Find the description and fix it;

4. At the bottom of the page

[2018-07-09 19:35] #2 closed

[2018-07-10 00:23] diegohaz opened #130 "Make Arrow follow a target element"
We need examples where the arrow is centralized in relation not to Popover/Tooltip, but to the parent element.

Putting the Arrow inside the Popover and aligning them to right will give us this layout:
[code]

Keeping Popover aligned to right and aligning the Arrow in the center will give us this result (the Arrow is centralized in relation to Popover):
[code]

We need to add an example like this:

[2018-07-10 03:44] diegohaz opened #132 "Make prop-types a dependency"
https://github.com/facebook/prop-types#how-to-depend-on-this-package

[2018-07-10 11:56] #128 closed

[2018-07-10 12:02] #26 closed

[2018-07-11 14:42] #129 closed

[2018-07-11 14:59] diegohaz opened #136 "Table.Wrapper"
For responsiveness. It should have styles like these:
[code]

Usage:

[code]

## Instructions:

1. Fork and clone the repository and run `yarn` or `npm install` to install dependencies;

2. Copy a simple component like [`Table`](https://github.com/diegohaz/reakit/blob/master/src/components/Table/Table.js) into `TableWrapper.js` and edit its contents;

3. Create a `TableWrapper.md` file with some e

[2018-07-11 15:03] diegohaz opened #137 "Create 404 pages"
Currently, if the url doesn't match anything, it'll display a blank page.

[2018-07-11 15:09] diegohaz opened #138 "Sections layout"
I'm not fully satisfied with the current sections layout. The menu seems weird. Its UX doesn't feel good.

I'll be implementing a new layout with the menu `fixed` (not `sticky`, like it's today) on the left side.

![img_2465](https://user-images.githubusercontent.com/3068563/42581430-19636c72-8503-11e8-995c-5efbe81400c7.JPG)

Ideas are welcome.

[2018-07-11 15:29] diegohaz opened #139 "TableCell as TH instead of header custom prop"
The main reason I added a `header` custom prop to `TableCell` instead of letting user use `as="th"` was because I needed to know about that inside the component to pass the proper `role` attribute:
https://github.com/diegohaz/reakit/blob/a438ceebb621c38826ec8309f50f7841cc91ee56/src/components/Table/TableCell.js#L8-L14

At that time, there was no easy way to get the underlying html element inside t

[2018-07-11 18:36] tsiq-swyx commented on #94
hello! latecomer here. can i get an invite? (alternately, can you move to spectrum because slack sucks)

[2018-07-11 19:47] #114 closed

[2018-07-11 21:38] wordofchristian commented on #138
When you say it will be fixed, do you mean neither it nor the top navigation bar will scroll with the page?

Best,

Christian Schlensker

On Wed, Jul 11, 2018 at 08:09:21, Haz < notifications@github.com > wrote:

[2018-07-11 21:41] diegohaz commented on #138
@wordofchristian Yes, like the mobile version (but always visible).

[2018-07-11 23:53] #115 closed

[2018-07-12 01:08] diegohaz commented on #98
The idea behind the name `Hidden` is that it's easier to infer that this won't be shown:
[code]
It's "hidden by default".

The HTML equivalent would be this:
[code]

`Visibility`, besides being very hard to type (😅), isn't explicit about its initial state. But I agree that `<Hidden visible>` may seem illogical at first. If it communicates well, though, I'm ok with it.

[2018-07-12 06:51] Moeface commented on #109
I'm not sure if this is the right place for it, but the Popover.Arrow docs (https://reakit.io/components/popover/popoverarrow) already refer to the prop `angle`, but the `pos` string is actually the prop that modifies the behaviour of the component. Using `angle` does nothing.

[2018-07-12 07:11] diegohaz commented on #109
Yes, @Moeface. That's one of the things this solution will fix. Currently, `Perpendicular` is overriding `angle`.

[2018-07-12 09:19] joeynimu commented on #136
@diegohaz I want to work on this if it isn't taken yet :-p

[2018-07-12 10:22] diegohaz commented on #136
Sure, @joeynimu. Go ahead. 😊

[2018-07-12 10:58] dicarlo2 opened #142 "Typescript definitions"
I'd love to see official typescript definitions, preferably shipped with the package.

Fully typing `as` will be tricky - I tried my hand at it with little success, but it felt like it should be possible.

[2018-07-12 12:35] diegohaz commented on #142
The most effective way to include typings with this library would be actually building the library with them. Otherwise, they would eventually get out of sync.

I was planning to use flow here. Do you know if there's something that converts flow typings to typescript so we could ship both?

[2018-07-12 20:39] twhite96 opened #143 "Question: Theme for Your Docs Website"
I am looking all over the place for this theme, which is the same one React uses. It is a Gatsby starter I think but I can't find it anywhere. Can you tell me which one you used?

Thanks a bunch.

[2018-07-12 21:30] wordofchristian commented on #142
Did you see this? https://github.com/joarwilk/flowgen, it seems to promise being able to generate flow type definitions from typescript. I haven't seen a whole lot to allow going the other direction. There is https://github.com/bcherny/flow-to-typescript but it is pre-alpha and seems to be designed for converting the source code, not for generating definition files.

[2018-07-12 21:31] diegohaz commented on #143
Hey, @twhite96.

We're using [react-styleguidist](https://react-styleguidist.js.org/) to build the content. But there's no theme. It was built from scratch with ReaKit itself.

https://reactjs.org and https://vuejs.org were the main references.

You can find the code in the `website/src` folder.

[2018-07-12 21:31] #143 closed

[2018-07-12 21:49] diegohaz commented on #142
Hmm, it seems that our best choice would be using TS.

What I love in Flow is the ability to incrementally apply it on the codebase without many changes. It's just two dependencies, and it works nice with babel.

I'm not sure if that's possible with TS. But if someone comes up with minimal changes on the build setup and a way to incrementally implement it on the code (e.g. starting with `utils` me

[2018-07-13 00:54] wordofchristian commented on #142
The integration story between babel and typescript seems to be getting better. It is possible to use typescript parser with babel, but requires using babel 7 which is still pre-release. There's an example repo here of how it can be done https://github.com/Microsoft/TypeScript-Babel-Starter. It might also be possible to use the [rollup plugin ](https://github.com/rollup/rollup-plugin-typescript) an

[2018-07-13 01:08] wordofchristian commented on #142
I think the absolute minimum setup

[2018-07-13 10:29] joeynimu commented on #136
@diegohaz when I run `npm run website` I get this error;
[code]
It's just a `spread` wonder why it throws an error. Let me know if you might know what's the issue as I also look into it.

[2018-07-13 10:31] diegohaz commented on #136
That's probably your node version. I think Node v8.6.0 supports spread.

[2018-07-13 11:52] joeynimu commented on #136
@diegohaz managed to fix the issue. Question, on which directory should the `TableWrapper.md` go to?

[2018-07-13 11:53] diegohaz commented on #136
Awesome. :)

It should be next to `TableWrapper.js` in `src/components/Table`.

[2018-07-13 16:08] wordofchristian commented on #142
I can dig into this. I'll see if it's reasonable to do without upgrading to the babel 7 beta, but I think continuing to use babel would be best as I'm not sure if there is a `styled-components` plugin for typescript.

[2018-07-13 16:16] diegohaz commented on #142
Great. :)
That's ok to upgrade babel too.

[2018-07-15 18:55] diegohaz commented on #98
The current state (I'm really happy with this):

![jul-15-2018 15-54-55](https://user-images.githubusercontent.com/3068563/42737256-71df86fa-8847-11e8-90ee-dd7e73fc9384.gif)

[2018-07-15 22:41] dicarlo2 commented on #142
Agreed.

The conversion story for Flow -> Typescript and/or Typescript -> Flow is pretty poor - I wasn't able to find a tool that would accurately convert types in a reasonable way compared to hand written definitions.

From experience, there are some caveats to this:
1. Not all typescript features are implemented
2. New typescript features take time to be implemented
3. Typescript will generally

[2018-07-15 23:21] wordofchristian commented on #142
@dicarlo2

What approach did you take for combining flow and typescript? Have you found a good way to generate both definitions, or is the only good answer to write one or both by hand?

There's a WIP pr for typescript over at #146 so feedback would be welcome.

I feel like no matter how we do this we should be prioritizing typescript support over flow just based on my own personal perception of m

[2018-07-16 12:52] joeynimu commented on #136
@diegohaz sorry got held up over the weekend with other things. I managed to finish this. One question I have though is, should the wrapper have a `role` as a prop? If yeah, what should it be? Ooh...and some `CI` test are failing :-(

[2018-07-17 22:40] #109 closed

[2018-07-17 22:41] #98 closed

[2018-07-18 01:06] #104 closed

[2018-07-18 01:23] #139 closed

[2018-07-18 03:33] #137 closed

[2018-07-18 11:46] joeynimu commented on #136
@diegohaz Kindly have a look, thanks.
#148

[2018-07-18 16:30] diegohaz opened #154 "Separate packages for themes"
The main complaint I see regarding libraries like this is about the difficulty of customizing the style of the components, since you often have to reset many of them, and it turns out it would be easier to create from scratch.

On the other hand, libraries like `material-ui` are also very popular for providing an elegant look for people who don't want to deal with styles.

ReaKit stays in the midd

[2018-07-18 16:35] wordofchristian commented on #154
This is an excellent idea. I know what initially drew me to this library was how un-opinionated it was about appearance. There should definitely be some kind of bare bones theme that gives you the very basics essentials of spacing and layout so you could actually build a website without customizing anything.

[2018-07-18 18:54] diegohaz commented on #154
That's a great solution.

[2018-07-18 19:03] diegohaz opened #155 "Remove child components"
When I was building this library, I wanted to use enhanced components for everything. That is, I didn't want to use `div`s, `li`s and other HTML elements at all.

But, in performance terms, using HTML elements directly will always be faster than using any React component. If we're rendering a big list of `List.Item`s, for example, the difference could be some dozens os milliseconds (or maybe hundr

[2018-07-18 20:36] renatorib commented on #154
Maybe the components like Shadow could still exist but respecting the shadows that come from the theme settings. Obviously if you use Shadow without a theme, it would appear blank.
Material-ui uses [Paper](https://material-ui.com/demos/paper/) with `elevation` prop, that corresponds to the shadow elevature.  There are 24 different levels (`elevation1`...`elevation24`) that you can override in the

[2018-07-18 21:12] wordofchristian commented on #154
I think a lot of these decisions come down to a user's particular use cases and needs.

I think there will be some users who want to use the core utility features of ReaKit such as `as` or `Base` but care less about the presentational ones because they have very specific presentational needs. Those users can just ignore the presentational components and just use the utility and functional componen

[2018-07-19 05:30] diegohaz commented on #136
@joeynimu You didn't do anything wrong (probably I did 😅)
Your PR was automatically closed when I pushed my changes to your branch. Please see https://github.com/joeynimu/reakit/pull/1

[2018-07-19 08:21] joeynimu commented on #136
@diegohaz haha I see what you mean. I was just curious. I am open to work on the issues /PR's that are within my capability I will have a look at the open issues and run them with you first. Otherwise, thanks.

[2018-07-19 09:04] #136 closed

[2018-07-19 09:21] joeynimu commented on #130
@diegohaz I'd be glad to work on this tomorrow or over the weekend if it hasn't been taken already.

[2018-07-19 18:16] diegohaz commented on #130
That's a tricky one. The best example I could write was this (you can copy and paste it on https://reakit.io/components/popover):
[code]

But this is the result:

![jul-19-2018 14-59-51](https://user-images.githubusercontent.com/3068563/42961166-5de50042-8b64-11e8-9a98-f91e81b1134c.gif)

As you can see, since Popover is animated, the Arrow shows up before it. Even if we add `fade`, `slide` and `ex

[2018-07-19 21:41] renatorib commented on #154
Agreed.

[2018-07-20 00:07] #6 closed

[2018-07-20 02:47] enesTufekci commented on #90
Is there any one on that? otherwise I wanna dive into it.

[2018-07-20 03:36] diegohaz commented on #90
You can take it, @enesTufekci. If you need any help, just ask. :)

[2018-07-26 21:39] #94 closed

[2018-07-26 21:39] Thomazella commented on #155
closed in #158

[2018-07-26 21:39] #155 closed

[2018-07-27 01:24] diegohaz opened #160 "Hidden hideOnClickOutside prop"
![image](https://user-images.githubusercontent.com/3068563/43296490-0943f1b0-9122-11e8-8272-a8ffa47f5214.png)

Using `Backdrop` may not be so intuitive. And it comes with the side effect of not allowing the user to actually click directly on something outside the `Hidden` element, which can be useful on some use cases, such as `Sidebar`, but annoying on others.

I'm thinking about implementing a `

[2018-07-27 01:49] diegohaz opened #161 "RFC: Form"
I think ReaKit should provide a solution for every common UI problem.

I know that this may be a bit too ambitious, specially when there're so many good libraries out there already solving the same problem (e.g. [Formik](https://github.com/jaredpalmer/formik) and [Final Form](https://github.com/final-form/react-final-form)).

However, I also see some advantages of having it included in this librar

[2018-07-30 00:24] #130 closed, assigned to nobody

[2018-07-30 00:33] diegohaz opened #164 "RFC: Page"
Following #161, we should also have a simple routing solution built in the library.

I guess we can use https://github.com/ReactTraining/history, which is used by react-router.

This is my initial thoughts around the API (opinions are welcome):

Router:
[code]

Link:
[code]

Usage with `Overlay`:

[code]

Usage with `Tabs`:

[code]

[2018-07-30 06:12] Andarist commented on #164
Personally I think if you want to include things like routing, forms and similar into this toolkit it would be far better to outsource them, become opinionated about "the stack" rather than reinventing those wheels.

[2018-07-30 16:54] diegohaz commented on #164
I agree, @Andarist. Actually, I want to reuse as most of the core of those libraries as possible, but have a different API.

That's why I implemented popper on Popovers, but not react-popper. Maybe can use final-form (not react-final-form) in forms.

But I'm not sure routers would have a higher level abstraction other than the history library.

[2018-07-30 17:01] #113 closed

[2018-07-30 17:54] #138 closed

[2018-07-30 18:44] kevinwolfcr commented on #161
*imo*, this is outside of the scope of this library, which is to provide visual primitives to build websites.

What if a user wants to use another solution rather than the provided one?

[2018-07-30 23:37] diegohaz commented on #161
Thanks for your feedback, @kevinwolfcr.

That's an interesting point to talk about. In the early days I used to call it a "component system" as opposed to "component library", because it was never just a collection of components.

I think "toolkit" is a good category to put it in for now. It provides "tools" for building UIs. Primitives, but not only visuals. After all, [containers](https://reakit

[2018-07-31 00:09] kevinwolfcr commented on #161
Ok. I see where you want to go. What I will recommend you, it's to keep the component system _unopinionated_ (as it does now, providing container components) and maybe extend it with addons, so if a user wants to install the full form, they can install a module named `@formik/form-helpers`, or something like that.

[2018-07-31 00:09] kevinwolfcr commented on #90
@enesTufekci are you still working on that? otherwise I can start working on it.

[2018-07-31 00:13] enesTufekci commented on #90
@kevinwolfcr please go for it, i couldnt find time to do it.

[2018-07-31 15:07] kevinwolfcr commented on #90
Ok, will start on it tonight.

[2018-08-01 23:52] diegohaz commented on #106
@Andarist I'm having a hard time using an array of `input` in the rollup config. Since the entry points are all `index.js` files, as you stated in your article, they become `index1.js`, `index2.js` etc.

Do you know any way to get around this without having to rename the entry point files?

[2018-08-02 08:18] diegohaz commented on #106
It seems that passing objects to `input` isn't supported by rollup-plugin-commonjs yet :(
https://github.com/rollup/rollup-plugin-commonjs/pull/329

[2018-08-02 08:42] xuopled commented on #154
It could be very nice to multiples themes, separted from the core feature.
[code]

True, I was looking for a library and I discover this one. But I'm afraid to use it from now if you plan to remove all styles in the near future

[2018-08-02 15:51] wordofchristian commented on #154
Ne t'inquiète pas @xuopled

The the current styling would still be available. One likely way we might do this is to turn the current styles into the recommended basic them, or you can create your own, or use a third party theme.

[2018-08-03 02:10] sallespro commented on #164
Mr. Haz, very nice pra xuxu. i'm going in this direction https://github.com/c8r/x0#routing , maybe it interests you.

[2018-08-04 23:50] #106 closed

[2018-08-05 12:43] allpwrfulroot commented on #164
My projects use Next.js, which has a completely different take on routing than React Router. Would rather the component library stay agnostic to routing ^_^;;

[2018-08-05 19:34] diegohaz commented on #164
I think `Page` should be a [`Hidden`](https://reakit.io/components/hidden) component controlled by browser's history. That is, when the `path` prop matches against the current location, it turns on its `visible` prop.

This means that all `Hidden` derivate components, such as [`Popover`](https://reakit.io/components/popover), [`Overlay`](https://reakit.io/components/overlay) and any other created

[2018-08-06 20:56] diegohaz opened #171 "Remove lodash dependency"
Reference: https://github.com/reakit/reakit/pull/170#issuecomment-410509334

I think that's a good idea to remove the dependency on lodash and create util modules instead. We're currently using `kebabCase`, `uniq`, `uniqueId` and `omit`. We should create **one file per function** and test them.

An initial work was done by @Andarist here:
https://github.com/reakit/reakit/blob/f688d223bd8888691577b

[2018-08-06 21:52] Thomazella commented on #171
I'll add a benchmark too.

[2018-08-07 01:24] diegohaz opened #172 "Make docs internal links work on GitHub too"
Example: https://github.com/reakit/reakit/blob/master/src/components/Popover/Popover.md

Clicking on `PopoverContainer`, `PopoverHide` or `PopoverToggle` only works on the website: https://reakit.io/components/popover

The component docs shouldn't know about the website, specially because we'll separate them into two different packages (#154).

So we should write links as `[PopoverContainer](Popov

[2018-08-07 02:36] diegohaz opened #173 "Remove react-known-props dependency"
In order to reduce bundle size, we should remove the dependency on [react-known-props](https://github.com/Thomazella/react-known-props).

Currently, we're using it here to filter custom props and render only valid html props on the component:
https://github.com/reakit/reakit/blob/63284abac891b47b7bb313d827c588468b4a6b1b/src/utils/pickHTMLProps.js#L1-L21

We should replace `getElementProps` and `ge

[2018-08-07 08:34] Andarist commented on #173
hm, what's the purpose of this `pickHTMLProps` right now? What I mean - arent `styled-components` already do some kind of filtering so only HTML props reach to the underlaying tag?

[2018-08-07 08:35] Andarist commented on #171
Just a note - `omit` doesnt have to be implemented at all, in many cases you can just use object rest spread for that.

[2018-08-07 09:51] Andarist commented on #173
They are flat bundling, so you won't be able to access that file either way.

Personally I'm emotion (👩‍🎤) user and we have `shouldForwardProp` option that can be passed to `styled` call (& reuse existing filtering). Maybe worth proposing something similar to styled-components?

Example from emotion
[code]

[2018-08-07 17:28] madiodio opened #178 "The Overlay component throws a warning when removing it's wrapper while unmounting"
It looks like React calls `componentWillUnmount` even when the component didn't have the chance to mount yet which causes the [`Overlay` component](https://github.com/reakit/reakit/blob/master/src/components/Overlay/Overlay.js#L18) to throw this warning:
`TypeError: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'`
I've submitted #177 to help fix that.

[2018-08-07 17:41] diegohaz opened #179 "Add pre-commit hook for Prettier"
Reference: https://github.com/reakit/reakit/pull/177#discussion_r208318143

[2018-08-07 17:42] madiodio opened #180 "Move styled-components to peerDependencies?"
From jxnblk/grid-styled#88, I think that it would help prevent a category of bugs from happening if `styled-components` was resolved as devDependency and also mentioned as a peerDependency rather than a direct dependency. It will also help to reduce the bundle size following #170 #171 and #173. Thoughts?

[2018-08-07 18:02] diegohaz commented on #180
Hey, @madiodio. Thank you for coming up with this.

This was already suggested before here: https://github.com/styled-components/styled-components/issues/1676#issuecomment-380474497 (turned out that it was a different problem)

Particularly, I don't like the idea of putting it into peer dependencies and forcing the user to `npm install` it. If conflicts happen, I'd try to solve it by tweaking the

[2018-08-07 18:07] #178 closed

[2018-08-07 21:40] Thomazella commented on #171
closed in #181

[2018-08-07 21:40] #171 closed

[2018-08-07 21:43] madiodio commented on #180
@diegohaz Thanks for your prompt reaction.

You're right about the hassle you might cause to users by forcing them to install another dependency to use this lib and after further reading through the docs I realized we already have a `styled` utility which makes even more complex to tackle this issue.

So maybe keeping this issue opened while we come up with a better solution will be a good comprom

[2018-08-08 21:37] diegohaz commented on #173
I wonder if we vendor the [`validAttr` file](https://github.com/styled-components/styled-components/blob/master/src/utils/validAttr.js) of styled-components, webpack/rollup/uglify/gzip wouldn't unify tem.

[2018-08-08 21:59] Andarist commented on #173
You'd have to give me more details about the problems that you have encountered with emotion, works like a charm for me :) and it's more powerful than styled-components (and will become even more powerful in upcoming v10, while keeping the backwards compatibility).

Interpolated functions are very much supported in styled calls, [they got only deprecated in `css` calls](https://github.com/emotion-

[2018-08-08 22:52] diegohaz commented on #173
Good to know. I'll definitely give emotion another try in the future.

[2018-08-08 23:10] #160 closed

[2018-08-09 00:03] joao-alberto commented on #179
Can be done using 'husky' and 'pretty-quick' or do you preffer sh scripts as mentioned in discussion?

[2018-08-09 00:07] diegohaz commented on #179
The [first option](https://prettier.io/docs/en/precommit.html#option-1-lint-staged-https-githubcom-okonet-lint-staged) seems to give us more control. I'd go for it.

[2018-08-09 00:16] joao-alberto commented on #179
Oh yeah, I forgot about lint-staged, I'll do

[2018-08-09 00:17] Thomazella commented on #179
Hope it works with lazy commit all on vscode :p

[2018-08-09 05:52] codyaverett opened #182 "SVG Tools"
What if Reakit supported some SVG things?

### The problem

I've been using SVG for a lot of things lately and some things are just more difficult than they need to be.
One example of a _not so great time_ is creating layouts in SVG's coordinate system.  Someone would normally have do their own calculations or use a library such as [D3](https://d3js.org/) for helper functions.

Some more ideas.

-

[2018-08-11 01:09] codyaverett commented on #182
Thanks @Thomazella.  Does this sound crazy? Working with SVG sometimes drives me crazy, but you can do some crazy awesome things with some CSS styled SVG.

I think it would be cool to be able to use reakit to generate some custom shapes/icons or use any Sketch/Illustrator exported SVG asset our designer cooks up.

- Aria tags are supported by SVG and SVG has great support.

- One thing I've found

[2018-08-13 04:17] #142 closed

[2018-08-13 07:04] diegohaz opened #185 "Add typing tests"
Reference:

- package.json's script:
  https://github.com/styled-components/styled-components/blob/f401eda35ef16065509ea8a7375290fb8b5858a6/package.json#L34

- tests:
  https://github.com/styled-components/styled-components/tree/f401eda35ef16065509ea8a7375290fb8b5858a6/typings/tests

[2018-08-13 08:19] diegohaz opened #186 "Rename Base to Box"
With #154, we'll remove some components that are there only for styling purposes, like `Shadow` and `Box`.

`Base` is a really powerful component and should be used more often, specially for rapidly creating tiny styled components, like in [this example](https://codesandbox.io/s/lr73v99prq) by @renatorib.

That was the intent of "display" components like `Block` and `Flex`. However, it's not so ea

[2018-08-13 16:29] Thomazella commented on #182
Cool. If you can put something together to show us it'll be easier to reason about. To be honest I haven't used SVG that much 😅

[2018-08-14 13:16] #172 closed

[2018-08-14 17:05] diegohaz opened #191 "RFC: Builder (or how to make a living from this project)"
Hey! I'd like to share with you guys my thoughts on how I plan to make a living from this project. And, depending on how well things go, invite more people to join in.

Until a few months ago I was working for [a company](https://hellomd.com) based in San Francisco, CA. So I left my job there to dedicate myself full time to ReaKit. I had seen an opportunity that had not yet been explored (and not

[2018-08-14 17:36] Thomazella commented on #191
I'd focus on figuring out who the public is, and market the hell out of it. "Bolierplate tools"

[2018-08-17 21:48] dicarlo2 commented on #142
Yay, this is awesome!!!

[2018-08-17 23:05] ca057 opened #198 "Usage with TypeScript is not working"
Hello!

I tried to add your library to my project, which was bootstrapped with create-react-app and TypeScript. When I try to use your Button component (`import { Button } from 'reakit';`), the following error appears:

[code]

This are my dependencies:
[code]
Is the error on my side? Do I need to do additional steps to use your components?

[2018-08-17 23:12] diegohaz commented on #198
Could you try to add `"allowSyntheticDefaultImports": true` to your tsconfig.json?

@wordofchristian Do you know if we can use our own tsconfig.json for our files, even when people are consuming them?

[2018-08-18 00:57] #185 closed

[2018-08-18 09:40] diegohaz commented on #198
Constate will have types soon. I'm working on it right now and should be finishing it by this weekend.

We'll fix the `Cannot find module` issue. Actually, that happens because not all of our components are written in TS yet. We're gradually transforming them. I'll see if we can add empty declaration files for those that are still in JS.

In the meanwhile, I guess you can fix those problems adding

[2018-08-18 09:53] ca057 commented on #198
Thanks! Sounds good - if I find some time, maybe I can try to support you with transforming your components. Let me know if there's a good place to start!

[2018-08-18 09:57] diegohaz commented on #198
That would be definitely helpful. You can start by the simple ones in https://github.com/reakit/reakit/tree/master/packages/reakit/src

[2018-08-21 03:21] MichelDiz opened #199 "gatsby error"
[code]

[2018-08-21 03:27] diegohaz commented on #199
Hey, @MichelDiz.

What React version you're using? If possible, update it and try again.

[2018-08-21 14:36] MichelDiz commented on #199
I just installed gatsby this week and tried to use the reakit yesterday.

[code]

from gatsby lib
`"react": "^15.6.0",`

I can not update the React, I have to wait for the gatsby to refresh.

I realize that the version is old in fact, is it the 16 that supports "React Context" correct?

[2018-08-21 14:44] MichelDiz commented on #199
Worked with "next" from

Thank you!

[2018-08-21 14:44] #199 closed

[2018-08-22 04:33] diegohaz commented on #191
@dicarlo2 That's interesting. Thank you for bringing it. :)

It somehow reminds me of Meteor. I'll take a closer look later.

[2018-08-22 14:00] konrad147 opened #203 "Styled components recommendations"
Hi,

I wanted to ask about `styled-components` recommendations. As I see that the most (or all) of the components are wrapped into `styled` function. As I understand `styled-components` recommendation is to avoid that and use wrappers to apply a styling.
From `styled-components` documentation:

Why did you choose to use that approach?

[2018-08-22 18:19] Slapbox opened #204 "Popover example #1 could be more clear"
https://reakit.io/components/popover

![image](https://user-images.githubusercontent.com/6835891/44482423-42805c80-a616-11e8-9b4f-e6d801c252cc.png)

Clicking this button doesn't do anything. The white box that says "Popover" is there no matter what. I assume this is supposed to be the popover.

[2018-08-22 18:55] Slapbox commented on #204
Okay so it does work, but it's kind of misleading at first. I expected the button to do something in this example.

[2018-08-22 19:50] diegohaz commented on #204
Hey, @Slapbox. It was a "static" example. You should toggle the `visible` prop in order to control it.

But I agree it may not be clear enough. Would you mind sending a PR?

[2018-08-22 19:52] Slapbox opened #205 "Popover arrow origination point should not use margin in calculations"
Popover arrows originate from the center of an element, including its margin as part of the element. I assume this is unintentional and that it should only include padding and border in the calculation of element height.

![image](https://user-images.githubusercontent.com/6835891/44487092-5b433f00-a623-11e8-86e5-e3341f788d79.png)

[2018-08-22 19:55] Slapbox commented on #204
@diegohaz I'm just starting out using this library and not 100% sure if this is what you mean, but I submitted a simple PR.

https://github.com/reakit/reakit/pull/206

[2018-08-22 19:57] diegohaz commented on #205
That's not what should happen, indeed.

Could you please provide the code to reproduce it?

[2018-08-22 20:01] Slapbox commented on #205
@diegohaz here's (I believe) all the necessary code. The icon is a Font-Awesome icon.

[code]

[code]

[2018-08-22 20:03] Slapbox commented on #205
Just did a quick test and confirmed this occurs with plain text as content instead of a Font-Awesome icon.

[2018-08-22 20:03] #204 closed

[2018-08-22 20:11] diegohaz commented on #205
That happens because the `reference` element for Popover is its parent. You should whether apply the margin to `InlineBlock` or make `Popover` a child of `Button`.

[2018-08-22 21:06] Slapbox opened #207 "Explanations of 'Fade', 'Slide', and 'Expand' ?"
What exactly to the `fade`, `slide`, and `expand` do in Popovers?

I'm not seeing any difference in the entrance/exit of the popover with any combination, or lack-thereof, of these properties.

[2018-08-22 21:35] Slapbox commented on #207
[code]

No matter what options I pass, I can't get rid of the bounce effect on entrance of the popover, except for setting duration to `0ms` which is an unpleasantly sudden entrance.

[2018-08-22 21:38] Slapbox commented on #207
I've tried passing false as a string and a bool, and while the effects vary, it always animates unless duration is explicitly set to `0ms`

[2018-08-22 21:44] diegohaz commented on #207
@Slapbox Try to use `timing="ease"`.

`fade`, `slide` and `expand` only change the animation type, not the timing function.

[2018-08-22 21:56] diegohaz commented on #205
I'm gonna close this for now.

But feel free to submit a PR proposing changes on the docs. As library authors, we know how the things work. It's hard to write proper documentation for those who don't. Usually, it results in unnecessary information or lack of it. That's why PRs improving documentation are so welcome. ❤️

[2018-08-22 21:56] #205 closed

[2018-08-22 22:29] Slapbox commented on #205
I can certainly relate to that. Thanks for your advice!

I'll try to give this method a try and report back if I have any trouble with it.

[2018-08-23 01:29] diegohaz commented on #198
Hey, @ca057. We've released v0.14.3 with a fix for this issue. Could you try it?

[2018-08-23 01:54] diegohaz commented on #207
Closing this for now. Let us know if you have more problems. You can also use our [Spectrum community](https://spectrum.chat/reakit) or [Slack channel](https://join.slack.com/t/reakit/shared_invite/enQtNDExMDcwNTk2MTMwLWI1Mzk1Y2YzMTAzZGUyMGIzMjQxZGU4OGM3MDI0OTcyYWU0NzZjZmIxNDcxZTVlODZiODA3YjE5N2FiOWMxZWQ). Those are more suitable for support questions.

[2018-08-23 01:54] #207 closed

[2018-08-23 02:38] diegohaz commented on #203
Hi, @konrad147. Thanks for asking.

That recommendation works well for apps, but that's not entirely true for libraries.

In our website app, you can see that we're following it:
https://github.com/reakit/reakit/blob/c755118e9caaf3d899f630ea314bd899b2d4f85f/packages/website/src/components/Footer.js#L28-L85

But in the library we need control over the underlying element, which would not be possible

[2018-08-23 02:38] #203 closed

[2018-08-23 08:42] lomocc opened #208 "`Base` has two className with same content"
`Base` has two className with same content:
![20180823163659](https://user-images.githubusercontent.com/2075138/44514700-6665a000-a6f3-11e8-966b-6c80923fc7bd.png)

[2018-08-23 11:54] Thomazella commented on #208
Hey @lomocc, thanks for showing us that. It's probably because of how components are composed. 🤔

[2018-08-23 18:13] Slapbox commented on #207
Ah awesome I didn't know there was a Slack channel. You should definitely mention that on the main page of the repo.

That being said, I'm not clear on how the `expand` animation is supposed to work. I also saw, when toggling a bit faster than the animations, a rotating/flipping in effect. I'm not clear if that's from the `flip` property, or if `flip` is something else. A page with definitions for

[2018-08-23 18:15] ca057 commented on #198
The issue is resolved, thanks for the fast resolution!

But now I get an error due to two versions of `styled-components`, as I have it as well as a dependency. Seems related to #180 :

Running `yarn list styled-components` returned with `reakit@0.14.2`:
[code]
Now it's returning:
[code]

[2018-08-23 21:29] Thomazella commented on #198
Well, we probably bumped the `styled-components` dependency ahead of you. What is the error?

[2018-08-23 23:48] #179 closed

[2018-08-24 07:29] IniZio opened #211 "Use prop function in theme provider"
I tried to use prop function in theme
[code]

But it doesn't work, not really sure if there is a workaround or cannot be used like that? :thinking:

[2018-08-24 07:44] diegohaz commented on #211
Hi, @IniZio.

This is related more to https://github.com/diegohaz/styled-tools than to ReaKit.

But I think the issue is the way you're using it. `theme.colors.${prop('color')}` will result in something like `theme.colors.[Function]`, which is obviously not what you want.

You can try this:

[code]

[2018-08-24 07:44] #211 closed

[2018-08-24 09:58] IniZio commented on #211
Sorry, also I should have asked in chat instead.... thanks :joy:

[2018-08-24 11:50] #208 closed

[2018-08-24 17:04] Slapbox opened #213 "Reakit crashes to React ErrorBoundary in Production only due to Styled-Components failure"
Styled-Components fails when `NODE_ENV=production` for some reason, for some people. There's a bug about it here: https://github.com/styled-components/styled-components/issues/1610

The specific error is: https://github.com/styled-components/styled-components/blob/master/src/utils/errors.md#10

I know this isn't necessarily the problem of Reakit maintainers, but I wanted to bring it to your attent

[2018-08-24 17:28] diegohaz commented on #213
Hey, @Slapbox. I've never seen that before. We're running our website (https://reakit.io) in production without problems.

Could you provide a way to reproduce the error? Maybe a small repository.

[2018-08-24 17:47] Slapbox commented on #213
I'll certainly try, but I'm not confident in my ability to reproduce this in a share-able repo since styled-components is widely used and this bug seems to be reported very rarely.

In the meantime, this is the full extent of my usage of Reakit currently:

[code]

[2018-08-24 19:57] ca057 commented on #198
Well, I could've figured that out by myself... It's just `styled-components` raising a warning in the console.
Thanks for the feedback here!

[2018-08-25 00:50] diegohaz commented on #198
That warning is saying that you're using two different versions of styled-components in your app, which will result in a larger bundle. So we can't ignore that.

I released `v0.14.5` changing styled-components version on package.json to `^3.0.0`, so it'll probably resolve to the version you're using in your app (if that's v3).

[2018-08-25 20:08] Slapbox commented on #213
I ended up restructuring my entry point pretty much completely to remedy this. I'm not sure I can give any actionable advice to anyone to fix this. I moved my `require` statements to the very last thing to execute on startup, which may be the thing that did the trick.

[2018-08-25 20:08] #213 closed

[2018-08-25 21:33] Slapbox opened #217 "Feature Request - Keyboard support for Step element"
It would be great to be able to optionally use the left and right arrow keys to move through steps.

[2018-08-28 04:07] renatorib commented on #186
I like the idea. My 50 cents:

I like doing it because sometimes I want a specific UI element without losing the benefits that reakit/Base offers (like `as`, shortcut props, etc.)
[code]

But I think it can be more typescript-friendly something like a factory, since it's a common case. I may be wrong, or have done something wrong, but I've always had problems with component's props inference + cus

[2018-08-28 04:11] diegohaz commented on #186
@renatorib This is how you should do it:
https://github.com/reakit/reakit/blob/85a03333c0a287c17305534da275215570c02329/packages/reakit/src/Arrow/Arrow.ts#L13

I'm not sure if it will infer `props` in interpolated functions (it should), but the final `Board` component will work as expected.

[2018-08-28 04:17] renatorib commented on #186
Yeah, I forgot that now we can pass generics to tagged template directly. That's really nice.
Anyway, have you ever had problems with inference? The times I got totally lost with this are countless.

[2018-09-03 19:13] ewgenius opened #219 "Converting all components to Typescript"
Basing on #142 and some recent changes, it seems that Typescript is selected for this project, but typings applied only to a couple of components. Are there any plans to add types for the rest components?

I'm looking for an opportunity to contribute 🙂

Current status:

| Component | Status | Developer |
|-|-|-|
| Popover | In Progress | @ewgenius |
| Tooltip | (depends on Popover) | @ewgenius |

[2018-09-03 19:36] ewgenius commented on #219
@diegohaz awesome! I will start from `Backdrop` component. Is there any place to track type coverage progress (if not, maybe we can do this in this issue)?

Also maybe it makes sense to update this part as well to encourage new contributions to be typed as well https://github.com/reakit/reakit/blob/master/CONTRIBUTING.md#creating-components?

[2018-09-03 22:11] diegohaz commented on #219
We can use this issue to track typing progress on components. 👍

And, yes, CONTRIBUTING.md needs to be updated. Would you like to take this too?

[2018-09-04 04:01] ewgenius commented on #219
Yes, I can take this 👍

[2018-09-06 00:52] Thomazella commented on #219
I wanted to hit 👍🏻 but hit 👎🏻 accidentally. I think this is a great issue and we should get it done, I'll help if I can. 😆

[2018-09-07 22:32] #186 closed

[2018-09-07 22:32] #154 closed

[2018-09-07 23:09] wordofchristian opened #226 "Incompatibility with `as` prop in styled-components v4 (RFC)"
## Background
styled-components [just released V4](https://medium.com/styled-components/announcing-styled-components-v4-better-faster-stronger-3fe1aba1a112) bringing a lot of great new features 🎉

However, among these new features they added their own [polymorphic `as` prop](https://www.styled-components.com/docs/api#as-polymorphic-prop) that looks very similar to [the one in reakit](https://reaki

[2018-09-10 02:17] PlayMa256 commented on #226
+1 for `Uses` which seems to be much similar to what `as` does here and from an user POV, makes much more sense.

[2018-09-10 09:09] Thomazella commented on #226
I agree a rename makes sense, I'd be fine with anything expect `compose` (too long) :)

[2018-09-10 09:53] enesTufekci commented on #219
@ewgenius @diegohaz is the progress table up to date? I can help with this.

[2018-09-10 09:55] ewgenius commented on #219
@enesTufekci just updated with `Hidden` PR completion. I think you can take any component in work 👍

[2018-09-10 15:28] lluia commented on #191
@diegohaz interesting, would that _"bolierplate tool"_ be more interesting not being tied to **Reakit** but rather having it as a _feature_?

Thinking from the point of view that, if you want to make a leaving out of it you'll need to broeaden its user base and tying it to **Reakit** ties it to its userbase ( .i.e I'm interested on this tool but to generate a bolierplate without **Reakit** as I'm

[2018-09-10 15:56] lluia commented on #161
👍  I like the API and idea, as soons as there's always the choice to use this or some other library.

Is there any plan to for example 🌳 shake `Form.Container` in case we ended up using another lib like **Formik** instead?

[2018-09-10 16:01] lluia commented on #164
Not sure if `Page` would be a good name then, maybe something more abstract like `Content` ?

[code]

[2018-09-10 16:15] diegohaz commented on #161
@lluia I think the API will be pretty similar to Formik, so it'll be easy to switch between both.

[2018-09-10 16:17] diegohaz commented on #191
@lluia We'll need to create some UI for some features, so initially it'll be developed only with Reakit, but nothing stops us to build other versions, since it'll be really modular.

[2018-09-10 16:19] lluia commented on #90
I would like to have a try on this, @kevinwolfcr are you still on it?

@diegohaz is there any preferred default layout for it?

As per the links above, I see 2 patterns, the typical **horizontal menu**:
<img width="752" alt="captura de pantalla 2018-09-10 a las 21 39 46" src="https://user-images.githubusercontent.com/5938217/45309854-51d23600-b542-11e8-8b2b-512d05f49984.png">
( _which is not alway

[2018-09-10 18:44] PlayMa256 opened #229 "Create a guideline for typings"
As we are moving towards full `typescript`, would be good to set some guidelines of "best" practices, or at least what we think that is good/readable. This will help during the conversion of all the components to TS and also when new components are created.

I'm leaving as an inspiration, the bare-bone that webpack had created when they started to add types to their codebase, it think that it is s

[2018-09-10 20:37] Thomazella commented on #229
I like the idea of improving the codebase but I'm getting started with TS and jsdoc, so my contribution to the discussion will be mostly motivational :)

[2018-09-10 20:57] diegohaz commented on #90
@lluia I think no one is on this right now, so feel free to take it. 😊

Regarding `vertical`/`horizontal`, we already have some patterns around it. [`Toolbar`](https://reakit.io/components/toolbar), for example, defaults to horizontal layout, but it has a `vertical` prop to change it.

[`Group`](https://reakit.io/components/group) does the same, but it has also a `verticalAt` prop, which turns on

[2018-09-12 13:57] wordofchristian commented on #226
It seems like `uses` is the way to go given that `with` is a reserved word and `compose` is too long.

I like `uses` more than `use` because it seems more declarative while the latter is more imperative.

[2018-09-12 14:44] diegohaz commented on #226
I also agree with `use`/`uses`.

Do you guys think `uses` sounds better even on the method forms?
[code]
vs.
[code]

[2018-09-13 23:59] Thomazella commented on #229
patterns such
[code]
Do we keep it or prefer something more descriptive? `TypedCard` I'd say I prefer the long name.

[2018-09-14 00:02] PlayMa256 commented on #229
+1 for Longer name too. `Typed(Something)`

[2018-09-14 00:29] diegohaz commented on #229
I agree. I didn't think much about this when I was coding it. XD

[2018-09-14 00:34] PlayMa256 commented on #229
I'll edit the main post, to reflect what is being discussed. Then at the end we can create a real guideline

[2018-09-14 10:48] enesTufekci commented on #164
[Reach Router](https://github.com/reach/router) has similar api. Maybe we can consider either use this directly or implement something similar?

[2018-09-15 00:29] Thomazella commented on #229
perhaps something about type x interface?
always export the types from the files its defined in?

[2018-09-17 06:37] diegohaz commented on #226
The more I think about it, the more I like `with` 😄

It seems that React will soon adopt reserved keywords as props, like `class` and `for`, so maybe we don't need to worry too much about using `with` as a prop.
https://github.com/facebook/react/issues/13525

We just can't use `with` as a standalone method.

Now I'm thinking about this API:
[code]

[2018-09-21 00:04] codyaverett opened #245 "Typing Issues with multiple components"
# Bug report

**What is the current behavior?**

In a pure Typescript Project, Button props aren't inferring correctly.

Error output
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Just using the component as documented.

![image](https://user-images.githubusercontent.com/3270702/45852853-b9893d80-bd07-11e8-9a7e-29c9e2339e38.png)

**What is the expected behav

[2018-09-21 01:42] codyaverett commented on #229
If you all didn't already know, @Hotell created some awesome and extremely detailed React + Typescript guides.  I highly recommend giving them a read.
https://medium.com/@martin_hotell

[2018-09-21 03:48] codyaverett commented on #245
From what I have found thus-far it happens for Heading, Card.Fit, and Paragraph as well.  The commonality between these is is that they all expecting me to provide boxProps to the component props. They aren't optional apparently.

Card and Box work fine.

How the typings work in Reakit are a little confusing to me still, so i can't wait to see the results of #229

I'll see what else I can find out

[2018-09-21 05:20] diegohaz commented on #245
Thank you for reporting it, @codyaverett.

I tried to reproduce it with our `test.tsx` without success. I'm gonna try it with another project. How is your tsconfig.json?

[2018-09-21 09:41] #245 closed

[2018-09-21 11:00] diegohaz commented on #245
Should be fixed in `v0.15.2`

[2018-09-21 17:08] codyaverett commented on #245
Perfect! I tested it and it works now!
Thanks for the quick response and help @diegohaz

[2018-09-24 02:56] codyaverett opened #248 "Popup.Container render prop typing ar not being inferred"
# Bug report

**What is the current behavior?**
Popup.Container is not inferring it's render prop types.

![image](https://user-images.githubusercontent.com/3270702/45936370-2f490f80-bf7b-11e8-862d-8dc7c802b3c0.png)

**If the current behavior is a bug, please provide the steps to reproduce.**
Occurs when using the Popup.Container component as documented.

**What is the expected behavior?**
This co

[2018-09-24 03:13] codyaverett opened #249 "Step.Container render prop typings are not being inferred + Wrapped button prop typings"
# Bug report

**What is the current behavior?**
Step.Container is not inferring it's render prop types.

*Similar to #248

![image](https://user-images.githubusercontent.com/3270702/45936556-a8496680-bf7d-11e8-9c35-b8bbe7fd8679.png)

Button not accepting `previous` or `next` props
`[ts] Property 'previous' does not exist on type 'IntrinsicAttributes & Pick<Theme ... `

**If the current behavior is

[2018-09-24 03:26] codyaverett opened #250 "Tabs.Container render prop typings are not being inferred"
# Bug report

**What is the current behavior?**
Tabs.Container is not inferring it's render prop types.

*Similar to #248 and #249

![image](https://user-images.githubusercontent.com/3270702/45936709-4b4eb000-bf7f-11e8-9ffb-e6b8d01296ad.png)

*If the current behavior is a bug, please provide the steps to reproduce.**
Occurs when using the Tabs.Container component as documented.
https://reakit.io/c

[2018-09-24 06:08] renatorib commented on #219
I picked `Group` components, https://github.com/reakit/reakit/pull/251

[2018-09-24 06:23] #250 closed, assigned to nobody

[2018-09-24 21:29] renatorib commented on #229
What about? https://github.com/reakit/reakit/pull/252

[2018-09-25 13:31] PlayMa256 commented on #161
If we compose this + step, we could also create a form wizard, which is very helpful. I had to create one and it was sort of hard at first. It is a common component in websites.

[2018-09-26 01:29] diegohaz opened #254 "Popover hideOnClickOutside onFocus conflict"
# Bug report

**What is the current behavior?**

If `popover.show` is triggered on input focus when Popover has `hideOnClickOutside` prop, it hides right away.

**If the current behavior is a bug, please provide the steps to reproduce.**

https://codesandbox.io/s/ywxw2pok7x

**What is the expected behavior?**

It shouldn't hide.

**Other relevant information:**
reakit version:  0.15.3

[2018-09-26 04:37] renatorib commented on #217
I'm studying how I can do this. I noticed that Tabs have support to left/right when TabsTab are focused. It makes sense for tabs. But steps has a more generic proposal, it does not necessarily have pointers (next/prev) because it is usually used as low level to others components that implement your navigation rules (TabsTab is an example of implementation using `show` method), where and how would

[2018-09-26 04:59] diegohaz commented on #217
I agree that `Step` may be the wrong place to put this keyboard feature. Maybe it should be abstracted into its own component, just like we did with `Portal` (which was inside `Overlay` before) in #169.

But I'd like to see more use cases before doing it (and possibly doing it the wrong way). #242 may be one.

I think it's worth the time as more use cases appear. Most of them should probably be re

[2018-09-26 05:28] renatorib commented on #161
I think submit should receive 2 arguments. `state` and `actions` (need to think about how not to collide the names :smile:) because we will need to pass functions that set, for example, loading indication. It's like FormikBag

[code]

I also think it might be worth creating a structure that is easy to put formik or final-form in, rather than creating an new API. For example, formik does not apply

[2018-09-26 20:15] renatorib commented on #217
I like the idea of KeyboardListener component, and like the idea of global modifier. I just do not know if we should use prop onKeyPress when this is not a real event. Maybe we can use `keyPressMap`, `keyMap`?

[2018-09-27 23:06] #254 closed

[2018-09-28 04:36] diegohaz opened #256 "Select/Dropdown/Autosuggest"
Just opening the issue to put together some links/ideas/suggestions about this/these component(s).

- https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/combobox/aria1.1pattern/listbox-combo.html
- https://www.w3.org/TR/wai-aria-practices-1.1/examples/listbox/listbox-collapsible.html
- https://uxmastery.com/anatomy-of-an-accessible-auto-suggest/
- https://pattern-library.dequ

[2018-09-28 13:27] Thomazella commented on #219
popover and tooltip are now free to take as I'm busy :/

[2018-09-28 16:38] ewgenius commented on #219
Taking Popover in work

[2018-09-28 22:38] diegohaz opened #258 "More component examples"
I'd like to provide more examples of components – specially, but not only, containers – in the docs.

If you have ideas or demands on your project, please leave a comment here. We'll code the most upvoted ones. 👍

[2018-09-28 22:42] diegohaz commented on #258
**Step/Tabs transitions**

When the user goes to the next step, the current step slides to the left and hide, then the next step slides from the right side, like a Carousel.

[2018-09-29 01:03] diegohaz opened #259 "Remove outline for mouse users but preserves it for keyboard users"
Maybe we should add it to `Box`.

https://twitter.com/LeaVerou/status/1045768279753666562?s=19

[2018-09-30 00:14] diegohaz opened #260 "Docs subtitles should have anchors"
Just like on GitHub READMEs, section subtitles should display a symbol (maybe a pink hash) with a link to that part when the title is hovered.

It's already passed to the `h2` as an `id`:

![image](https://user-images.githubusercontent.com/3068563/46251534-5c8a3780-c42b-11e8-8d25-b078dd6e5b9e.png)

I think we should grab that ID and pass it to an anchor instead.

This is the relevant part on the c

[2018-09-30 00:36] diegohaz opened #261 "What most interests you about this library?"
I want to improve the way we describe the lib in our website and README.

Currently, it highlights **interactivity** as the most important thing, and **composability**, **accessibility** and **reliability** as secondary features. But that's pretty much my point of view, things I value of my projects and focused when I was first building this library.

But I'm sure that others will see different th

[2018-09-30 00:50] jxom commented on #261
Accessibility for sure! I feel that accessibility can be easily neglected when building a UI, and having a library like Reakit to help us with accessibility concerns is amazing - and I believe the reliability and composability features follow through and help us build accessible interfaces easier as well!

[2018-10-01 11:37] ewgenius commented on #219
@diegohaz #262 seems to be the last components to update - is there anything else we need to convert?

[2018-10-01 20:37] kraigh commented on #260
I'm learning React and would like to try to help with this, trying to understand how its working and what the best approach is.

So, in Markdown.js you're converting the markdown for each documentation page into JSX on line 104:

`const Markdown = ({ text }) => compiler(text, { overrides, forceBlock: true });`

In the lines above, you create some custom styled components like `const StyledHeading

[2018-10-01 21:05] #219 closed

[2018-10-01 21:10] diegohaz commented on #219
DONE! 🎉

Thank you, guys. I'm gonna review everything to find any missing bugs, cut a release and prepare an announcement for this week or the next.

I'll mention you guys in the newsletter if you don't mind. :)

[2018-10-01 21:11] Thomazella commented on #219
@PlayMa256 @renatorib Done guys! @ewgenius Thanks for your many contributions :)

[2018-10-01 21:11] PlayMa256 commented on #219
Yeeeeee we did itttt

[2018-10-01 21:14] diegohaz commented on #260
You're on the right path, @kraigh.

The #title-id will be passed to your `LinkedHeading` component if you pass `LinkedHeading` instead of `StyledHeading` in the overrides:
https://github.com/reakit/reakit/blob/c831afc53290aa666869f0926ccee3762dc74960/packages/website/src/components/Markdown.js#L96-L101

[2018-10-03 22:37] codyaverett opened #263 ""Unexpected" filter hotkey experience on Reakit's website"
# Bug report

**What is the current behavior?**
On Reakit Website if you hit key `/` the filter input will take focus.  This hinders usage of the Component example playground components.

**If the current behavior is a bug, please provide the steps to reproduce.**
Hit the `/` key anywhere on the site.  It kinda surprised me that we could filter like that on the site, the input focus box didn't exa

[2018-10-03 22:39] Thomazella commented on #263
*facepalm* Thanks cody!

[2018-10-03 22:43] PlayMa256 commented on #263
Thank you for the report! We are going to work on a fix for that!
Thomazella pointed me to where it is happening, I'll open a pr fixing it!

Issued like this are what makes our docs even better!!,

[2018-10-03 22:48] codyaverett commented on #263
Np @Thomazella, I quite like the idea of having hotkeys on the site.
Sounds good! Thanks @PlayMa256 👍

[2018-10-04 11:30] PlayMa256 commented on #229
Also would be good to add that, some components  had a functional component called just `Component`, it is better to put a proper name to it, i.e:

[code]

Turn into:

`const CodeComponent = (props: CodeProps) => ...`

[2018-10-04 17:45] #263 closed

[2018-10-04 19:05] PlayMa256 commented on #229
I guess we are good to have a proper document now. I'll create that!

[2018-10-05 04:02] jpdesigndev commented on #229
Is anyone else having issues with Typescript 3+ and `<Flex wrap />`. There seem to be some incompatibilities I can't overcome.

[2018-10-05 04:03] diegohaz commented on #229
@jpdesigndev Is this happening with `reakit@0.15.5`? Could copy and paste the error message here?

[2018-10-05 04:06] jpdesigndev commented on #229
@diegohaz Yes, see edit ^. Let me know if more context would help.

[2018-10-05 04:09] diegohaz commented on #229
Ok, I identified the problem. Working on a fix. Thanks for reporting it. :)

[2018-10-05 04:11] jpdesigndev commented on #229
Wow, that was fast. I'm brand new to TS. Otherwise, I may be more useful. Thanks for looking into this so quickly.

[2018-10-05 18:48] #229 closed

[2018-10-08 14:40] vinay72 commented on #261
I think ease of Use is a Feature on which one should focus on . UI And UX has a great impact so you also keep that in Mind also.

[2018-10-09 20:09] codyaverett opened #268 "Typings: Group component props not optional as documented"
# Bug report

**What is the current behavior?**
Typings for <Group> component expect `vertical` and `verticalAt` to be defined.

![image](https://user-images.githubusercontent.com/3270702/46695112-3fe0c300-cbd4-11e8-93ff-f51130377522.png)

![image](https://user-images.githubusercontent.com/3270702/46695077-26d81200-cbd4-11e8-8e6d-c9aafcafd2d0.png)

Works if both `vertical` and `verticalAt` are def

[2018-10-09 20:14] diegohaz commented on #268
Thanks for reporting it, Cody. It should be fixed in `v0.15.6`. Could you try it?

[2018-10-09 20:43] #268 closed

[2018-10-10 06:09] codyaverett opened #269 "Provider Component typings/prop-type has no exported member `ReactNodeLike`"
# Bug report

**What is the current behavior?**

Provider.d.ts is causing error to emit during transpilation.

Error emitted by awesome-typescript-loader
[code]

https://github.com/reakit/reakit/blob/master/packages/reakit/src/Provider/Provider.tsx#L24

The above mentioned line emits as `children: PropTypes.Requireable<PropTypes.ReactNodeLike>;` in my local `/node_modules/reakit/ts/Provider/Provid

[2018-10-10 12:24] dennari opened #270 "Improved theming capabilities"
I've been looking around for a React UI library implemented with TypeScript and using styled-components. Reakit fits the bill (nice job!), but there's obviously still a lot to be done.

One of the first things I was missing was configurable but consistent white space. What I mean is that currently the paddings and margins seem to be hardcoded in to the theme. Btw I think it's great that the themin

[2018-10-10 12:48] Thomazella commented on #270
That's a really good suggestion @dennari ! Theming just landed recently and we're going to expand it and improve it :)

[2018-10-10 15:39] diegohaz commented on #270
Thanks for the feedback, @dennari.

This can be easily done in a custom theme:

[code]

Theme abstractions are hard thing. The current [palette](https://github.com/diegohaz/styled-tools#palette) abstraction is the result of two years of experiments (mostly with [styled-theme](https://github.com/diegohaz/styled-theme) and [styled-tools](https://github.com/diegohaz/styled-tools)).

The theme solutio

[2018-10-10 15:45] PlayMa256 commented on #270
Just complementing what haz has said:

What do you think you cannot do with the current theming capabiltiies? And what do you would like to be able to?

[2018-10-10 17:35] codyaverett commented on #269
Thanks for taking a look @diegohaz
Good to hear that you can't reproduce, and I hope it is just me.

I will let you know what I can find out based on your recommendations.

[2018-10-11 12:47] dennari commented on #270
Thanks for getting back so quickly. I definitely agree that theme abstractions are hard to get right.

Looking at @diegohaz's example code and the theming guide, it looks like the theming system itself is more than capable. Probably for me it would've been enough just to have a more complete default theme to build upon. Or an example project which looks great and I could use as a base.

[2018-10-11 12:50] Thomazella commented on #270
We plan on adding one :) `reakit-theme-material` or something like that. For the default one we went full bare-bones though. 🤔 But if you have any problems using it, we can help.

[2018-10-11 12:50] PlayMa256 commented on #270
A more complete is kind of hard to do, since "complete" is subjective for people. What we can do is improve the docs adding a project example on how to theme, where people can run and experiment, specially with codesandbox it can be done so fast.

[2018-10-11 12:57] dennari commented on #270
You guys are fast 😄. Having example projects and additional themes sounds exactly right! I only now looked at the website code and realized I should've done that way earlier as it's a nice example of a complete and polished project.

[2018-10-11 13:42] dennari commented on #270
How should I approach this: let's say I want to have a button with different variants, let's say `minimal` for example. I only need to change the padding. How could I reference a prop of the button in the theme code? Or is this definitely something that is done in the component code itself?

[2018-10-11 14:37] Thomazella commented on #270
[code]

[code]

[2018-10-11 15:44] diegohaz commented on #270
@dennari

You can use interpolated functions like this:
[code]

Or using [styled-tools](https://github.com/diegohaz/styled-tools):
[code]

[2018-10-11 21:39] diegohaz opened #271 "Testing all components"
In #241, we replaced [enzyme](https://github.com/airbnb/enzyme) by [react-testing-library](https://github.com/kentcdodds/react-testing-library) (RTL).

Only a few components were being tested, so we decided to open it for contributions. Whether you're a beginner (with react, open source or tests) or an experienced developer who want to learn RTL by contributing to this project, this is for you. 😄

[2018-10-12 02:16] codyaverett commented on #261
^^UI/UX all the way.

**I can tell that a lot of thought goes into this project.**

**I've been thinking about what to say here for a week.**
**Here are some opinionated words** **(I think I'm right! haha)**

* Reakit simplifies a large majority of my current work projects. :finnadie: :blue_heart:
* I love how Reakit uses [Constate](https://github.com/diegohaz/constate) `I actually found Reakit th

[2018-10-14 02:48] wilomgfx opened #272 "reakit-theme-default/ts/index.d.ts (3,45): Cannot find module 'styled-tools'."
# Bug report

**What is the current behavior?**
If there is a heard reload (force reload from the browser) or create-react-app (with the typescript scripts) hot reloads/reloads the following error appears.

`reakit-theme-default/ts/index.d.ts (3,45): Cannot find module 'styled-tools'.`

Won't go away unless i save inside a typescript file and let it reload it self.

**If the current behavior is a

[2018-10-14 03:00] diegohaz commented on #272
Hi @wilomgfx. Thanks for reporting.

Unfortunately, I couldn't reproduce it. I created a new app using `create-react-app-typescript`, installed the same dependencies and changed `App.tsx` with the following code:
[code]

Ran `yarn start` and hard refreshed the browser. Everything seems to work. Is there any more steps I have to do to reproduce it?

[2018-10-14 03:08] wilomgfx commented on #272
I'm using `allowSyntheticDefaultImports` in `tsconfig.json` if that ever changes something. I also use `styled.` to extend the components provided. I don't know if that changes anything.

[2018-10-14 03:09] PlayMa256 commented on #272
Could you try to put together a small repo/codesandbox?

[2018-10-14 20:34] Thomazella commented on #272
Also could not reproduce. Hard reload is when you hold `shift`?
![screen shot 2018-10-14 at 5 32 32 pm](https://user-images.githubusercontent.com/15015324/46921871-3e017000-cfd7-11e8-8dbd-3e67ab9a3aa0.png)

[2018-10-14 20:41] wilomgfx commented on #272
Hard reload, yep or just a normal one really. It's really strange! As soon as i get home i'll fire a repro repo.

[2018-10-15 14:01] ramiel opened #273 "Open an overlay container based on external props"
# Bug report

**What is the current behavior?**

I want to make an overlay visible or not based on an external props.

**If the current behavior is a bug, please provide the steps to reproduce.**
It's not a bug

**What is the expected behavior?**
Everytime that props in my component changes, the container should show/hide

**Other relevant information:**
reakit version:  0.15.x

[2018-10-15 14:16] PlayMa256 commented on #273
You can accomplish that using the `visible` props on `Overlay` component. You can have a look at this simple example o just put together. https://codesandbox.io/s/rrm2l8xn6p

[2018-10-15 16:17] Grsmto commented on #270
A good pattern for theming is one thing I'm really looking for as well. Like the scaling spacing example you just pasted is something that would help a lot imo.

it seems like you guys are not using abstractions like [Styled System](https://github.com/jxnblk/styled-system) on purpose. It would be really interesting to know why and what are the pros/cons to maybe extract some kind of theming good p

[2018-10-16 00:51] wilomgfx commented on #272
Could repro on codesanbox... but it seems to be happening if i change something inside a `.ts` file. Not sure if it's still related to `reakit` or `CRATS`

I'll port a minimal repo app from my current app asap

[2018-10-16 22:15] diegohaz commented on #258
Feedback by @hnordt:

**More real world examples**

In our home page, we have a simple example of Popover. I think we can make it look more like a real app with Sidebar, Toolbar, Avatar, Heading etc. and show the code of each part in tabs (highlighting the preview area for the current code).

[2018-10-17 01:55] wilomgfx commented on #272
I now also get the error for `Constate` :(

[2018-10-17 08:36] codyaverett commented on #182
What if there was a generic way to handle some of the standard icon libraries?

for example: Semantic-UI supports FontAwesome Icons
https://semantic-ui.com/elements/icon.html

[2018-10-17 13:14] PlayMa256 commented on #182
That would be a "wrapper" for an icon library, making possible to choose which one to use? (idk others, i just know FA too)

[2018-10-19 19:41] gustavo-depaula commented on #271
Tests case 1️⃣and 2️⃣seems like testing implementation details. Are they really necessary (and useful)?

[2018-10-19 19:52] diegohaz commented on #271
@gustavo-depaula I don't think  1️⃣ is testing implementation details.

The user of this library will expect the output element to render all HTML attributes they passed in. This is pretty much testing input/output. I think, though, there should be more effective ways to test that (like, it's not covering all possible html attributes), but it's okay for now.

Regarding  2️⃣, it's useful because we

[2018-10-20 14:29] wilomgfx commented on #272
ok sorry for the delay. Here is my repo

https://github.com/wilomgfx/reakit-issue-272

Seems to be happening after a set amount of time (like 5 mins) or when modifying any `.ts` files... really strange!

[2018-10-22 14:22] ramiel opened #279 "Mismatch props in tabs"
# Bug report

**What is the current behavior?**

The `current` props passed by Tabs.Container to its children is a number. Children accept a string instead. A warning is shown in console

**If the current behavior is a bug, please provide the steps to reproduce.**

Just use tabs

**What is the expected behavior?**

Both types should match and probably the type should be a number

**Other relevant

[2018-10-22 22:41] #226 closed

[2018-10-23 00:15] #279 closed

[2018-10-23 00:16] diegohaz commented on #279
Should be fixed in `v0.15.9`

[2018-10-24 02:55] codyaverett opened #283 "Typescript: Failed compilation reakit unresolved types from 'packages/reakit/src/_utils/types'"
# Bug report

**What is the current behavior?**
Specific Typescript build fails to compile.
Several logs stating `not able to find module 'packages/reakit/src/_utils/types' are thrown.

![image](https://user-images.githubusercontent.com/3270702/47402506-963d1e00-d70b-11e8-855d-6a7ba3ad201f.png)

It compiles just fine in Code sandbox, but when it is exported it throws the above errors on build.

**

[2018-10-24 03:19] diegohaz commented on #283
Thank you for reporting it, @codyaverett. I'm investigating it.

[2018-10-24 03:41] #283 closed

[2018-10-24 03:47] diegohaz commented on #283
Should be fixed in `v0.15.10`. :)

[2018-10-24 03:56] codyaverett commented on #283
Now I'm just getting errors from my own code! 👍 Thanks very much @diegohaz for the lightning quick turnaround on that!

[2018-10-28 22:58] wilomgfx commented on #272
@diegohaz @Thomazella @PlayMa256 anyone :P ?

[2018-10-28 23:14] Thomazella commented on #272
let me clone it!

[2018-10-28 23:49] Thomazella commented on #272
Doesn't make sense to me. I'd guess it's a local thing.
- try using another text editor (not vscode)
- noticed it has an auto reload thing? `nodemon`? could be that.
- try `rm -fr node_modules && yarn`

[2018-10-28 23:55] wilomgfx commented on #272
@Thomazella  ok thanks for trying, i really have no idea why it does that. At first i thought it was a set amount of time, after that i noticed it did it (more?) when modifying only `.ts` files.

1. I have not tried using something else than vscode, i could try webstorm.

2. Where do you see nodemon being used ?

3. I did that numerous times 😢

[2018-10-29 00:04] Thomazella commented on #272
I didn't look, sorry. I just meant "reload thing" lol

try on vscode: `cmd+shift+p` select typescript version, set to workspace.

[2018-10-29 15:35] xuopled commented on #226
It seems not published yet. I can't make it work with `styled-components` v4

[2018-10-29 15:43] PlayMa256 commented on #226
Not yet, it was merged into next not master. Haz is finishing up some final touches until we can release this with all the confidence. Also i'm finishing up a codemod which will automate most of the refactor needed.

[2018-11-02 23:53] Slapbox commented on #205
@diegohaz this is pretty inconvenient because if I want my button to use opacity, that means the menu will be translucent, because the user has to stop hovering the button to use the menu. The other alternative is to have the arrow not line up. I've tried everything to make this work.

[2018-11-03 00:31] diegohaz commented on #205
@Slapbox I don't know if I got what you mean.

Anyways, I'm planning a revisit on Popover for v0.17.0 so you can pass another component as its reference:
[code]

[2018-11-03 00:33] Slapbox commented on #205
If you have a button that's say, `opacity: .3` until hovered, and then it's `opacity: 1`, if the popover is a child of the button it will be `opacity: .3` because the button is not being hovered while the popover is hovered. Does that make sense?

[2018-11-03 00:40] diegohaz commented on #205
If one is a child of another, hovering Popover should also hover the button.

Either way, you can just put them in a common relative parent. See the examples on https://reakit.io/components/popover

[2018-11-06 22:29] thedrew12 opened #286 "Popover is blurry"
# Bug report

**What is the current behavior?**
Sometimes when the popover is open, noticeable in Chrome, it renders css with translate3d as a decimal value `transform: translate3d(-224px,30.53125px,0px);`, which causes the output to look blurry. It seems to look better when the values aren't a decimal point.
I haven't found a way to fix this on my end. From looking at the code, it seems a way to

[2018-11-07 00:30] PlayMa256 commented on #286
Proven to work: https://codesandbox.io/s/vyyqwkm92y

[2018-11-07 00:36] diegohaz commented on #286
I'm not seeing the issue (maybe because of retina display?). Could you guys take a screenshot, please?

It should be easy to fix if the problem is with floating points.

[2018-11-07 04:07] thedrew12 commented on #286
@diegohaz Yeah, I can't reproduce this issue on my retina display, but I can on my external monitors. I'll take a screenshot tomorrow. I'm pretty sure the issue is floating points.

[2018-11-07 11:07] PlayMa256 commented on #286
The only problem is on chrome: http://prntscr.com/lfeo5j

[2018-11-07 12:57] diegohaz commented on #286
I'd say that using `Math.round()` here on both values would fix the issue:
https://github.com/reakit/reakit/blob/7b3a78ebeb2ba9b0d930ae1722a27f88443249a9/packages/reakit/src/Popover/Popover.tsx#L64-L65

I don't have a non retina display here. Could you guys try it? (clone the repo and run `yarn && yarn website`)

[2018-11-07 13:01] PlayMa256 commented on #286
Seems to fix it.
![image](https://user-images.githubusercontent.com/831308/48133010-7e71a800-e27c-11e8-85f2-87a7ceae4c4d.png)

[2018-11-07 21:55] #286 closed

[2018-11-07 22:16] diegohaz commented on #286
Should be fixed in `v0.15.11`. Thanks for reporting @thedrew12

[2018-11-09 20:16] codyaverett commented on #269
Seems to be isolated to that one project. Closing.

[2018-11-09 20:16] #269 closed

[2018-11-10 22:09] diegohaz opened #288 "RFC: Hooks"
UPDATE: Some gists with ideas:

- https://gist.github.com/diegohaz/f0b3b198745e381c37c60f317212d546
- https://gist.github.com/mattfwood/79c8fb52abfeeb71b6de32c53cdf1bca

----

[React hooks](https://reactjs.org/docs/hooks-intro.html) were announced and will be available in React 16.7. I'm opening this issue to talk about a future addition (or maybe an eventual replacement) on Reakit's API.

My init

[2018-11-10 23:28] Thomazella commented on #288
This looks amazing? I'd say the only thing to watch out for is that people using the lib may not want to upgrade to hooks, or how to handle that transition for users. For my use case though, this looks positively great!

[2018-11-14 18:15] mattfwood commented on #288
I think it's definitely possible to follow the same approach as Hooks themselves and offer exports like `useOverlay` as an additional option rather than a replacement. But it would need to be carefully implemented to avoid repetition.

I would be very interested in collaborating on this, @diegohaz. These examples make sense at a glance. I'd be up for going through all the higher order components a

[2018-11-14 18:47] diegohaz commented on #288
If we are going to export both hooks and components, I think we should definitely create components using hooks underneath.

That would be really useful! Before implementing it, we should make sure we have a consistent API that  not only covers the current use cases, but can possibly be extended to possibilities that we don't cover today.

One example is using `Popover` with `Portal`, which isn't

[2018-11-16 15:32] mattfwood commented on #288
@diegohaz I made a quick gist with an overview of all the components that use render props and would be good candidates for hooks:

https://gist.github.com/mattfwood/79c8fb52abfeeb71b6de32c53cdf1bca

The proposed "new" examples aren't meant to be a final suggestion in any way, it's just a generic example.

Also I agree that if the intent is to export both, it would be preferred to create the compo

[2018-11-16 15:50] ConneXNL opened #289 "All custom styles get overwritten with 'unset'"
Using the beta version of reakit (didn't test normal version as I am already on SC 4.)

Doing
[code]

produces:

[code]

I am not sure where these 'unset' properties come from but they take presence over my custom styles.

[code]
does work.

[2018-11-16 16:13] diegohaz commented on #289
Thanks for reporting it @ConneXNL. The unset styles come from `Box`. I'll investigate it.

[2018-11-16 19:53] diegohaz commented on #289
Hmm, I couldn't reproduce it: https://codesandbox.io/s/m4zj3o5q6p

Could you please provide a sandbox/repo with a reproduction?

[2018-11-19 06:18] diegohaz commented on #288
@mattfwood That `useFormInput` example is pretty much what I'm aiming for.

I like that you only converted containers into hooks in your gist. That's something we should definitely do even if hooks don't work for other things.

But I wanted to go further and see if it's possible to replace all components by hooks. I put some examples that I had on my mind here: https://gist.github.com/diegohaz/f0b

[2018-11-19 10:58] ConneXNL commented on #289
I upgraded to SC 4.1.* (I was at 4.0.*).
This seems to have resolved the issue.

I am closing this comment as it might be a SC issue rather then a reakit issue.

[2018-11-19 10:58] #289 closed

[2018-11-19 21:45] Andarist commented on #288
Just my 2 cents - I was experimenting with hooks a little bit, looking also through many implementations in the wild and I came to conclusion that for ref-related hooks it's best to force people giving a ref to a library. It just seems like it composes best. Example:
[code]

[2018-11-20 02:16] diegohaz commented on #288
@Andarist the alternative API would be this, right?
[code]

Are you aware of any downside besides having to compose the refs somehow? I guess that, since more refs are being created, this could affect performance, but I would be really surprised if the impact were significant.

[2018-11-20 10:42] Andarist commented on #288
No - I'm not aware of any perf-related downsides to your solution (other than the hooks list gets longer with each ref per component, but it's probably insignificant).

I just think that my proposed way of doing things composes better, because... you dont have to compose in any special way 😅 Just pass an argument and you are ready to go. It also allows passing a ref received from prop directly to

[2018-11-22 14:09] lluia commented on #271
I'm happy to write a few more tests, I could initially do for 👍🏻
- `Button`
- `Code`
- `Divider`
- `Field`

[2018-11-22 14:14] PlayMa256 commented on #271
its yours!

[2018-11-22 14:42] wilomgfx commented on #272
seems like setting the typescript version to workspace fixes it... kinda strange! But it fixes it. I'll close this one.

[2018-11-22 14:42] #272 closed

[2018-11-22 14:50] amogower commented on #271
Keen to contribute, happy to take a look at:
- Overlay
- Popover
- Portal
- Tabs

[2018-11-22 14:52] PlayMa256 commented on #271
@amogower go for it!

[2018-11-24 09:17] #54 closed

[2018-11-24 09:18] diegohaz commented on #54
Implemented in `v0.16.0-beta`

[2018-11-25 13:59] ghostika opened #293 "Getting a reference to the element"
# Bug report

**What is the current behavior?**
Using `innerRef` on a Reakit component generates a warning:
`Stateless function components cannot be given refs. Attempts to access this ref will fail.`

Using `ref` on a Reakit component will return a StyledComponent wrapper, not a ref to the original element.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**Wh

[2018-11-25 22:53] diegohaz commented on #293
Hi @ghostika. Try to use `elementRef` instead.

[2018-11-25 22:55] ghostika commented on #293
@diegohaz Perfect, thanks, it worked. Is this somewhere documented?

[2018-11-25 22:58] diegohaz commented on #293
Awesome! It's not documented yet.

[2018-11-25 22:58] #293 closed

[2018-11-26 18:01] lluia commented on #271
I'm happy to write tests for 4 more:
- `Flex`
- `Grid`
- `Group`
- `Heading`

[2018-11-26 18:06] PlayMa256 commented on #271
done @lluia

[2018-11-28 17:39] jacobwgillespie opened #296 "Website broken in Chrome when Redux DevTools extension enabled"
The https://reakit.io website is a blank white page in Chrome when the [Redux DevTools extension](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd) is enabled, due to an error mounting the React app.

The errors are:

[code]

Disabling the Redux DevTools extension causes the site to appear again.

I'm using Chrome 70.0.3538.110 and the Redux DevTools extens

[2018-11-28 21:01] diegohaz commented on #296
Thank you for reporting it @jacobwgillespie. I'm investigating it.

[2018-11-28 21:07] #296 closed

[2018-11-28 21:08] diegohaz commented on #296
It seems to be a bug in redux devtools extension (related https://github.com/zalmoxisus/redux-devtools-extension/issues/591)

I just disabled devtools for now.

[2018-11-28 22:01] jacobwgillespie commented on #296
Thank you!  It appears that Redux DevTools v2.16.3 was also released which fixes this issue, in case you want to add back `devtools` in the future.

[2018-11-29 12:33] amogower commented on #271
Happy to take on a few more:

- Sidebar
- Table
- Toolbar
- Tooltip

[2018-11-29 12:38] PlayMa256 commented on #271
its yours @amogower

[2018-12-03 19:30] tizzle opened #307 "Popover classes going wild, when parent is set to display:none"
# Bug report

**What is the current behavior?**
When is set a parent element of the Popover.Container to `display:none` reakit changes the classname of the Popover constantly when scrolling.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Go to the [Popover example](https://reakit.io/components/popover) on the reakit website.
2. Scroll to the second example, click

[2018-12-04 21:35] diegohaz commented on #307
Thank you for reporting it @tizzle. I'm investigating it.

[2018-12-05 11:49] tizzle commented on #307
Thanks @diegohaz,

i think this is due to the event handlers checking if the Popover is within bounds of the browser window to flip it if necessary. Let me know if you need any more information.

[2018-12-05 17:56] #307 closed

[2018-12-05 18:34] diegohaz commented on #307
Should be fixed in `v0.15.12`

[2018-12-06 13:11] lluia commented on #271
I'm happy to take the next four 🎊 💪
- `Image`
- `Inline`
- `InlineBlock`
- `InlineFlex`

[2018-12-07 03:14] diegohaz commented on #271
Done @lluia (you can edit the post too 😁)

[2018-12-09 22:35] lluia commented on #256
I raise my hand for this one if it's still relevant 🙋🏻‍♂️

[2018-12-10 05:53] diegohaz commented on #256
@lluia It is. But I think the API should be discussed more. I've been drafting some ideas for [Dropdown Select](https://gist.github.com/diegohaz/f0b3b198745e381c37c60f317212d546#file-dropdown-jsx), [Dropdown Input (combobox)](https://gist.github.com/diegohaz/f0b3b198745e381c37c60f317212d546#file-dropdowneditable-jsx) and [Dropdown Multi Input](https://gist.github.com/diegohaz/f0b3b198745e381c37c60

[2018-12-10 10:52] lluia commented on #271
I'll take the last two:
- `Card`
- `Paragraph`

[2018-12-11 14:23] mrpsiho opened #314 "A bug related to styled-component dependency"
# Bug report

I have got this error:

[code]

and also this warning:

[code]

**Other relevant information:**
reakit version:  0.15.12

[2018-12-12 14:58] mrpsiho commented on #314
Ok, after trying virtually anything is possible I have found that adding this code to my webpack config breaks 'styled-components' package specifically:

[code]

So, it is not Reakit bug, but something with 'styled-components'

[2018-12-16 13:25] jxom opened #316 ""types" key in proxy packages is bugged"
# Bug report

**What is the current behavior?**

Seems like the compiled proxies "types" path point to @diegohaz's machine. :P

Example:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

I guess it should point to the respective type def file, right?

[code]

I'll probs open a PR for this tomorrow - it's getting close to midn

[2018-12-16 16:03] diegohaz commented on #316
Good catch! Sorry about that haha

[2018-12-17 11:23] #316 closed

[2018-12-17 17:18] #314 closed

[2018-12-19 13:22] ConneXNL opened #318 "[Feature Request] Portal support for popover/tooltip"
## Feature request
Popover and Tooltip should be rendered in a portal (by default?). In almost all the cases you want your tooltips and other overlays to be on top of everything else.

**What is motivation or use case for adding/changing the behavior?**
Currently, you run into z-index / overflow issues. Libraries like popper fix this (which is also used in reakit), its power is just isn't leverage

[2018-12-19 14:01] diegohaz commented on #318
Thank you @ConneXNL. This is a planned feature. We just need to figure out how to get the reference element in Popover/Tooltip. Currently, it's using `findDOMNode` to get the parent element, but it doesn't work with portals.

This is my initial thought:
[code]

[2018-12-19 14:34] xuopled opened #319 "Reakit + styled-system = weird behavior"
# Bug report

Hello, I'm trying ti use styled-system with the last reakit version but I can't make everything work.
Maybe I'm doing something wrond. In that case, please help me understand my mistake .

**What is the current behavior?**

The generated css is weird and unwanted style prop is attached to dom element.
The font size don't use the theme scale

**If the current behavior is a bug, please

[2018-12-24 07:17] ilbrigz opened #320 "Responsive Style Props"
Is there a way to make use of responsive style props? How about media queries? Can they be added as props too?

[2018-12-25 03:46] ilbrigz opened #321 "Warning: Received `true` for a non-boolean attribute `wrap`."
# Bug report

**What is the current behavior?**
<Flex> or <InlineFlex> throwing that error when wrap is added as props. But it does work though. Just the error.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
reakit version:

[2018-12-30 23:32] diegohaz commented on #320
There's no built-in feature. You should handle it by yourself for now. We can add such a thing in the future, but we'll need to discuss and experiment some things before.

Thanks for the question.

[2018-12-30 23:36] diegohaz commented on #319
Hi @xuopled. Thanks for reporting it.

I've never used styled-system. If you can't change the props names to something other than css props, it'll not work with Reakit, since it transforms css props into inline styles.

[2018-12-30 23:36] #319 closed

[2019-01-04 11:36] biowaffeln commented on #320
This bothered me as well, handling responsive styles manually is pretty annoying. I really love the way that [styled-system](https://github.com/jxnblk/styled-system) handles responsive props, something like this for reakit would be awesome!

[2019-01-04 13:23] diegohaz commented on #320
We can think about dropping the inline style sugar to support styled-system. Personally, I don't like their API. Things like `p={[1, 2, 3]}` mean more to robots than to humans. It's hard to figure out without reading the specific docs.

But abstracting this is a very tough job. And that's probably the best we have so far.

[2019-01-04 13:36] diegohaz commented on #288
Just an update:

I've been experimenting around some APIs (applying them to my private projects). For now, I can say that It's not possible to have everything as hooks. We need components. But we can expose both. People building component libraries could take advantage of `usePopover`, while people using Reakit directly on their apps could use `<Popover />`.

`<Popover />` would implement `usePopo

[2019-01-04 14:07] jxom commented on #288
That would be fantastic @diegohaz!

[2019-01-06 01:37] mattfwood commented on #256
@lluia have you had any luck with this? I’d definitely be up for helping out, I enjoy Reakit a lot but frequently finding myself wanting a more robust select drop down that’s also accessible.

I think @diegohaz’s idea with hooks looks solid. But if we’re looking for a model for a dropdown using components, I really like Ryan Florence’s approach with his MenuButton in reach-ui:

https://github.com/

[2019-01-08 09:12] lluia commented on #256
@mattfwood go ahead, I finally didn't find the moment to address this during Christmas 👍🏻

Regarding the API, @diegohaz @mattfwood, I think to expose both Hooks and a Component make sense to me:

- Component API reads more clean to me
- Hooks are cool to compose or built something on top of them

We could write most of it as a hook/s and for the component just expose a thin wrapper?
[code]

[2019-01-16 08:36] lluia commented on #320
How about exposing a breakpoint utility, similar to [this API](https://github.com/flexdinesh/react-socks) but maybe more low-key and that reads directly from `props.theme.breakpoints` 🤷🏻‍♂️
[code]

I see `media-queries` often used to hide stuff according to the viewport size. When using React I think not rendering is better on these scenarios to keep the VDOM trees smaller.

[2019-01-27 00:33] benediktvaldez commented on #321
@diegohaz I'm seeing a similar problem with the `Button` component, when I add the `disabled` prop I get this error: `Warning: Received 'true' for a non-boolean attribute 'opaque'.`

I'm using v`0.16.0-beta.2`.

Should this also be fixed in 0.16 or is it just a similar yet unfixed bug?

[2019-01-30 03:26] joserocha3 opened #323 "Keeping `css` prop functionality?"
Hi, this is more of a question but I was not sure where else to ask. I was using rebass and am switching over reakit (props to Haz for that). rebass allows the use of the `css` prop along with `css` import from `styled-components/macro`. So the `Container` component below works with rebass and reakit@**next**, but not with the current `master` branch of reakit.

**Question**
Are you planning on ke

[2019-01-30 16:56] diegohaz commented on #323
Hey @joserocha3. Current master only works with `styled-components` v3. Reakit v0.16, which supports SC4, is still in beta and will be officially released soon (and merged into master). I'm working on it.

[2019-01-30 16:56] #323 closed

[2019-02-03 21:31] Slapbox commented on #11
@diegohaz that link doesn't go anywhere. Is there a newer link?

[2019-02-05 19:14] codyaverett commented on #180
@diegohaz I have an issue related to this.

Trying to use `jest-styled-components` to get better feedback on snapshot tests, but it doesn't play well with Reakit in my CRA project.

Since I'm using `styled` through reakit I don't have styled components as a direct dependency in my app and `jest-styled-components` breaks when referenced.

e.g.     ```Cannot find module 'styled-components' from 'uti

[2019-02-05 19:32] diegohaz commented on #180
@codyaverett Could you install styled-components and run the following commands?
[code]

[2019-02-05 21:41] diegohaz commented on #180
Alright. You have two different versions of sc, v3 and v4. Reakit v0.15 only supports v3 (v0.16 supports v4, but it's still in beta).

I guess you should `npm install styled-components@3.4.10` to fix the issue.

[2019-02-05 21:49] codyaverett commented on #180
Good point, I didn't think about that!
Thanks for the help @diegohaz

[2019-02-09 22:00] madiodio opened #327 "Sorry about the good-first-issues label removal"
Hi there @diegohaz. I just noticed that the all the good-first-issue labels are removed by my account (let a toddler too closed to my laptop 😢). So if you see these removal, they were not intentional and I'm really sorry about that. And seems like there is no way to undo that.

Again I'm really sorry and closing this issue.

[2019-02-09 22:00] #327 closed

[2019-02-09 22:39] diegohaz commented on #327
No worries. I think I wouldn't notice it anyway 😅

[2019-02-26 19:22] merriam commented on #258
It would be grand if we had a place to put CodePen or equivalent links for the examples.  Even looking at the first pages (Composition), I find it difficult to run the examples.

- The snippets are evocative and concise, which is what I want if I grok the fundamental usage.  Until then, I need to see the `<Provider theme={theme}>` tag, which would be shown in a running CodePen example.
- Its uncle

[2019-03-03 19:52] Slapbox commented on #217
Any progress on this issue? I figured it would be really easy to implement with `react-hotkeys`, but it's actually not easy at all, to my surprise.

[2019-03-03 19:57] Slapbox opened #330 "Flash of unstyled everything with 0.16.0"
# Bug report

**What is the current behavior?**

In just on section of my app that relies on `Box` elements in a CSS grid, I get a flash of unstyled text, components, everything, before things show properly.

**If the current behavior is a bug, please provide the steps to reproduce.**

Unknown at this time how to reproduce. Maybe related to CSS grid. Not expecting a resolution at this time, just w

[2019-03-03 22:33] Slapbox commented on #270
Is there any more reading on how to use `styled-tool`'s `palette`?

It makes absolutely no sense to me at all to define an array of unlabeled colors instead of a single color. Can anyone shed some light on that?

[2019-03-03 23:23] diegohaz commented on #270
@Slapbox
The best documentation is on `styled-tools`' README: https://github.com/diegohaz/styled-tools#palette

The array is for shades. If it were labeled, it would be something like this:

[code]

Using array scales better in my opinion, but you can use labels as well if you prefer.

[2019-03-04 00:40] Slapbox commented on #270
@diegohaz thanks a lot for that! It makes a bit of sense why you'd prefer the array method now after taking a somewhat long look at the example. I think the benefit isn't obvious at first glance due to the fact that the color values aren't visible as colors, and the otherwise innocuous array usage examples add to the confusion in this weird case.

This is what made the benefit obvious,
![image](ht

[2019-03-06 18:03] joshball commented on #180
Hey @diegohaz ,

First, thank you for your insightful article on the [Single Element Patter](https://medium.freecodecamp.org/introducing-the-single-element-pattern-dfbd2c295c5d)n and creating this library. I am quite new to **_front-end_** development, so I find it intriguing how you all are managing and creating patterns around this space.

At any rate, I am using [`Fannypack`](https://fannypack.

[2019-03-07 14:37] diegohaz commented on #180
Hey @joshball. Thank you for the feedback.

Could you please run `yarn why styled-components` (or an equivalent command on npm) on your project? It's gonna show the versions of the package and why it's installed (which packages depend on it).

Since we're depending on `^4.0.0`, the version should be resolved to whatever the user has installed as long as it is 4.x.x. It doesn't always work as inten

[2019-03-08 17:24] joshball commented on #180
Hey @diegohaz sorry for the delay:
[code]
Sounds good on the removal for v1. Out of curiosity, Is there a set of features or a timeline for v1 somewhere? It might be fun to help if I can.
Thanks again.

[2019-03-08 17:33] diegohaz commented on #180
@joshball It seems that you have only one instance of styled-components. Does the problem persist?

About v1, I'm kind of rushing and experimenting things. [I tweeted about the main goals](https://twitter.com/diegohaz/status/1095013094579990529) to get some feedback. You can see some work in progress on the [next branch](https://github.com/reakit/reakit/tree/next). I'm gonna open a detailed issue

[2019-03-12 13:46] mattfwood commented on #330
Would you mind posting your `package.json` and possibly the source code to reproduce?

I ran into a similar bug a while ago and it was due to a conflict between my personal `styled-components` version and the `reakit` version.

Reakit will need to be at least version `0.16.0` to use styled-components V4.

[2019-03-12 13:51] mattfwood commented on #320
@lluia I agree that a utility like this would help avoid cluttering up the API and creating messy props.

I've been using Reakit in combination with this hook to great success:
https://github.com/palmerhq/the-platform/blob/master/src/useMedia.tsx

Examples:
[code]

[code]

[2019-03-13 19:07] Slapbox commented on #330
I can't share much, but I'm not using `styled-components` outside of `reakit.` I think I may be using `emotion` somewhere, which uses `styled-components` I believe. I don't think the flash of unstyled is related to that, but perhaps.

**From my `yarn.lock`**
[code]

[2019-03-13 23:51] mattfwood commented on #330
Hmm. The styled-components version and Reakit version look like they should match up, are you using some kind of server-side rendering such as NextJS?

[2019-03-14 13:53] luizcieslak opened #337 "Toolbar.Focusable failed test with RTL and Jest"
# Bug report

**What is the current behavior?**

Can't create the renderer tree to make tests.

Error log:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Test file:
[code]

**What is the expected behavior?**

It should create the `tree` in order to able unit testing.

**Other relevant information:**
[code]

[2019-03-14 17:12] diegohaz commented on #337
Hi @luizcieslak

Could you please run `yarn why jsdom` (or an npm equivalent)?

[2019-03-14 17:29] luizcieslak commented on #337
sure!

[code]

by the way, I'm using gatsby and was reproduced this [unit testing guide](https://www.gatsbyjs.org/docs/unit-testing/)

[2019-03-14 17:38] diegohaz commented on #337
Hmm, according to https://github.com/jsdom/jsdom/issues/1555#issuecomment-413995713, it seems that support for `Element.prototype.closest` was added in `v11.12.0` (which is the one you have installed).

I'd try to upgrade `jsdom` just in case. You can either use [`jest-environment-jsdom-thirteen`](https://github.com/theneva/jest-environment-jsdom-thirteen) or `yarn resolutions`:
[code]

[2019-03-14 18:45] luizcieslak commented on #337
same error :/

[code]

Could you reproduce the error? Idk if it is something specific to this project.

[2019-03-14 18:49] diegohaz commented on #337
I can't. We also have [tests](https://github.com/reakit/reakit/blob/master/packages/reakit/src/Toolbar/__tests__/ToolbarFocusable-test.tsx) on this component and everything works fine.

[2019-03-15 07:24] jeremija opened #338 "Unable to component props in a TypeScript project"
# Bug report

Hello and thank you for this wonderful and easy to use project! I ran into compilation issues when trying to use it in a Typescript project. I did my best to extract only the relevant code below.

**What is the current behavior?**
I can use the components normally, but as soon as I define a component property, TypeScript compilation fails. It looks like all components are affected, b

[2019-03-15 07:27] jeremija commented on #330
I believe I encountered a similar issue. I'm using React's `renderToNodeStream` on the server-side. Is this supported?

[2019-03-15 13:28] diegohaz commented on #338
Hi @jeremija

Try to `npm install @types/styled-components`

[2019-03-15 15:32] jeremija commented on #338
Thanks, that was it! Would it be possible to bundle these definitions with reakit somehow? Alternatively, it could be mentioned in `docs/get-started.md` to prevent others from running into the same issue.

[2019-03-15 15:32] #338 closed

[2019-03-15 15:51] diegohaz commented on #338
Yeah, some people have run into that too. I think we should add a note to docs. Would you like to do that?

[2019-03-15 16:29] jeremija commented on #338
Thanks for the invite @diegohaz. Glad I was able to help!

I have one more question regarding Reakit and TypeScript. Since I haven't used `styled-components` before, I noticed the TS compilation time increase drastically now that compilation succeeds. In the simple example I provided, it jumped from being instant without Reakit to about 5s with Reakit. On the project I'm working on it jumped from

[2019-03-15 18:03] diegohaz commented on #338
We use lots of complex types from `@types/react`. I don't know if that's causing that problem, but there should be something we can do about it.

[2019-03-23 16:13] Slapbox commented on #330
Nope no server side rendering, just locally rendered React. It's not the end of the world this bug. People may only see this outside of their browser in an Electron environment (or with server side rendering as @jeremija mentioned.)

[2019-03-25 07:39] yazpid opened #341 "Reakit test snapshot"
Hello

Could you tell me how you deal with updating snapshots without changing name hash? I'm tried to use `jest-styled-components` but it is not working for me. Is it something similar tool for reakit ?

[2019-03-25 14:44] diegohaz commented on #341
I guess you need babel-plugin-styled-components.

[2019-03-25 14:44] #341 closed

[2019-03-27 12:44] yazpid commented on #341
@diegohaz I'm tried configure `babel-plugin-styled-components` but then in snapshots I have the same result (without css class with name like `c0`, `c1`)

[2019-03-28 21:25] Slapbox opened #343 "Is babel-plugin-styled-components recommended?"
I know Reakit uses styled-components, I was wondering if it's recommended to use the `babel-plugin-styled-components` plugin in our Babel configs?

[2019-03-28 21:29] diegohaz commented on #343
@Slapbox The recommendations are the same as when using styled-components only: support for server side rendering, minification of styles and/or better debugging experience.

[2019-03-28 21:29] #343 closed

[2019-03-29 16:37] onluiz commented on #261
It is easy to customize and avoids the need of creating a new library or to modify current project structure to adapt.

It is perfect to apply design systems too.

[2019-04-02 19:38] kolengri opened #344 "Perfomance issue with @types/styled-components"
I like to use reakit with typescript, but I am faced with a performance problem.
if I install the package @types/styled-components, then the project and typechecking starts working extremely slowly.

**If the current behavior is a bug, please provide the steps to reproduce.**
I created the repository for you, where you can check it
https://github.com/kolengri/reakit-perfomance-issue

[code]

and t

[2019-04-02 19:49] diegohaz commented on #344
Thanks for the reproduction @kolengri. That's a huge difference.

I'm not sure if it's our types (maybe [reuse](https://github.com/diegohaz/reuse/blob/master/src/use.tsx) types) or the [styled-components](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/styled-components/index.d.ts) ones, which are pretty complex.

[2019-04-02 20:04] kolengri commented on #344
I think it's definitely. I've tried to remove reuse types.
With complex project it's going to be worst :( 3s vs >120s

[2019-04-02 21:23] diegohaz commented on #344
That's unfortunate.

The good news is that the dependency on styled-components has been removed in Reakit v1. I'll publish an alpha version this week (the official release will take a month or so though).

[2019-04-03 22:03] diegohaz opened #345 "Reakit v1 roadmap"
Hi guys,

Since last year I've been experimenting with different implementations and APIs for Reakit v1. I just published an alpha version that can be installed via `npm install reakit@next` and put together [this sandbox](https://codesandbox.io/s/8q9n7o0y8) so people can play with it.

Docs are far from being ready, but you can access pages like https://next.reakit.io/docs/popover, which have som

[2019-04-04 00:32] leonardoelias commented on #345
Nice work! I'm really very excited.
I can pick up some tasks.
- [ ]  Design home page
- [ ]  Design docs page
- [ ]  Design playground

[2019-04-04 00:59] diegohaz commented on #345
Awesome @leonardoelias. Thank you so much ❤️

I have some thoughts and requirements for those pages. I'm gonna update the issue with them tomorrow.

[2019-04-04 06:17] StorytellerCZ commented on #345
Migration guide would be nice too.

[2019-04-04 13:57] diegohaz commented on #345
@StorytellerCZ Forgot to include it in the roadmap. Done.

[2019-04-04 14:18] diegohaz commented on #345
@leonardoelias Updated the issue with requirements and some drawings.

[2019-04-04 15:20] Naggertooth opened #346 "Can I open 2 or more overlays: one before another?"
## Feature request

**What is the expected behavior?**
I still didn't use your toolkit
And I asked a question to myself:
Can I open 2 or more overlays: one before another?
And when I'll close one - that overlay which was before those overlay will be still there.

**What is motivation or use case for adding/changing the behavior?**
My question

**Are you willing to work on this yourself?**
yes

PS

[2019-04-04 15:44] diegohaz commented on #346
Yes, it's possible. Whether it will close all overlays or only the top level one depends on what the user does.

- ESC: `v0` will close all overlays since the event handler is attached to the document; `v1` will close only the dialog which has focus within.

- Click outside: will close all dialogs if the click is outside all dialogs; will close only the top level dialog if the click is outside it,

[2019-04-04 15:44] #346 closed

[2019-04-04 15:45] diegohaz commented on #346
`v0` Overlay playground: https://reakit.io/components/overlay
`v1` Dialog playground (alpha): https://next.reakit.io/docs/dialog

[2019-04-04 16:20] lluia commented on #345
I wow, exciting!! I probably will help with some tasks too; I'll let you know soon 👍

[2019-04-04 20:24] leonardoelias commented on #345
Nice @diegohaz!
I'm going to work the weekend, and I'll introduce you to a wireframe.

[2019-04-05 08:52] lluia commented on #345
I'll try to continue/finish the accessibility stuff for the PR I made for [`<Menu />`](https://github.com/reakit/reakit/pull/290) 👍🏻

[2019-04-05 13:17] StorytellerCZ commented on #345
@lluia Take a look on Reach menu: https://ui.reach.tech/menu-button

[2019-04-05 18:06] diegohaz commented on #345
Maybe it's not worth it working on that PR since we already have an accessible Menu in v1 (https://next.reakit.io/docs/menu). Although It needs to be improved as I mentioned in the roadmap.

Unless we want to have Menu in v0. Then it's better to use that PR.

[2019-04-07 11:49] lluia commented on #345
@diegohaz ah I didn't realise we already have a `<Menu />` component in **v1**, should we close my PR then?

[2019-04-11 08:26] ramiel opened #347 "Role "row" for Grid"
## Feature request

**What is the expected behavior?**
The grid Items has a role="cell". This role must be nested under the role `row` (as explained [here](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Cell_Role). Grid should correctly wrap or remove the "cell" role

**What is motivation or use case for adding/changing the behavior?**
Stick to a specification

**Are you wil

[2019-04-11 18:45] diegohaz commented on #161
Closing as this has been added in v1.

[2019-04-11 18:45] #161 closed

[2019-04-11 18:45] diegohaz commented on #90
Closing as this has been added in v1.

[2019-04-11 18:45] #90 closed

[2019-04-11 18:47] diegohaz commented on #180
Closing since styled-components dependency has been removed in v1.
Refer to #345

[2019-04-11 18:47] #180 closed

[2019-04-11 18:48] #271 closed

[2019-04-11 18:48] diegohaz commented on #288
Closing in favor of #345

[2019-04-11 18:48] #288 closed

[2019-04-11 18:50] diegohaz commented on #318
Closing since popovers and tooltips are rendered in portals by default in v1.

[2019-04-11 18:50] #318 closed

[2019-04-11 18:53] diegohaz commented on #261
Thank you guys. These feedbacks helped us choose better the direction of the library for v1.

[2019-04-11 18:53] #261 closed

[2019-04-11 19:50] mattfwood commented on #345
@diegohaz I'd definitely be interested in contributing to:

- [ ] Write prop descriptions
- [ ] Write docs

I know docs obviously involves a lot, but once there's an issue for the new docs I can pick up several components to write docs for.

[2019-04-21 23:33] Slapbox opened #348 "Can't style Links, even with ~important"
# Bug report

Styles are all `unset` and the styled I passed in, I can't even find a reference to them on the page.

**If the current behavior is a bug, please provide the steps to reproduce.**

**This does not result in styled output for me.**
[code]

**What is the expected behavior?**

Styles

**Other relevant information:**
reakit version:  0.16.0

[2019-04-21 23:34] Slapbox commented on #348
The only rule that seems to appear on the page is my `color` rule.

![image](https://user-images.githubusercontent.com/6835891/56476864-785b3680-646c-11e9-8924-5b42dd1ad6a5.png)

[2019-04-21 23:37] Slapbox commented on #348
Fucking Webpack...

[2019-04-21 23:37] #348 closed

[2019-05-01 08:47] sara-dubois opened #349 "Benefits of inline styling"
First of all - this is neither a bug report, a feature request or any critique.

I've enjoyed Reakit very much and the [Inline styling](https://reakit.io/guide/styling) concept has proved to be excellent ergonomics when fastly building up a UI.

But apart from the subjective liking of this way of styling, are there other benefits worth knowing about?

Again, this is not critique in any way - only

[2019-05-01 21:54] diegohaz commented on #349
Hey sara.

Some benefits I can think of:

- Faster prototyping.
- It has the highest specificity in the cascade (you can only override it with `!important`).
- It's great for critical CSS (you don't need to wait for external CSS files to be ready).
- It's great for styles that change often (like a few times per second).

That said, I only recommend it for prototyping.

[2019-05-01 21:54] #349 closed

[2019-05-11 11:26] ConneXNL commented on #345
I am looking at @next, wondering how one would implement the fade / slide/ animated features of reactkit's Overlay pre 1.?

Is there a new component that is handling this?

[2019-05-11 16:47] diegohaz commented on #345
@ConneXNL There will be a `hasTransition` prop in the next alpha/beta version. Transitions can be implemented by the user via CSS (most of them are pretty simple), or we can build it in a system.

[2019-05-12 08:41] ConneXNL commented on #345
@diegohaz Good to know. I was personally struggling with animating out and how to manage that the object stays a little longer to show the hide animation. Using styled components (CSS) to set the transitions seems fine. Outside of reakit I leverage transition groups for these kind of things but I am not sure what the best practice is when using them with reakit.

[2019-05-12 16:31] diegohaz commented on #345
@ConneXNL It's released in `reakit@1.0.0-alpha.4`: https://next.reakit.io/docs/hidden/

![image](https://user-images.githubusercontent.com/3068563/57585129-36953d00-74ba-11e9-9377-f8e0d36071dc.png)

[2019-05-13 06:44] diegohaz opened #350 "Migrating from v0 to v1"
# Migrating from v0 to v1

A beta version of Reakit v1 will be released this week. So I think it's time to start writing a migration guide. I was writing it in a .md file, but I think it's better to live in the issues so people can comment and ask questions more easily.

This is intended to be a living document. I'm going to update it over time, and I hope it's finished by the time v1 comes out of

[2019-05-13 06:46] diegohaz commented on #260
Done in https://next.reakit.io

[2019-05-13 06:46] #260 closed

[2019-05-13 06:47] #191 closed

[2019-05-13 06:48] #164 closed

[2019-05-13 06:51] diegohaz commented on #344
Closing this as styled-components is not a dependency anymore (v1) and it seems there's only much we can do about this on v0 as the problem seems to live on styled-components types.

[2019-05-13 06:51] #344 closed

[2019-05-14 14:16] diegohaz opened #351 "Website improvements"
- [x] Search with [Algolia](https://www.algolia.com/) (assigned to @lluia )

- [ ] Better design on the bottom part of the home page

- [x] Previous/next links on documentation for better navigation (done by @k-sav in #375)

- [ ] Disable focus on read-only code blocks (suggested by @darekkay in https://github.com/reakit/reakit/issues/351#issuecomment-492394435)

- [ ] Fix `og:url` metatags for in

[2019-05-14 16:24] lluia opened #352 "V1 API"
**V1** looks cool, congrats @diegohaz! 🎊 💪🏻

Looking at the docs, I'm wondering if it doesn't end too verbose 🤔

I believe now you need to import the component and its corresponding hook to get it to work?

[code]
Rather than just doing one or the other?
[code]

[2019-05-14 16:36] diegohaz commented on #352
Hey @lluia. That's a tradeoff. But that's how Reakit has always been since `v0.1.0`. The only difference now is that instead of [`<Tabs.Container>`](https://v0.reakit.io/components/tabs) you will use `useTabState`.

The alternative would be using React Context underneath to avoid the need of state hooks and passing props. This would require an additional component wrapping all the others (somethin

[2019-05-14 20:12] Muhnad opened #353 "Feature Request - Adding more components"
## 🚀 Feature request

### Motivation

there is a lot of missing components you can add/provide that will help the community, so I think you need to add a roadmap for upcoming components something like trello TO DO, WORKING ON and so on...

### Example
examples of missing components that need a lot of accessibility support in websites so building it on reakit would be great.

- Skip-navigation
- Da

[2019-05-14 20:19] darekkay opened #354 "Insufficient color contrast for buttons"
## 🐛 Bug report

### Current behavior

The contrast ratio between the button's font color (`#fff`) and background color (`rgb(0, 123, 255)`) is not sufficient to pass WCAG AA (see [contrast-ratio](https://contrast-ratio.com/#white-on-rgb%280%2C%20123%2C%20255%29)).

The same applies to the link color in your documentation.

### Expected behavior

The contrast ratio for buttons (and links) should p

[2019-05-14 20:20] darekkay commented on #351
I've already posted this suggestion on Hacker News: The "npm install reakit" textarea is focusable but doesn't have a focus ring (your code examples all do). I'd either add a focus ring or disable the focus altogether (as the field is not editable).

[2019-05-14 20:31] diegohaz commented on #354
Thank you for bringing this up @darekkay. For theming, I simply borrowed most of the styles from bootstrap. But this does need more attention.

If anyone is interested in helping, these are the relevant files:

`reakit-system-palette`:
https://github.com/reakit/reakit/blob/master/packages/reakit-system-palette/src/palette.ts

website theme:
https://github.com/reakit/reakit/blob/master/packages/web

[2019-05-14 22:03] #258 closed

[2019-05-14 22:03] #270 closed

[2019-05-14 22:07] diegohaz commented on #320
Reakit v1 now supports styled-system. It can also be seamlessly integrated with reakit systems: https://codesandbox.io/s/ll8pzo20qm

[2019-05-14 22:07] #320 closed

[2019-05-14 22:13] diegohaz commented on #330
Cleaning up issues. Closing this as we can't reproduce it. If someone has this problem and can provide a reproduction, please open a new issue or comment here so we can find a solution.

[2019-05-14 22:13] #330 closed

[2019-05-14 22:17] diegohaz commented on #337
Cleaning up issues. Closing this as we can't reproduce it. If someone has this problem and can come up with a repo or sandbox reproducing the problem, please comment here or open a new issue so we can find a solution.

[2019-05-14 22:17] #337 closed

[2019-05-15 00:54] MateusAndrade commented on #354
Im going to give a look at this. =D

[2019-05-15 06:29] darekkay commented on #354
This is the reason why I don't understand Bootstrap's [decision](https://getbootstrap.com/docs/4.1/getting-started/accessibility/) to use inaccessible colors on purpose:

[2019-05-15 10:20] axhamre opened #356 "Disappearance of lots of components"
Half of all components since 0.16.0 seem to be gone (Grid, Image, Flex etc).

1. What is the rationale about this drastic move?

2. Any suggestion how to mitigate the situation when heavily dependent on these components?

[2019-05-15 11:46] diegohaz commented on #356
Please use this issue (left this comment there if possible): https://github.com/reakit/reakit/issues/350

There will be an explanation and a nice migration path described here.

[2019-05-15 11:46] #356 closed

[2019-05-15 12:27] axhamre commented on #350
Half of all components since 0.16.0 seem to be gone (Grid, Image, Flex etc).

When I try the Box component, the CSS props functionality (marginRight={100}) as well seem to be gone.

I absolutely love experimentation as well. I do it daily. You're doing an **amazing job** with all libraries out there, but just want to let you know that this is (for me) mostly a completely new library from an API po

[2019-05-15 17:30] theevilhead commented on #351
Hey @diegohaz love what y'all have done till now. Would love to pick on the Search with Algolia part.

[2019-05-15 17:36] diegohaz commented on #351
It's yours @theevilhead.

[2019-05-15 17:58] diegohaz commented on #350
@axhamre I'm sorry about that. This is not a different library. It's just more focused.

The components that have been removed were pretty minimal. They can be easily implemented in the user land. I've written a simple guide to CSS props. Please, tell me if you need more details on that.

Also, please list the components you rely on the most so I can prioritize them for the guide (same for or anyo

[2019-05-15 20:39] theevilhead commented on #351
Hey @diegohaz what are your ideas on the implementing the search
and only components can be searchable?

[2019-05-15 20:45] diegohaz commented on #351
@theevilhead I'm not familiar with Algolia yet. Not sure how to implement it. But all the pages under `/docs/` should be searchable.

[2019-05-15 21:27] theevilhead commented on #351
On the second thought. Is algolia actually needed for this. Seems like an overkill? Maybe we can use https://github.com/kbrsh/wade or https://github.com/nextapps-de/flexsearch

[2019-05-15 21:33] diegohaz commented on #351
Algolia is used by all the documentation sites I see out there, even simple ones like https://reactjs.org. I'd choose it just because of this.

[2019-05-15 22:56] paulbalogh commented on #350
Jesus Christ, I just migrated from 0.15 to 0.16 (with lots of breaking changes, such as the user="" instead of as="" and now I see that as is back and most of the components written with reakit need to be basically re-written. Absolutely crazy!!!!!!! Why would you remove Flex and Grid as they were immensely useful alongside with casually dropping a backgroundColor="" when you needed it, instead of

[2019-05-16 00:25] diegohaz commented on #350
@paulbalogh Reading your comment makes me sad as I've worked hard to make this release the best for everyone.

I did, but I don't see your feedback on #261 or #288 or #345 or [here](https://spectrum.chat/reakit/general/how-do-you-use-reakit~d95ebf73-8d3b-4c1e-9327-1f50d6b9e89a). I can't find you on [any](https://join.slack.com/t/reakit/shared_invite/enQtNDExMDcwNTk2MTMwLWI1Mzk1Y2YzMTAzZGUyMGIzMjQx

[2019-05-16 01:06] MateusAndrade commented on #351
@diegohaz with  "Fix og:url metatags for inner pages" do you mean changing `SEO.tsx` to apply meta-tags on the `meta` prop?

[2019-05-16 01:12] diegohaz commented on #351
@MateusAndrade It's applying the meta og:url but all the pages get `https://reakit.io` (coming from gatsby-config.js). We have to append the pathname to this url so pages like https://reakit.io/docs/get-started/ would have exactly this link for the meta tag.

It could be fixed by appending `props.location.pathname`, but I'm not sure if it works on the server (which is required, since it's essentia

[2019-05-16 01:14] MateusAndrade commented on #351
I can pick this. Im still a newbie about gatsby but it can be a good way to start with it

[2019-05-16 01:16] #354 closed

[2019-05-16 01:18] diegohaz commented on #353
Maybe it can be of some help: https://twitter.com/diegohaz/status/1128727153300971520

[2019-05-16 02:00] benschac commented on #351
Is the footer still around? I was thinking something like this:
<img width="1546" alt="Screen Shot 2019-05-15 at 9 57 51 PM" src="https://user-images.githubusercontent.com/2502947/57820945-b3dfdc80-775c-11e9-910e-acb6e33d7ae0.png">

Ignore the icons stacking in a column. I was editing the html in the browser console and wasn't able to create a containing div.

[2019-05-16 02:56] theevilhead commented on #351
Cool, will stick with Algolia then.

[2019-05-16 05:35] sesam opened #357 "Mobile usability"
## 🚀 Feature request
Tabs (likely also TabsModal)
- has too small touch area
- don't suggest scrolling right to see the rest of the menu

### Motivation
Using reakit.io I first failed to see and scroll on the tabbed menus. Seems my first scroll attempt didn't hit the touchable area well enough.
Tried on Samsung S9.

Suggestions:
increase touch height 20-30%
Render some ... or similar when overflow

[2019-05-16 05:42] diegohaz commented on #357
I agree. I guess this can be implemented in reakit-system-bootstrap.

[2019-05-16 07:57] thebuilder commented on #351
The documentation site is really nice!

A minor issue i noticed - The `react` roots you create on pages aren't unmounted when navigating. You can see each page change will add a new root to the React DevTools.
On the "Portal" page, it will add a portal to `<body>` with the the text `but I am detached at the bottom of the page.`, that sticks around after navigating. It would be removed if the root

[2019-05-16 13:43] PlayMa256 commented on #350
Reakit has a codemod which was used in order to ease the transition from 0.15 to 0.16 (https://www.npmjs.com/package/reakit-codemods). We all provided ways to make users life easy, to make it reasonable to use. This library also followed semver strictly, where prior v1, everything can be considered as a breaking change.

[2019-05-16 14:13] paulbalogh commented on #350
@diegohaz - look, I probably need to apologise, these rants are not constructive especially when we are talking about a free library, maintained by the hard work of many people (btw, we are not only consuming, we are also contributing back, one of the members of our team is among your contributors). I have not seen the discussion threads you mention, even though I used reakit daily and I used the

[2019-05-16 14:50] akalajzi commented on #350
Comment that its pretty much a new library is a valid one; I'm in production and needed changes for upgrade are pretty huge. Especially when some of the components are plain missing in the new version. Ie, Sidebar is not a one liner userland fix.

Having said that, @diegohaz its perfectly fine you're driving this in direction you see best, but please pin a link for documentation of the 0.x version

[2019-05-16 15:42] diegohaz commented on #350
Added examples on `Sidebar` and made v0 references on README more evident. There's no final API for animations/transitions in v1 yet. There's an `unstable_animated` prop, but it's likely to change (hence the `unstable_` prefix).

Please, keep listing the things so I can prioritize them on the guide.

[2019-05-16 15:46] benschac commented on #357
Can I grab this one?

[2019-05-16 15:50] akalajzi commented on #350
Thank you. I would, but we're using pretty much every single thing on that list :) So take your time in this, we'll have to stick to 0.x until we have a clear upgrade plan and some cycles to actually do it.

[2019-05-16 15:55] diegohaz commented on #357
Sure. It's yours @benschac

[2019-05-16 16:17] benschac commented on #357
Was thinking:
https://www.smashingmagazine.com/2012/02/finger-friendly-design-ideal-mobile-touchscreen-target-sizes/

[code]

We're currently right at 44px.
<img width="374" alt="Screen Shot 2019-05-16 at 12 12 34 PM" src="https://user-images.githubusercontent.com/2502947/57870154-85054d00-77d4-11e9-8d79-a9d5583bece6.png">

[2019-05-16 16:30] diegohaz commented on #357
Hmm. So, maybe just an `:after` pseudo-element with a gradient here to indicate that there are more tabs: https://github.com/reakit/reakit/blob/690bd6e775a2736372edd00b56f0d73a278e2ea3/packages/website/src/components/HomePlayground.tsx#L233-L253

[2019-05-16 16:37] theevilhead commented on #351
Hey @diegohaz could you register yourself here? and give me the creds. https://community.algolia.com/docsearch/

[2019-05-16 16:38] benschac commented on #357
Don't increase the padding / target height?

[2019-05-16 16:55] diegohaz commented on #351
@theevilhead Done. Will paste here the snippet when they send it to me.
![image](https://user-images.githubusercontent.com/3068563/57872539-47a7bc00-77e2-11e9-96d3-0ff37119976c.png)

[2019-05-17 08:41] diegohaz commented on #351
@theevilhead

<details>
Hi there,

Congratulations, your search is now ready!
I've successfully configured the underlying crawler and it will now run every 24h.

You're now a few steps away from having it working on your website:

- Copy the following CSS/JS snippets and add them to your page

[code]

- Add a search input in your page if you don't have any yet. Then update the inputSelector value

[2019-05-17 14:22] StorytellerCZ commented on #350
Started upgrading to the beta today and hopefully will have most done by the end of the weekend.
Since my site is currently in a complete client-side rewrite I will go through everything. No gradual migration, going straight on the new version and dealing with what comes my way. :rocket:

So far I'm missing from this guide components like `Paragraph` (probably only needs a short mention) and theme

[2019-05-17 14:36] diegohaz commented on #350
@StorytellerCZ Could you describe a bit how you used the themes? There are many ways to approach this, but I believe the most straight forward is to just use styled-components + styled-tools directly (if you're using styled-components).

I'm gonna update the post with this soon.

[2019-05-17 15:12] leerob opened #360 "Add support for IE11."
## 🚀 Feature request

### Motivation

![image](https://user-images.githubusercontent.com/9113740/57937741-2e5b4a00-788c-11e9-89d6-6d3974f1d14a.png)
https://www.w3counter.com/globalstats.php

[2019-05-17 15:17] diegohaz commented on #360
Thank you @leerob

If anyone with more experience on this (I stopped making sites for IE a long time ago) is willing to try and fix the bugs (or at least identify them), I can help pointing to files and lines in the source code.

[2019-05-17 15:29] leerob commented on #360
It'd be awesome to use Reakit, but we have to support IE11 due to lots of our users requiring older browser support. Viewing the docs did not work on IE11, either.

- For supporting IE11, most `flexbox` things should work, minus [`justify-content`](https://caniuse.com/#search=justify-content).

[2019-05-17 15:45] diegohaz commented on #360
Alright, if the problem is only style, the `reakit` package should work on IE11 as it doesn't include any (with a few exceptions that shouldn't count). It may be using JavaScript that is not supported though, not sure.

The styles on the website depend on the [`reakit-system-palette`](https://github.com/reakit/reakit/tree/master/packages/reakit-system-palette) and [`reakit-system-bootstrap`](https

[2019-05-17 18:19] ronal2do commented on #350
@paulbalogh You can install from a specific version and remove `^` from your package.json

[2019-05-18 00:25] StorytellerCZ commented on #350
@diegohaz Yes, I'm using styled-components with styled-tools. If I remember corectly I'm using the same approach as the old Reakit docs.

[2019-05-18 03:39] jlarmstrongiv commented on #353
Not a definitive list, but I think adding components from [w3.org](https://www.w3.org/TR/wai-aria-practices-1.1/) would be great.  Makes it easy by following their naming convention and examples.

[2019-05-18 11:36] theevilhead commented on #351
Thank you @diegohaz , I will take it from here.

[2019-05-18 12:03] fernandosouza commented on #353
I'm willing to help on this.

[2019-05-18 17:11] jlarmstrongiv commented on #353
I went ahead and compared the list on [w3.org](https://www.w3.org/TR/wai-aria-practices-1.1/) to the existing components in reakit:

- [ ] Accordion (Sections With Show/Hide Functionality)
- [ ] Alert
- [ ] Alert and Message Dialogs
- [ ] Breadcrumb
- [x] Button - [implemented](https://reakit.io/docs/button/)
- [ ] Carousel (Slide Show or Image Rotator)
- [x] Checkbox - [implemented](https://reaki

[2019-05-18 18:16] diegohaz commented on #353
Thank you @jlarmstrongiv.

I've checked the alert dialog.

Regarding the codebase, I have to update the CONTRIBUTING.md file with instructions. But the `reakit` package is pretty standardized. Once you understand a component, the others follow the same pattern. Any question, just ask, I'll be glad to help.

[2019-05-19 16:57] abrarShariar commented on #351
Hi @diegohaz
noticed a small UI issue on the website.

<img width="1285" alt="Screen Shot 2019-05-19 at 10 50 11 PM" src="https://user-images.githubusercontent.com/11766606/57985391-ff5df780-7a88-11e9-8970-05df752437ed.png">

<img width="1284" alt="Screen Shot 2019-05-19 at 10 50 17 PM" src="https://user-images.githubusercontent.com/11766606/57985392-08e75f80-7a89-11e9-9d40-a3b2a8fae568.png">

The

[2019-05-19 18:32] benschac commented on #351
should I grab this since it's related to: #359

[2019-05-21 19:38] jole78 opened #363 "TooltipReference always sets tabIndex to 0"
In the Tooltip component, the TooltipReference always sets tabIndex to 0. There might be a reason for that but let's say I'm builing a Dialog with a close button (x) at the top right. The button also has a tooltip wrapping it. Now the problem is that even though I set my close button to have tabindex -1 (to focus something else instead) the button will have tabindex reset to 0 which will give it f

[2019-05-21 19:59] diegohaz commented on #363
Hey @jole78

If I understand correctly, you want to disable tabbing on the close button because you want the initial focus to be on a different component within the dialog. Is this accurate?

If that's the case, I think you're trying to approach the problem with the wrong solution.

First of all, disabling the tab behavior on that element is a an accessibility issue. Since you chose to use Reakit,

[2019-05-22 06:24] jole78 commented on #363
I'm probably thinking about this from the wrong angle here but maybe some "pseudo" code can bring insights:

Dialog here is a custom "wrapped" version of RK Dialog.
[code]
I don't want to force the user of my custom dialog comp to set an initial focus thing. What happens now is that since the Button with the Tooltip is rendered first it gets the initial focus and the Tooltip shows up when the Dial

[2019-05-22 11:42] diegohaz commented on #363
I see. In this case, I think I would keep the initial focus going onto the close button by default, but I'd not use a tooltip. A button with a visually hidden element inside would be enough to me:
[code]
The close icon should be direct enough for visually abled users. They don't need a tooltip for this.

But, yes, if you want to stick with the tooltip, I think putting the element below the content

[2019-05-22 11:58] jole78 commented on #363
Thanks for the input Diego. Guess it turned out being more of question. At least now I know which options I have. Gonna close the issue. Again tnx 👍

[2019-05-22 11:58] #363 closed

[2019-05-22 13:00] lluia commented on #352
Thanks for the explanation @diegohaz ! 💯

[2019-05-22 13:00] #352 closed

[2019-05-22 15:04] k-sav commented on #351
Is anyone already looking at `Previous/next links on documentation for better navigation` ?

[2019-05-22 15:52] diegohaz commented on #351
No one yet @k-sav. Feel free to take it :)

[2019-05-23 21:24] Slapbox opened #364 "Please make pre-1.0 documentation available"
I'm trying to use `Step.Container`, but all the docs are gone unless I dig through the git history? Am I overlooking something?

Pre-1.0 needs to be supported for a while.

[2019-05-23 21:25] diegohaz commented on #364
Hi @Slapbox. Links are in the README: https://github.com/reakit/reakit#installation

https://v0.reakit.io

[2019-05-23 21:25] #364 closed

[2019-05-23 21:27] Slapbox commented on #364
@diegohaz thanks for the blazing fast response. Can I suggest forwarding old pages like https://reakit.io/components/step/stepcontainer to some new page? MANY links to Reakit on Google now go to 404, which will definitely hurt SEO.

Is the Step component renamed to something else now? I think some more transition material is needed.

[2019-05-23 21:50] diegohaz commented on #364
`Step` can be created using [`Rover`](https://reakit.io/docs/rover). I'm gonna write a guide on it on the migration guide.

And, oh, I probably forgot to redirect a few urls. I'm gonna add Step redirects. If you find more missing ones, could you please update the `redirect_from` property in the README files?
Example: https://github.com/reakit/reakit/blob/master/packages/reakit/src/Popover/README.m

[2019-05-24 16:25] Slapbox commented on #364
Awesome thanks @diegohaz!

I'll update anything I come across, though since I'm going to be in the `0.16.x` docs specifically rather than using Google now, I probably won't come across any more.

[2019-05-24 16:56] k-sav commented on #351
Cool. I will take a look over the weekend @diegohaz

[2019-05-27 08:47] fleischie commented on #360
Hello.

For an anecdote on why I am here, check the following details:
<details>
We are using `reakit` v0 at a client's project for quite some time now, which is also required to work on IE11.

I ported the project from v0 to v1 on friday, ultimately removing most of the basis components in favor of default DOM elements (e.g. `div` instead of `Box`, etc.). This seems to have worked out alright. Wh

[2019-05-27 09:33] fleischie commented on #360
What I find curious, is that `babel.config.js` contains `browsers: "defaults"` as config for production builds... and the minified bundle seems to have clauses that guard these array prototype functions (as `Yt` and `Zt`), but still they are used directly in code that is at the very beginning of the bundle output.

[2019-05-27 09:58] fleischie commented on #360
OK, I tried to explicitly set `"ie 11"` as the compilation target but it still uses `e.find` in the compiled bundle... the defaults targets also include ie11, so I really don't understand what is going on... 🤔

[2019-05-27 10:10] vhfmag commented on #360
@fleischie I think you may be missing the `useBuiltIns` options for `@babel/preset-env`: https://babeljs.io/docs/en/next/babel-preset-env.html#usebuiltins. That said, I'm not sure `reakit` should include polyfills in its bundle, as several packages including their own polyfill each, for several features, can their consumer's bundle explode. Two other solutions to be considered are:

- Make it clea

[2019-05-27 10:16] fleischie commented on #360
@vhfmag ok granted, I could potentially polyfill `.find` and `.findIndex` myself on a project level. But this issue specifically asks for support of IE11, so I assumed it would be desired to do this on a library level.

(Also technically you wouldn't really need to polyfill `.find` and `.findIndex` in its entirety, because `popper.js` uses a pretty "simple" `find` and `findIndex` wrapper.)

[2019-05-27 10:46] vhfmag commented on #360
@fleischie I also understand that the solution being discussed here was to bundle it with polyfills, I just wanted to provide a counterpoint.

Does popperjs provide its own implementation of `find` and `findIndex`? If so, that should be same as the second solution I proposed, isn't it?

[2019-05-27 10:47] vhfmag commented on #360
Another possible solution is to mark `corejs` as an external dependency in the bundler, so that its import statements are included in the final bundle and the consumers bundler can deduplicate it efficiently, but that would mean `reakit` would only be usable with a bundler.

[2019-05-27 11:32] cyrus-za commented on #353
+1 for datepicker. Can't seem to find one out there that is simple to use and that allows you to quickly navigate through years for date of birth

[2019-05-27 11:49] Muhnad commented on #353
my thoughts when I opened this issue was we need to create more components that used a lot in the web these days and has a low of accessibility guidelines beside almost of a new toolkit these days create the same components no one tried to build new components that used widely and need support from the community.

BTW, what reakit reached is great and I like what they did.

[2019-05-27 12:29] Regaddi opened #366 "Remove default element styles from dialog components"
## 🚀 Feature request

### Motivation

The default element styles on the elements require some nasty overriding. When using [styled-jsx](https://github.com/zeit/styled-jsx) it requires some `!important` styles to overwrite the element styles (which otherwise have highest priority).

Dialog:
![image](https://user-images.githubusercontent.com/1336590/58419741-b232e480-808b-11e9-8f34-c1aa8d9d266a.png)

[2019-05-27 12:49] diegohaz commented on #366
@Regaddi those styles are probably more useful than annoying. But that's my guess. I'd like to get feedback from more people.

Could you please elaborate more why you want to override those css rules? I'm particularly curious about why you would like to override `display: none` when the dialog is hidden.

That said, there are other ways to work around this. Although I think `!important` is most si

[2019-05-27 12:53] Regaddi commented on #366
Mainly `z-index` as we have a z-index management in our theme. The positioning is minor. I agree that `display: none;`  should be fine to be set by Reakit.

[2019-05-27 13:05] diegohaz commented on #366
If Reakit had some sort of zIndex management built-in, would it be possible to integrate with your own solution?

Something like this:
[code]

[2019-05-28 07:23] fleischie commented on #366
I had similar issues with the `z-index` attribute beeing of a specific value (we have our own `z-index` hierarchies in my current project).

As I was using `styled-components`, I managed to change the index via
[code]

[2019-05-28 07:29] diegohaz commented on #366
Could you guys give more details on how you manage z-index in your projects?

@fleischie It doesn't work because Reakit sets `zIndex` as inline styles, which have precedence. You would need to use `!important`.

[2019-05-28 07:56] Regaddi commented on #366
We're defining our general theming values in a `theme.js` file. Things like global font sizes, font families, colors, spacings and z-index values are centrally stored there.
A custom react hook allows to read those values inside of our components.

[code]

[code]

[code]

[2019-05-28 08:28] fleischie commented on #366
Yupp, same.

[2019-05-28 13:55] StorytellerCZ commented on #350
Missing:
`Divider` => `Separator`

[2019-05-28 17:47] diegohaz commented on #350
Added `Divider`. Thank you @StorytellerCZ

[2019-05-28 18:00] diegohaz commented on #366
This makes sense. Thank you.

One question: how would you handle nested dialogs with backdrops? With your current approach, I guess the nested dialog backdrop will not dim the parent dialog.

Anyway, I think the best solution for you right now is to strip out the style attribute with render props as I have exemplified in a comment above.

[2019-05-28 18:45] fleischie commented on #366
We currently habe at max one Modal rendered at a time, that also has a Backdrop. Anything nested (e.g. a Popup Dialog) does not have its own Backdrop, as its not our Modal component.

[2019-05-28 20:19] prwelber opened #367 "TypeScript Compiler Failing"
## 🐛 Bug report
Failing to compile

### Current behavior
I'm working in a monorepo. I installed reakit in a workspace and so the module gets hoisted to the top level `node_modules` and when I run `tsc` it fails and I get the following output (I did not include the whole thing, but all the errors are similar and they all occur in the reakit `ts` directory)

Usage:
[code]

[code]

### Steps to repro

[2019-05-28 20:50] prwelber commented on #367
A coworker smarter than me figured this out.

[2019-05-28 20:50] #367 closed

[2019-05-30 22:51] ksmithut opened #368 "Checkbox on Firefox when using keyboard checks and unchecks immediately"
## 🐛 Bug report

### Current behavior

When using firefox, tabbing to a checkbox and pressing "spacebar" to check (or uncheck) the checkbox, it immediately undoes the action.

### Steps to reproduce the bug

Provide a repo or sandbox with the bug and describe the steps to reproduce it.

0. Be using Firefox (I'm using 67.0 on macOS 10.14.15)
1. Open sandbox: https://codesandbox.io/s/reakit-uzqn7
2.

[2019-05-31 04:03] diegohaz commented on #368
Good catch @ksmithut. Thank you.

Working on it.

[2019-05-31 11:56] ksmithut commented on #368
@diegohaz Thanks for the quick work! It is much appreciated.

[2019-05-31 16:09] ronnyhaase commented on #366
That's great! Keep it real.

- Less headache for Reakit
- As pointed out some larger projects might come with a solution for handling z-index, which likely conflicts with whatever Reakit comes up with
- I think since Reakit in some cases doesn't make smart assumptions about some ARIA attributes and instead asks the developer to take proper care of them, why not do the same for z-index?

That was m

[2019-05-31 17:24] diegohaz commented on #366
@ronnyhaase Backdrop being in front of Dialog is definitely a bug.

I'm thinking on a way to get rid of z-indexes or at least make them easily overridable. Should have something in the next few days.

[2019-05-31 21:38] diegohaz commented on #368
Thank you for the donation @ksmithut :)

The fix will go live in the next version (likely this weekend).

[2019-06-01 17:18] #366 closed

[2019-06-03 13:45] fleischie commented on #360
Yo, I found another thing in `reakit@1.0.0-beta2` : `src/Dialog/__utils/usePortalRef.ts` has [the following line](https://github.com/reakit/reakit/blob/website%401.0.0-beta.2/packages/reakit/src/Dialog/__utils/usePortalRef.ts#L14):

[code]

which is not compiled away in any way and which is additionally not available in IE: https://developer.mozilla.org/en-US/docs/Web/API/Element/closest.

As long

[2019-06-03 17:57] thefrontendwizard opened #373 "Tooltip following pointer"
## 🚀 Feature request

Tooltip that follows the cursor while hovering the element.

### Motivation

There might be use cases where this is interesting, specially when the reference is large.

### Example

Ideally, this should be a boolean on `useTooltipState`, something like `followCursor`/`followPointer`/`followMouse`.

[code]

### Possible implementations

https://codesandbox.io/s/reakit-tooltip-

[2019-06-03 21:14] diegohaz commented on #373
Thank you @thefrontendwizard

For anyone reading this: this can be implemented in the user land by using Reakit building blocks (https://codesandbox.io/s/reakit-tooltip-following-mouse-7wolg). So, please, if you need this feature, do this in your project and give us feedback so we can find a better API/implementation.

[2019-06-04 03:48] jtmthf opened #374 "DateTime Picker"
## 🚀 Feature request

### Motivation

Inspired by #353, I've been working on a date picker implementation for the past couple of days and wanted to share my current level of progress and API ideas. I've been pulling inspiration from a number of libraries, but here is my idea for implementing some of the examples from [gpbl/react-day-picker ](https://github.com/gpbl/react-day-picker).

Note that al

[2019-06-04 04:04] diegohaz commented on #374
This is awesome @jtmthf! Thank you for the detailed issue.

I'll take the time to read it calmly. Calendars are one of the most complex UI components out there. So far I've only thought about abstract components that could be used to build a calendar. And I think `Grid` is the most important one: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Grid_Role (there's a calendar ex

[2019-06-04 23:35] jtmthf commented on #374
After looking over `Grid`, I do think that it's going to be the best base for a calendar. It seems that is implementation would be similar to Rover, but I'm not yet sure if it's worth it or even possible to reuse `useRoverState` and/or `Rover` to build it. Did you have any thoughts yet to how this component would be implemented?

[2019-06-05 00:03] diegohaz commented on #374
Before `Rover` existed, I did some experimentation on 2D Rover here (today, I'd call it just `useGridState`): https://github.com/reakit/reakit/blob/c4c02dac4504208153ce828d31b63f2b9c76aa51/packages/reakit/src/Roving/RovingState.ts

Some tests here: https://github.com/reakit/reakit/blob/c4c02dac4504208153ce828d31b63f2b9c76aa51/packages/reakit/src/Roving/foo-test.ts

The code is a mess, so don't wor

[2019-06-05 20:42] jHwls opened #376 "Rover component has inconsistent click/keydown behaviour"
## 🐛 Bug report

### Current behavior

So, per this [codesandbox](https://61z68.codesandbox.io/), a Rover that contains an interactive component prevents interaction via `onMouseDown`. This is to the current spec. It will, however, permit interaction via 'onKeyDown', which is resulting in a confusing user experience.

### Steps to reproduce the bug

1. Open sandbox: https://61z68.codesandbox.io/
2

[2019-06-09 09:33] ryardley opened #377 "Provide an example using styled components"
## 🚀 Feature request

### Motivation

I found this awesome project via the styled components website while searching for a component library which used styled-components under the hood. After reading the docs I discovered styled-components had been factored out of the new release to make the lib style agnostic which I think is an excellent move.

However because of the history of this project with

[2019-06-09 13:27] diegohaz commented on #377
I totally agree. Thank you.

[2019-06-09 13:27] #377 closed

[2019-06-13 13:58] thefrontendwizard opened #383 "Tooltip/Popover arrow sizing"
## 🚀 Feature request

There needs to be a better way to do custom arrow sizes other than changing the `font-size` and forcing it with `!important`.

### Example

Currently to change the size of the arrow you have to do something like this:
[code]

### Possible implementations

Perhaps a prop on the arrow component like `size`?

[2019-06-13 14:37] thefrontendwizard opened #384 "Add best practices on testing components that use HiddenState to documentation"
## 🚀 Feature request

### Motivation

I think it'd be useful to have on the docs best practices on testing components that use HiddenState. Those can be tricky because they randomly generate an id, unless you wrap it in on the Provider or mock the math.random.

### Example

It'd make it easier for people to find a solution for this.

### Possible implementations

Maybe add to the `Provider` sectio

[2019-06-13 14:38] thefrontendwizard commented on #384
I can work on this :)

[2019-06-15 00:51] CraigCav commented on #367
@prwelber can you share how your coworker figured this out? I'm bumping into the same set of errors.

[2019-06-15 00:59] prwelber commented on #367
I think we changed the import path to ‘reakit/es/<component>’

On Fri, Jun 14, 2019 at 8:51 PM Craig Cavalier <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-06-15 01:23] diegohaz commented on #367
I can take a look if you provide a repository with reproduction.

[2019-06-15 01:49] CraigCav commented on #367
@diegohaz sure thing. You can clone https://github.com/CraigCav/ReakitExample and after running `npm install`, if you run `tsc`, you the same 148 errors.

@prwelber changing the import to `reakit/es/<component>` avoids the errors (presumably as the typescript definitions aren't being referenced). Thanks for the workaround!

[2019-06-15 03:44] diegohaz commented on #367
@CraigCav upgrading `typescript` to the latest version fixed the problems.
Does this work for you?

[2019-06-17 13:29] CraigCav commented on #367
@diegohaz Yup, that did the trick. Thank you so much for figuring this out.

[2019-06-17 15:01] diegohaz commented on #383
I guess the best solution is to just remove the default `fontSize` style from `PopoverArrow` and change `width` and `height` to `1.875em` (which would result in 30px with the browser's default font-size).

[2019-06-18 04:37] #345 closed

[2019-06-27 07:24] #383 closed

[2019-07-04 08:21] swatiQait opened #391 "There is bug in Modal Window, whenever we try to scroll background screen scrolls."
## 🐛 Bug report

### Current behavior

Explain what's happening.

### Steps to reproduce the bug

Provide a repo or sandbox with the bug and describe the steps to reproduce it.

1. Open sandbox: https://codesandbox.io/s/m4n32vjkoj (you can use it as a base)
2. Remove any line
3. See console logs

### Expected behavior

Explain how it should behave.

### Possible solutions

If possible, describe ho

[2019-07-04 08:22] swatiQait commented on #391
Scroll be be applied to modal Screen only.

[2019-07-04 11:00] diegohaz commented on #391
Could you please provide a reproduction sandbox or something? I can't reproduce this behavior (background scroll is always locked unless you're using a non-modal dialog)

[2019-07-08 17:15] #391 closed

[2019-07-09 15:37] lluia commented on #351
@diegohaz any of the **TODOs** above ☝️ that you'll like me to do, I'm fine with grabbing any 🙃

[2019-07-10 00:32] diegohaz commented on #351
@lluia I really want to get the Algolia search sorted out. @theevilhead started it on #381. I guess you can continue from there if you like. :)

[2019-07-10 14:38] mattdaly opened #393 "Checkbox augmented as button has backwards event.target.checked value"
## 🐛 Bug report

### Current behavior

When augmenting a `Checkbox` as a `button` (https://github.com/reakit/reakit/tree/master/packages/reakit/src/Checkbox#as-prop), the value of `event.target.checked` in the `onChange` handler is backwards - when `aria-checked` is `true`, `event.target.checked` is `false`.

As a side note, the typescript build fails when passing `button` to `as` - `TS2322: Type

[2019-07-10 15:50] diegohaz commented on #393
Thank you for the reproduction @mattdaly. Indeed it's a bug.

I'll tackle this as soon as I get some free time. But, just in case someone wants to give it a try first, I guess this is the relevant piece of code: https://github.com/reakit/reakit/blob/51b9a0e434d7b4bd12d50bd9877a3a1997fd87c0/packages/reakit/src/Checkbox/Checkbox.ts#L74-L107

[2019-07-10 15:52] diegohaz commented on #393
Regarding the typescript error, I can't see it on CodeSandbox (TypeScript version in CodeSandbox is outdated) and I couldn't reproduce it locally with the latest version of TypeScript.

[2019-07-10 16:03] mattdaly commented on #393
My bad, the typescript error is in a local project. It appears to be related to a rollup and typescript integration, I will investigate it further and open a separate issue if it persists.

[2019-07-11 14:33] stramel commented on #350
@diegohaz Thank you for all your hard work on the v1 of reakit! I'm loving the direction of v1 so far. I was wondering if you had any advice for `Input` since it is no longer provided? Should I just do

[code]

[2019-07-11 16:36] diegohaz commented on #350
Hey @stramel. We have plans to provide an abstract `Input` component in the future (once v1 gets out of beta, where we're focusing more on fixing bugs).

In the meanwhile, I suggest you to look at the code from v0:

`reakit`:
https://github.com/reakit/reakit/blob/fd10c8bd0c55f04a36c3b8f7d949c181a8b30d96/packages/reakit/src/Input/Input.ts#L1-L18

`reakit-theme-default`:
https://github.com/reakit/re

[2019-07-12 14:10] tom-sherman opened #395 "Issue when using dialogs and `unstable_FormRemoveButton` together"
## 🐛 Bug report

### Current behavior

Dialogs are bugging out when I use them inside of a form along with `unstable_FormRemoveButton`.

The dialogs flicker under some circumstances.

### Steps to reproduce the bug

Provide a repo or sandbox with the bug and describe the steps to reproduce it.

1. Open sandbox: https://codesandbox.io/s/form-remove-item-and-dialog-bug-1hwzl
2. Remove the default it

[2019-07-12 14:43] diegohaz commented on #395
Thanks for reporting @tom-sherman!

I guess this is related to the fact that dialogs can only have one disclosure at the moment. Right now this can be fixed on your side by having one dialog to each item.

But we do need to support multiple disclosures.

Related: https://spectrum.chat/reakit/general/hi-wondering-if-its-possible-to-open-a-dialog-outside-of-using-the-disclosure~7c70c29f-60a0-4419-a4

[2019-07-12 15:34] stramel opened #396 "Losing functionality when styling"
## 🐛 Bug report

### Current behavior

When I wrap the `Button` from `reakit` v1 with `styled` it is losing the `Tabbable` functionality. You can notice the `StyledButton` is missing HTML attributes and does not tab/focus properly like the base button does.

### Steps to reproduce the bug

https://codesandbox.io/embed/reakit-o4r25

### Expected behavior

I would expect the same functionality and a

[2019-07-12 15:42] diegohaz commented on #396
Hi @stramel.

That's because you're using the `as` prop from Styled Components, not from Reakit (SC doesn't pass it down to the Reakit Button). So, you're actually overriding `Button` with `div`.

Unfortunately, that's a limitation on SC side (related: https://github.com/styled-components/styled-components/issues/2183#issuecomment-435692522). You can use the render props method instead:
[code]

[2019-07-12 15:42] #396 closed

[2019-07-12 15:46] stramel commented on #396
Thank you for the quick reply.

[2019-07-12 18:34] tom-sherman commented on #395
@diegohaz no problem! In my sandbox, isn't each item getting its own dialog inside of the map fn?

[2019-07-12 20:36] diegohaz commented on #395
@tom-sherman You have only one `useDialogState`. It shouldn't be used for multiple Dialog components. You can abstract the Dialog into another component and put `useDialogState` there.

[2019-07-12 20:42] diegohaz commented on #395
Closing as this isn't really a bug. But we'll probably need to add a warning about using `useHiddenState` (and derivatives) for multiple `Hidden` components.

[2019-07-12 20:42] #395 closed

[2019-07-12 21:56] tom-sherman commented on #360
For bundle size alone, I would hesitate in adding library level polyfills for IE11.

As @vhfmag mentioned, I think a better solution would be to make it clear that IE11 is not supported, and suggest that user's include their own polyfills.

Ideally Reakit would provide a list of APIs that may need polyfilling in older browsers so user's can write code to conditionally load these.

[2019-07-12 22:19] tom-sherman commented on #395
Thanks for the tip!

[2019-07-13 02:49] fleischie commented on #360
There are two main issues with that:
- If bundle-size is the main concern, why not directly write this lib in es5 w/o external dependencies,
- IE11 might be the only browser that I as a developer care about no matter how "old" it is.

Disregarding that I still would appreciate anything regarsing this topic: a Caveat section in the Readme, a library-included polyfill, a refactored usage of non-IE11

[2019-07-15 09:04] tom-sherman opened #397 "Form: Add textarea input type"
## 🚀 Feature request

### Motivation

It's a widely used input type.

### Possible implementations

Would function exactly as `FormInput` but using a `<textarea>` instead of an `input`.

[2019-07-15 12:13] diegohaz commented on #397
I expect people use the `as` prop like this:
[code]

[2019-07-15 12:50] tom-sherman commented on #397
Makes sense, worth adding this to the docs if it's the preferred way of doing things?

[2019-07-15 13:19] diegohaz commented on #397
Yes, definitely!

[2019-07-17 01:13] WestonThayer opened #399 "State what screen readers are tested"
## 🚀 Feature request

### Motivation

Similar to [Reach UI](https://ui.reach.tech/), if the project declares what screen readers and browser combinations are tested, it gives adopters confidence that the components take into account different screen reader quirks to deliver the best UX.

### Example

Quote from Reach UI:

[2019-07-17 18:53] #397 closed

[2019-07-17 21:36] cbush opened #400 "Form onValidate as a prop"
Hi, thank you for the great library. I have run into an issue and could use some help. If there's an intended way for me to do this, let me know and I can close the issue.

## 🚀 Feature request

`<Form>` should have onValidate as a prop, not part of state

### Motivation

I would like to change the value of onValidate in the form. Consider if onValidate called a callback prop of the enclosing comp

[2019-07-17 21:41] diegohaz commented on #400
Hey @cbush! Thanks for creating this issue.

I didn't understand the motivation behind this. You just described the solution as the motivation. But which problem are you really trying to solve? Maybe there's a better way to do this. A CodeSandbox example would be appreciated.

[2019-07-17 22:01] cbush commented on #400
Thanks for your reply.

My onValidate needs to use props of the enclosing component.

In my app, the List component that has an array of Items. Let's say each Item has a form with an editable title. I'm not using Redux, so the pattern I've been using is passing 'actions' as callback props. So in this case `onUpdateItem` is passed as a prop to Item. When the form is validated, I want to update the

[2019-07-17 22:12] diegohaz commented on #400
I'll need more time to think on this, but one thing you can do today is to use a ref to store the updated value:

[code]

[2019-07-18 01:02] cbush commented on #400
Thank you, that works perfectly.

I think I have an even more compelling example for why onValidate and onSubmit should be props. If you want to use _any_ prop in the onValidate or onSubmit callback, you would have to do something like above. Example:

[code]
On that note, I see onSubmit actually can be used as a prop, but how does one access the values in that callback?

Thanks again for your att

[2019-07-18 19:44] stramel opened #401 "Initial transition of Dialog isn't working"
## 🐛 Bug report

### Current behavior

The majority of the time when using the unstable animation API, it doesn't properly trigger initial transitions on Dialog/Sidebar.

### Steps to reproduce the bug

https://codesandbox.io/s/reakit-be2y4

### Expected behavior

It should transition open

### Additional Context

I used the Sidebar migration guide from #350 with @diegohaz's comment for animating

[2019-07-18 19:50] diegohaz commented on #401
Hi @stramel. You should use the `.hidden` selector. I'm not sure it's documented, but it should be once the animated prop is stable.

[code]

[2019-07-18 19:52] stramel commented on #401
Ah, much better! Thanks @diegohaz! Looking forward to documented & stable animation!

[2019-07-18 19:52] #401 closed

[2019-07-18 23:28] tom-sherman commented on #400
@cbush I believe the `onSubmit` prop is attached to the native `submit` DOM event, that's why it works as a prop.

[2019-07-18 23:36] diegohaz commented on #400
Yep! If you pass `onSubmit` to `Form`, you're simply using the React event. It has nothing to do with Reakit, and by doing so you'll loose some Reakit Form features. This is the method that is passed to `<form onSubmit />` under the hood by Reakit: https://github.com/reakit/reakit/blob/be29f3b733b08798a8d6fe36f194da7ba62e78de/packages/reakit/src/Form/FormState.ts#L350-L372

[2019-07-19 04:36] stramel commented on #401
@diegohaz Is there anyways to target the entering vs exiting transitions? I was hoping to apply a different transition for enter vs exit.

[2019-07-19 14:31] cbush commented on #400
Ah, makes sense. In that case, if you do decide to make onValidate a prop, it would be nice to also make onSubmit a genuine reakit prop.

I'm noticing the pattern of storing callbacks in hook state in other libraries now (specifically react-dnd). In a redux type of app this is probably never an issue because the callback will just fire off some action. The live ref is coming in handy!

[2019-07-19 18:22] diegohaz commented on #401
I forked your sandbox and created an example with different transitions for entering and exiting states: https://codesandbox.io/s/reakit-enterleave-animation-ys3z3

But there are probably other ways to do that.

[2019-07-19 18:32] stramel commented on #401
Perfect! Thank you again!

[2019-07-19 18:33] stramel commented on #401
Perfect! Thank you again!

[2019-07-22 12:47] lluia commented on #351
@diegohaz

I started a POC of adding **Algolia search** ☝🏻  , if you find some time to 👀  and feedback on the approach / UX.

I still need to verify that the integration with the service works, write tests and cleanup some layout issues 👍🏻

[2019-07-23 15:23] stramel opened #403 "v1 Provider type requires `unstable_system` but optional according to docs"
## 🐛 Bug report

### Current behavior

Trying to use `Provider` for SSR in my project that uses Typescript. The typing on `Provider` is stating that `unsable_system` is required. The getting started documentation states that it is optional. https://reakit.io/docs/get-started/#server-side-rendering

### Expected behavior

I would expect to be able to use `Provider` without any props.

[2019-07-23 15:34] diegohaz commented on #403
Thank you @stramel. It was fixed in 29c4456339306f020996c38276c2f9edf3f6697b and will be available in the next patch.

[2019-07-23 15:34] #403 closed

[2019-07-24 03:02] stramel opened #404 "Getting weird clipping on Backdrop when used with Docz"
## 🐛 Bug report

### Current behavior

The `DialogBackdrop` appears to be having some strange issues with its position in the DOM.

![image](https://user-images.githubusercontent.com/855184/61761666-00671a00-ad95-11e9-9b31-3a59ca8e1acd.png)

Any `Playground` after the modal that you trigger appears above/"to clip" the `DialogBackdrop`.

The `Playground` has these styles applied by Docz.

[code]

T

[2019-07-24 14:43] diegohaz commented on #404
Thank you @stramel. Is this live somewhere so I can inspect?

One solution I can think is wrapping `DialogBackdrop` in `Portal`:
[code]

[2019-07-24 14:52] stramel commented on #404
@diegohaz It isn't currently live anywhere. Let me see if I can whip up some kind of codesandbox or similar so you can see it in action.

It does appear that wrapping the `DialogBackdrop` in a `Portal` is a workaround for the issue. I will use that for now, thanks for the prompt reply!

[2019-07-24 15:33] stramel commented on #404
@diegohaz I managed to get the issue reproduced inside a codesandbox.

Here is the link, let me know if you have any issues.
https://codesandbox.io/s/github/stramel/reakit-issue-404/tree/master/

[2019-07-24 18:35] diegohaz commented on #404
Thanks for the reproduction! :)

Looks like the `z-index` on `Playground` is creating a new composite layer for the backdrop. The solution is indeed rendering `DialogBackdrop` in a `Portal`. We can think of a way to do that automatically if the dialog is modal.

[2019-07-26 14:57] tom-sherman opened #405 "How do you set defaultChecked on Checkbox?"
## 💬 Questions and Help

As seen in the below sandbox, passing `defaultChecked` to a `Checkbox` component doesn't seem to do anything.

https://codesandbox.io/s/reakit-fk3qk

Is this possible with Reakit?

[2019-07-26 15:15] tom-sherman commented on #405
My current solution is to fire a `useEffect` on first render to update state.

[code]

This obviously isn't ideal and I'm sure there's a nicer solution, I just can't see it.

[2019-07-26 15:26] diegohaz commented on #405
Hey @tom-sherman. All state hooks (`useSomethingState`) in Reakit accept objects as initial state. You can learn more about it here: https://reakit.io/docs/managing-state/

You can do this:
[code]

Example here: https://reakit.io/docs/checkbox/#usecheckboxstate

[2019-07-26 15:26] #405 closed

[2019-07-26 15:27] tom-sherman commented on #405
Thanks, I should read the docs!

[2019-07-26 15:29] diegohaz commented on #405
No worries. Your question helps to find points that aren't intuitive enough. 👍

[2019-07-26 15:34] tom-sherman commented on #405
@diegohaz I was trying to get your solution to work initially, however the piece I was missing was that I need to pass it in as `{state: true}` and not just `true`.

I was trying to use the hook exactly how `React.setState` works. Is there ever a scenario where you would want to pass in a `setState` option to the `useCheckboxState` hook? Otherwise it might be more intuitive to do `useCheckboxState

[2019-07-26 15:48] diegohaz commented on #405
[`state` is the only option you can pass to `useCheckboxState`](https://reakit.io/docs/checkbox/#usecheckboxstate-1). So, yes, it would make sense to pass the value directly as an argument.

But, for the sake of consistency, **all** state hooks in the library behave similarly so you'll need to learn less things when using other Reakit components. Since objects address all of our use cases, that's

[2019-07-26 16:00] diegohaz commented on #405
But, of course, you can always create your own version of it:
[code]

[2019-07-27 00:05] tom-sherman commented on #405
Thanks for explaining your reasoning on this, it's really useful 👋

[2019-07-30 20:13] cross311 opened #406 "useFormState's type definition for values, expects a every field to be passed in instead of partial"
## 🐛 Bug report

### Current behavior

The values type in `useFormState` options, is expecting every field of the `V` type to be passed in. However normally when initializing a form, the component takes in the initial values as optional.  It would be nice if the `values` type was `Partial<V>` instead of just `V`.

### Steps to reproduce the bug

[code]

### Expected behavior

Would expect values t

[2019-07-30 20:14] cross311 commented on #406
Sorry for not passing in a codesandbox could not get a typescript codesandbox for create-react-app to work today :(

[2019-07-30 20:33] diegohaz commented on #406
Thank you for opening the issue @cross311!

I'd say that this is the intended behavior and it reflects the actual types you get at runtime. If you don't pass in an initial value for `a`, `form.values.a` will be `undefined`.

So, if we change those types, we also need to modify the implementation and assign an initial value for `a` automatically, which I'm not sure is possible given that the only w

[2019-07-30 20:34] diegohaz commented on #406
That's OK. The typescript version in CodeSandbox is outdated and doesn't work with Reakit.

[2019-07-30 20:43] cross311 commented on #406
@diegohaz thanks for getting back to me quickly!  As I was looking through the code to open a pull request, I realized this as well.

Creating a default values const and object assigning it easily handles the type. And with form validation won't let those come out.

[code]

[2019-08-05 13:11] EmilEriksen opened #407 "Hidden - unstable_animating not set to false when visible (or confusing documentation)"
Currently the documentation for the `unstable_animated` prop says

I'd expect this to mean that at the end of the animation `animating` would be set to `false` regardless of `visible` state but what is currently happening is that when `visible` becomes `true`, `animating` is set to `true` and remains `true` indefinitely. When `visible` becomes `false`, `animating` is set to `true` until the animat

[2019-08-05 13:22] diegohaz commented on #407
Thanks for opening the issue @EmilEriksen! :)

Just out of curiosity, what's your use case for needing `animating` to be `false` when the component is visible? I'm asking this because I'm pretty sure that it was let `true` to avoid an unnecessary re-render.

[2019-08-05 14:30] EmilEriksen commented on #407
Thanks for the quick reply! Big fan of your work with this project btw :)

I don't necessarily think there's anything wrong with the way it works now but if it's currently working as intended, I think the documentation should probably be updated. The way it's phrased now gave me the impression that `animating` should be set to `false` regardless of `visible` state at the end of the animation.

Tha

[2019-08-05 16:47] diegohaz commented on #407
I'm gonna find a time to check this later. If you wanna play with it before, it should work by simply removing the `options.visible` here:
https://github.com/reakit/reakit/blob/29c4456339306f020996c38276c2f9edf3f6697b/packages/reakit/src/Hidden/Hidden.ts#L56-L68

`npm run storybook` will show an animated example to test.

[2019-08-06 05:08] brandonjpierce commented on #393
Ran into this problem myself recently. The problem actually lies in the internal `onClick` function passing a different event than the one emitted from an actual `onChange` event.

https://github.com/reakit/reakit/blob/master/packages/reakit/src/Checkbox/Checkbox.ts#L112

`onChange` is being passed a `MouseEvent` here instead of a `onChange` synthetic event thus the incorrect value.